@charset "UTF-8";
@use "../../global" as *;
.c-article {
  &__eyecatch {
    @include mq-max("lg") {
      width: 90%;
      max-width: rem(960px);
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
.c-article-header {
  position: relative;
  display: flex;
  flex-direction: column;
  &__title {
    font-weight: 700;
    order: 2;
  }

  &__date {
    @include font-en;
    color: $c-black;
    order: 3;
    margin-top: rem(16px);
  }

  &__cat-list {
    order: 1;
    display: flex;
    margin-bottom: rem(16px);
  }

  &__cat-item {
    &:not(:first-child) {
      margin-left: rem(12px);
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;

    @include font-en;
    a {
      color: $c-black;
      background-image: url(../img/external_post-works.svg);
      fill: $c-black;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: rem(12px);
      padding-right: rem(16px);
      text-decoration: underline;
    }
  }
}
