@charset "UTF-8";
@use "../../global" as *;

.c-btn {
  line-height: 1;
  background: $c-primary;
  color: $c-white;
  text-align: center;
  font-weight: 700;
  display: inline-flex;
  letter-spacing: 0.04em;
  transition: all 0.3s ease-in-out;
  border-radius: rem(29px);
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  will-change: transform;
  text-decoration: none;
  span {
    z-index: 1;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  &::after {
    background: url(../img/btn_arrow_primary.svg) center center no-repeat $c-white;
    transition: transform 0.2s;
    z-index: 2;
  }
  &::before {
    transition: transform 0.4s;
    background: $c-primary;
    z-index: 0;
  }
  @include hover {
    background-color: $c-primary;
    text-decoration: none !important;
    color: $c-white;
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: scale(24);
    }
  }
}
