@charset "UTF-8";
@use "../../global" as *;
.c-category-tag {
  color: $c-white;
  text-align: center;
  padding: rem(6px) 0;
  width: rem(140px);
  border-radius: rem(2px);
  background-color: $c-primary;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  &.-green {
    background-color: $c-primary;
  }
  &.-blue {
    background-color: #5ea6d1;
  }
  &.-yellow {
    background-color: $c-primary;
  }
}
