@charset "UTF-8";
@use "../../global" as *;

.c-category-header {
  margin-bottom: rem(48px);
  max-width: rem(738px);
  &__post-type {
    font-weight: 700;
    @include font-en;
    margin-bottom: rem(20px);
    background-image: url(../img/icon_blog_square.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: rem(16px);
    padding-left: rem(28px);
    display: flex;
    align-items: center;
    &:after {
      border-top: 1px solid $c-black;
      content: "";
      width: rem(32px);
      margin-left: rem(12px);
    }
  }

  &__title {
    font-weight: 700;
    margin-bottom: rem(24px);
    display: inline-block;
  }

  &__pages {
    display: inline-block;

    color: $c-black;
    margin-left: rem(16px);
    @include font-en;
  }

  &__description {
  }
}
