@charset "UTF-8";
@use "../../global" as *;

.c-flow-list {
  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(24px);
    &::before {
      background-color: $c-primary;
      border-radius: 100%;
      content: "";
      display: block;
      height: 9px;
      left: 0;
      position: absolute;
      top: 0.75rem;
      width: 9px;
    }
    &::after {
      border-left: 1px dashed $c-primary;
      content: "";
      display: block;
      height: 100%;
      left: 4px;
      position: absolute;
      top: 1.25rem;
    }
    &:last-child::after {
      content: none;
    }
  }

  &__pic {
    width: rem(120px);
    img {
      border-radius: rem(8px);
    }
    @include mq-max("sm") {
      width: rem(80px);
    }
  }

  &__text-box {
    flex: 1;
    padding: 0 rem(32px) 0 rem(42px);
  }

  &__box-heading {
    font-weight: 700;
  }
  &__text {
    margin-top: rem(12px);
  }
}
