@charset "UTF-8";
@use "../../global" as *;

.c-heading-01 {
  text-align: center;

  font-weight: 700;
  &:before {
    content: attr(data-en);

    color: $c-primary;
    font-weight: 500;
    display: block;
    margin-bottom: rem(12px);
    @include font-en;
    @include mq-max("lg") {
      margin-bottom: rem(8px);
    }
  }
}

.c-heading-02 {
  font-weight: 700;
  text-align: center;
  &:before {
    content: attr(data-en);

    color: $c-primary;
    font-weight: 500;
    display: block;
    margin-bottom: rem(16px);
    @include font-en;
    @include mq-max("lg") {
      margin-bottom: rem(12px);
    }
  }
}

.c-heading-03 {
  font-weight: 700;
}

.c-heading-04 {
  font-weight: 700;
}

.c-heading-05 {
  @include font-en;
  font-weight: 700;
  &__sub {
    font-weight: 500;
    display: block;
    margin-top: rem(8px);
  }
}

.c-heading-06 {
  font-weight: 700;
  text-align: center;
  &__en {
    color: $c-black;
    @include font-en;
    font-weight: 500;
  }
}

.js-anime-heading span span {
  will-change: transform;
}
