@charset "UTF-8";
@use "../../global" as *;
.c-link-has-arrow {
  color: $c-primary;
  font-weight: bold;
  transition:
    color 0.4s,
    letter-spacing 0.2s;
  display: flex;
  align-items: center;
  svg {
    margin-left: rem(12px);
    width: rem(10px);
    height: auto;
    transition: transform 0.2s;
    margin-top: rem(3px);
  }
  path {
    fill: $c-primary;
    transition:
      fill 0.4s,
      transform fill 0.2s;
  }
  @include hover {
    color: $c-primary;
    letter-spacing: 0.1em;
    svg {
      transform: rotate(45deg);
    }
    path {
      fill: $c-primary;
    }
  }
}
