@charset "UTF-8";
@use "../../global" as *;
.c-pagination {
  &__list,
  ul.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item,
  ul.page-numbers li {
    margin: 0 rem(6px);
    font-weight: 700;

    @include font-en;
    @include mq-max("sm") {
      margin: 0;
    }
    &.-disable {
      opacity: 0.3;
    }
    &.-current span,
    span.current {
      color: $c-primary;
    }
  }

  &__arrow {
    fill: $c-black;
    &.-next {
      transform: rotate(180deg);
    }
  }

  a,
  span {
    transition:
      color 0.4s,
      border-radius 0.2s,
      background-color 0.4s;
    width: rem(40px);
    height: rem(40px);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: rem(20px);
    svg {
      width: rem(18px);
    }
  }
  a {
    @include hover {
      background-color: $c-primary;
      color: $c-white;
      font-weight: 700;
      border-radius: rem(8px);
      svg {
        fill: $c-white;
      }
    }
  }
}

//the_posts_pagination()導入後のcss
/*
.pagination .nav-links {
  margin-top: rem(80px);
}

ul.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-en;
}

.pagination .nav-links .current {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-primary;
  color: $c-white;
  font-weight: 700;
  margin: 0 rem(4px);
}
.pagination .nav-links .dots {
  display: inline-block;
  margin: 8px;

  font-weight: bold;
  letter-spacing: rem(0.2px);
}
.pagination .nav-links a.page-numbers {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin: 0 rem(4px);
}
.pagination .nav-links a.page-numbers:hover {
  color: $c-primary;
  border: 2px solid $c-primary;
}
.pagination .nav-links a.prev.page-numbers,
.pagination .nav-links a.next.page-numbers {
  width: auto;
  padding-right: 6px;
  padding-left: 6px;
  border: 0;
  border-bottom: 1px solid #005bac;
  border-radius: 0;
  background: transparent;
}
.pagination .nav-links a.prev.page-numbers:hover,
.pagination .nav-links a.next.page-numbers:hover {
  background: #005bac;
  color: #fff;
}
*/
