@charset "UTF-8";
@use "../../global" as *;
.c-post-list-row {
  &__item {
    border-bottom: 1px solid $c-black;
    &:last-child {
      border-bottom: none;
    }
    a {
      display: flex;
      align-items: center;
      padding: rem(20px) rem(32px) rem(20px) 0;
      background-image: url(../img/icon_right_green.svg);
      background-repeat: no-repeat;
      background-position: right rem(6px) center;
      background-size: rem(24px);
      transition:
        color 0.4s,
        background-position 0.4s;
      @include hover {
        background-position: right center;
        color: $c-primary;
      }
      @include mq-max("sm") {
        display: block;
        padding: rem(12px) rem(32px) rem(12px) 0;
      }
    }
  }
  &__heading {
    flex: 1;

    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    @include mq-max("sm") {
      margin-top: rem(2px);
    }
  }

  &__date {
    font-weight: 500;
    @include font-en;
    width: rem(84px);
    display: inline-block;
    @include mq-max("sm") {
      width: auto;
    }
  }

  &__cat {
    color: $c-white;
    text-align: center;
    padding: rem(5px) 0;
    width: rem(132px);
    border-radius: rem(2px);
    margin: 0 rem(20px);
    display: inline-block;
    font-weight: 700;
    background: $c-primary;
    @include mq-max("sm") {
      width: auto;
      padding: rem(2px) rem(12px) rem(4px);
      margin-left: rem(8px);
      vertical-align: rem(2px);
    }
    &.-green {
      background-color: green;
    }
    &.-blue {
      background-color: $c-primary;
    }
    &.-yellow {
      background-color: $c-primary;
    }
  }
}
