@charset "UTF-8";
@use "../../global" as *;
.c-post-link {
  margin-top: rem(80px);
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__item {
    font-weight: 700;
    @include font-en;
    &:nth-child(2) {
      margin: 0 rem(80px);
      @include mq-max("md") {
        margin: 0 rem(40px);
      }
    }
    &.-prev {
      background-image: url(../img/arrow_right_primary.svg);
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: rem(28px);
      transform: scale(-1, 1);
      span {
        transform: scale(-1, 1);
        display: inline-block;
      }
    }

    &.-next {
      background-image: url(../img/arrow_right_primary.svg);
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: rem(28px);
    }

    &.-disabled {
      opacity: 0.3;
    }
  }
}
