@charset "UTF-8";
@use "../../global" as *;

.c-schedule {
  display: flex;
  justify-content: space-between;
  @include mq-max("sm") {
    flex-direction: column;
  }
  .c-heading-02 {
    text-align: left;
    @include mq-max("sm") {
      text-align: center;
    }
  }
  &__header {
    width: rem(304px);
    margin-right: rem(40px);
    @include mq-max("lg") {
      width: rem(240px);
      margin-right: rem(32px);
    }
    @include mq-max("sm") {
      width: 100%;
      margin-bottom: rem(32px);
    }
  }

  &__header-list {
    margin-top: rem(40px);
    list-style: disc;
    margin-left: 1.4em;
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(8px);
    @include mq-max("sm") {
      margin-top: rem(32px);
      gap: rem(4px);
    }
  }

  &__header-item {
  }
  &__list {
    flex: 1;
    background-color: $c-black;
    border-radius: rem(16px);
    padding: rem(40px) rem(48px);
    @include mq-max("lg") {
      padding: rem(32px) rem(40px);
    }
    @include mq-max("sm") {
      padding: rem(24px) rem(16px);
    }
  }
  &__item {
    padding-bottom: rem(32px);
    padding-left: rem(24px);
    display: flex;
    align-items: flex-start;
    position: relative;
    @include mq-max("sm") {
      padding-bottom: rem(24px);
    }
    &:last-child {
      padding-bottom: 0;
    }
    &::before {
      background-color: $c-primary;
      border-radius: 100%;
      content: "";
      display: block;
      height: rem(9px);
      left: 0;
      position: absolute;
      top: 0.6rem;
      width: rem(9px);
    }
    &::after {
      border-left: 1px dashed $c-primary;
      content: "";
      display: block;
      height: 100%;
      left: rem(4px);
      position: absolute;
      top: 1rem;
    }
    &:last-child::after {
      content: none;
    }
  }
  &__time {
    color: $c-white;

    background-color: $c-primary;
    width: rem(80px);
    font-weight: 700;
    padding: rem(3px) 0 rem(5px);
    text-align: center;
    border-radius: rem(16px);
    margin-top: rem(2px);
  }

  &__text {
    flex: 1;
    margin-left: rem(16px);
    font-weight: 700;
  }

  &__note {
    font-weight: 400;

    &::before {
      content: " / ";
      @include mq-max("lg") {
        content: "";
        display: block;
        margin-top: rem(4px);
      }
    }
  }
}
