@charset "UTF-8";
@use "../../global" as *;
.c-share {
  margin-top: rem(80px);
  &__heading {
    text-align: center;

    @include font-en;
    font-weight: 700;
    margin-bottom: rem(20px);
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    &:nth-child(2) {
      margin: 0 rem(20px);
    }
    a {
      background-color: $c-black;
      border-radius: 50%;
      width: rem(44px);
      height: rem(44px);
      display: block;
    }

    &.-twitter {
      a:hover {
        transition: all 0.3s ease-in-out;
        background-color: $c-twitter;
      }
    }

    &.-facebook {
      a:hover {
        transition: all 0.3s ease-in-out;
        background-color: $c-facebook;
      }
    }

    &.-hatebu {
      a:hover {
        transition: all 0.3s ease-in-out;
        background-color: $c-hatebu;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
