@charset "UTF-8";
@use "../../global" as *;

.c-sub-heading {
  margin-bottom: rem(96px);
  background: linear-gradient(180deg, $c-primary-300 0%, $c-primary 100%);
  flex-shrink: 0;
  width: 100%;
  height: calc(100vw / 3);
  display: flex;
  position: relative;
  @include mq-max("sm") {
    height: auto;
    flex-direction: column;
    background: none;
    margin-bottom: rem(64px);
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding-left: vw(112px);
    color: $c-white;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding-bottom: vw(60px);
    @include mq-max("lg") {
      padding-left: 5vw;
    }
    @include mq-max("sm") {
      order: 3;
      padding: 0;
      align-items: center;
      background: linear-gradient(180deg, $c-primary 0%, $c-white 100%);
      padding: rem(32px) 0 rem(96px);
    }
  }
  &__main {
    font-size: 51px;
    display: block;
    @include mq-max("xl") {
      font-size: vw(51px);
    }
    @include mq-max("lg") {
      font-size: rem(36px);
    }
    @include mq-max("sm") {
      font-size: rem(33px);
    }
    line-height: 1em;
    letter-spacing: 0.04em;
    order: 2;
    font-weight: 700;
  }
  &__sub {
    margin-bottom: rem(20px);
    display: block;
    @include font-en;
    order: 1;

    @include mq-max("lg") {
      margin-bottom: rem(16px);
    }
  }
  &__pic {
    width: vw(768px);
    border-radius: 0 0 0 vw(480px);
    overflow: hidden;
    @include mq-max("sm") {
      width: 100%;
      border-radius: 0;
      order: 1;
    }
  }
  .c-separator-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    @include mq-max("sm") {
      position: relative;
      order: 2;
      margin-top: vw(-84px);
      div {
        background-image: url(../img/wave_primary.svg);
        &::before {
          background-image: url(../img/wave_primary.svg);
        }
      }
    }
    @include mq-max("sm") {
      margin-top: rem(-80px);
    }
  }
}
