@charset "UTF-8";
@use "../../global" as *;

.c-table-01 {
  width: 100%;
  th,
  td {
    @include mq-min("sm") {
      padding: rem(20px) rem(32px);
      border-bottom: 1px solid $c-black;
    }
    @include mq-max("sm") {
      padding: rem(12px) rem(24px);
      display: block;
      border-left: 1px solid $c-black;
      border-right: 1px solid $c-black;
    }
  }
  th {
    white-space: nowrap;
    font-weight: 700;
  }
  td {
    font-weight: 400;
    word-break: break-all;
    strong {
      font-weight: 700;
    }
    ul {
      list-style: disc;
      margin: 1.5em 0 1.5em 1.4em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  thead {
    th {
      background: $c-primary;
      color: $c-white;
    }
  }
  tbody {
    th {
      background-color: $c-black;
    }
  }
  & > :first-child > tr:first-child > :first-child {
    border-top-left-radius: rem(16px);
    @include mq-max("sm") {
      border-top-left-radius: rem(12px);
      border-top: 1px solid $c-black;
    }
  }
  & > :last-child > tr:last-child {
    @include mq-min("sm") {
      th,
      td {
        border-bottom: none;
      }
      & > :first-child {
        border-bottom-left-radius: rem(16px);
      }
    }
    @include mq-max("sm") {
      & > :last-child {
        border-bottom-left-radius: rem(16px);
        border-bottom: 1px solid $c-black;
      }
    }
  }
}
