@use "../global" as *;
/*********************************************
背景色
**********************************************/
.u-bg-white {
    background-color: $c-white;
}
.u-bg-primary {
    background-color: $c-primary;
}
.u-bg-primary-100 {
    background-color: $c-primary-100;
}
.u-bg-primary-050 {
    background-color: $c-primary-050;
}
.u-bg-base-050 {
    background-color: $c-base-050;
}
