@use "../global" as *;
/*********************************************
font-size
**********************************************/
.u-border {
  border-width: rem(1px);
  border-style: solid;
}
.u-border-0 {
  border-width: 0px;
  border-style: solid;
}
.u-border-2 {
  border-width: rem(2px);
  border-style: solid;
}
.u-border-primary {
  border-color: $c-primary;
}
.u-border-black {
  border-color: $c-black;
}
.u-border-white {
  border-color: $c-white;
}
