@use "../global" as *;

.u-has-check {
  font-size: rem(14px);
  font-weight: 700;
  background: url(../img/icon/icon_check_primary.svg) left top 7px no-repeat;
  background-size: rem(7px);
  padding-left: rem(20px);
  display: inline-block;
  line-height: 1.5;
}
