@use "../global" as *;
/*********************************************
display
**********************************************/
$display: (block, inline-block, inline, flex, inline-flex, grid, inline-grid);
@each $property in $display {
  .u-#{$property} {
    display: $property;
  }
  @include mq-max("sm") {
    .sm\:u-#{$property} {
      display: $property;
    }
  }
  @include mq-min("sm") {
    .sm-min\:u-#{$property} {
      display: $property;
    }
  }
}
