@use "../global" as *;
/*********************************************
font-size
**********************************************/
.u-text-primary {
  color: $c-primary;
}
.u-text-red {
  color: $c-danger;
}
.u-text-white {
  color: $c-white;
}
.u-text-black {
  color: $c-black;
}
.u-text-gray {
  color: $c-base-600;
}
.u-text-blue {
  color:$c-blue;
}