@use "../global" as *;
/*********************************************
border-radius
**********************************************/
@for $i from 0 through 6 {
  .u-radius-#{$i} {
    border-radius: rem($i * 4px);
    overflow: hidden;
    & > img {
      border-radius: rem($i * 4px);
    }
  }
  @include mq-max("sm") {
    .sm\:u-radius-#{$i} {
      border-radius: rem($i * 4px);
      overflow: hidden;
      & > img {
        border-radius: rem($i * 4px);
      }
    }
  }
}
