@use "../global" as *;
/*********************************************
font-size
**********************************************/
.u-text-underline {
  text-decoration: underline;
}
.u-line-through {
  text-decoration-line: line-through;
}
.u-text-no-underline {
  text-decoration: none;
}
