/* reset
----------------------------------------*/
html{
    color:#000;background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;padding:0;
}
table{
    border-collapse:collapse;border-spacing:0;
}
fieldset,img{ border:0; }
address,caption,cite,code,dfn,em,strong,th,var{
    font-style:normal;font-weight:normal;
}
caption,th{ text-align:left; }
h1,h2,h3,h4,h5,h6{
    font-size:100%;font-weight:normal;
}
q:before,q:after{ content:''; }
abbr,acronym{ border:0;font-variant:normal; }
sup{ vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
input,textarea,select{ font-family:inherit;font-size:inherit;font-weight:inherit; }
input,textarea,select{ *font-size:100%; }
legend{ color:#000; }

/***************************************************************************/

.fs8  { font-size: 8px !important; }
.fs8b { font-size: 8px; font-weight: bold !important; }
.fs9  { font-size: 9px !important; }
.fs9b { font-size: 9px; font-weight: bold !important; }
.fs10 { font-size: 10px !important; }
.fs10b{ font-size: 10px; font-weight: bold !important; }
.fs11 { font-size: 11px !important; }
.fs11b{ font-size: 11px; font-weight: bold !important; }
.fs12 { font-size: 12px !important; }
.fs12b{ font-size: 12px; font-weight: bold !important; }
.fs13 { font-size: 13px !important; }
.fs13b{ font-size: 13px; font-weight: bold !important; }
.fs14 { font-size: 14px !important; }
.fs14b{ font-size: 14px; font-weight: bold !important; }
.fs15 { font-size: 15px !important; }
.fs15b{ font-size: 15px; font-weight: bold !important; }
.fs16 { font-size: 16px !important; }
.fs16b{ font-size: 16px; font-weight: bold !important; }
.fs17 { font-size: 17px !important; }
.fs17b{ font-size: 17px; font-weight: bold !important; }
.fs18 { font-size: 18px !important; }
.fs18b{ font-size: 18px; font-weight: bold !important; }
.fs19 { font-size: 19px !important; }
.fs19b{ font-size: 19px; font-weight: bold !important; }
.fs20 { font-size: 20px !important; }
.fs20b{ font-size: 20px; font-weight: bold !important; }

.fs10t { font-size: 10pt !important; }
.fs11t { font-size: 11pt !important; }
.fs12t { font-size: 12pt !important; }
.fs13t { font-size: 13pt !important; }
.fs14t { font-size: 14pt !important; }
.fs15t { font-size: 15pt !important; }
.fs16t { font-size: 16pt !important; }
.fs17t { font-size: 17pt !important; }
.fs18t { font-size: 18pt !important; }
.fs19t { font-size: 19pt !important; }
.fs20t { font-size: 20pt !important; }

.tal { text-align: left !important; }
.tac { text-align: center !important; }
.tar { text-align: reight !important; }



html,
body {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
}

body {
	font-size: 14px;
	text-align: center;
	color: #454545;
	position: relative;
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	/*border-top: 10px solid #d36ca1;*/
	 -webkit-text-size-adjust: 100%;
}

.explanation {
	margin : 0 10px 10px;
	text-align : left;
	/*font-size: 1.2em;*/
	line-height: 1.5em;
	padding-bottom: 20px;
}
.explanation li {
	list-style: none;
}

body.explanation h1 {

}

.explanation h2 {
	border-bottom:3px #a9a9a9 solid;
	width:99%;
	margin-bottom: 10px;
	padding: 5px 3px 1px 0px;
	margin-left:2px;
	text-indent:1.2em;
	text-align: left;
	line-height:22px;
	font-size: 14px;
	font-weight:bold;
	background-image: url(../spimg/img_titledeco_pur.png);
	background-size: 8px 25px;
	-webkit-background-size: 8px 25px;
	-moz-background-size: 8px 25px;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	z-index:1;
}

ul.ate_a00 {			/*ÉCÉìÉfÉìÉg*/
	margin-left: 1.0em;	
}

ul.ate_a00 li {			/*ÉCÉìÉfÉìÉg*/
	list-style:none;
	text-indent: -0.0em;
}

#content {
	padding: 0 0 20px 0;
	font-size: 12px;
}

#content .tx_area {
	padding: 0 10px;
}

#content .tx_area table {
	border: 1px solid #aaa;
}

#content .tx_area table tr {
	//border-style:dashed;
	//border-width:1px;
	border: 1px solid #aaa;
}

#content .tx_area table th {
	border-bottom: 1px solid #aaa;
	background: #808080;
	color: #fff;
}
#content .tx_area table td {
	border-left: 1px solid #aaa;
	text-align: left;
	padding: 3px 2px;
	height: 44px;
}

#content .tx_area table td.topline {
	border-top: 1px solid #aaa;
}

#content p {
	margin: 0 0 10px 0;
	line-height: 1.5em;
}
#content .rubyline {
	line-height:0em;
	vertical-align:top;
}
#content .rubylayer {
	display: inline-block;
	_display: inline;
}
#content .rubytext{
	margin-top:0px;
	margin-bottom:0px;
	font-size:60%;
	font-family:"Meiryo UI", monospace;
}
#content .rubytextsp{
	margin-top:5px;
	margin-bottom:0px;
	vertical-align:bottom;
	font-size:60%;
	font-family:"Meiryo UI", monospace;
	line-height:80%;
	position:absolute;
	-webkit-transform: scale3d(0.7, 0.7, 1);
	-webkit-transform-origin: 0px 0px;
	-webkit-word-break: normal;
	-webkit-word-wrap: break-word;
}
#content .primarytext{
	margin-top:0px;
	margin-bottom:0px;
	font-size:100%;
}
#content .rubywrap {
	margin-top:10px;
}


#content p.fb {
	font-weight: bold;
}

#content p.last {
	margin: 0 0 0 0;
	line-height: 1.5em;
}

#content p.end {
	margin: 30px 0 50px 0;
	text-align: right;
}

#content .tx_area .tx_title {
	margin: 20px 0px 10px 0px;
	font-weight: bold;
	text-align: left;
}

.vertical {
	//width: 430px;
	//height: 180px;
	writing-mode: tb-rl;
	direction: ltr;
}




#document_no {
	margin-top: 20px;
}

#document_no p {
	text-align: right;
	font-size: 12px;
}


#kokuchi .kokuchiTxt {
	margin: 20px;
	text-align: left;
}

#kokuchi .kokuchiTxt2 {
	margin: 20px 30px;
	text-align: left;
}

#kokuchi .itemization {
	margin-left: 1em;
	text-indent: -1em;
}

#kokuchi dl.itemizationList dd {
	margin-left: 1em;
}

#kokuchi ul.itemization li:nth-child(n+1),
#kokuchi dl.itemizationList dt:nth-child(n+1) {
	margin-top: 0.3em;
}

#kokuchi .red {
	color: #D3746F;
	font-weight: bold;
}

#kokuchi .redLink {
	color: #ff0000;
}

#kokuchi .notice {
	text-decoration: underline;
	font-weight: bold;
}

#font_blue {
	color:#0066CC;
}

#content_01 {
	padding: 0 0 10px 0;
	font-size:12px;
}

#content_01 h3{
	border-bottom: 1px solid #aaa;
	color: #3E3FB0;
	padding: 5px;
	background-color: #f8e8f1;
	font-weight: bold;
}
#content_01 .tx_area {
	padding: 0;
	border: 5px solid #F5A9A9;
	border-radius: 6px 6px 6px 6px;
	margin: 0 0 0px;
}

#content_01 .tx_area .cont_wrap {
	margin: 5px;
	width: 100%;
}

#content_01 .tx_area .cont_wrap table {
	width: 100%;
}

#content_01 .tx_area .cont_wrap table th {
	width: 23%;
}

#content_01 .tx_area .cont_wrap table th img {
	width: 100%;
}

#content_01 .tx_area .cont_wrap table td {
	padding: 10px;
}

#content_01 .tx_area .cont_wrap table td ul {
	margin: 0 0 0 1.0em;
}

#content_01 .tx_area .cont_wrap table td ul li {
	font-size: 14px;
	color: #3E3FB0;
	text-indent: -1.0em;
}

#content_01 .tx_area .cont_wrap table td ul li.no7 {
	font-size: 12px;
	color: #3E3FB0;
	text-indent: -1.0em;
}

#content_01 .tx_area .cont_wrap p {
	margin: 0 0 0 0;
	line-height: 1.5em;
}



#P_5{
	margin-left:auto;    /* ç∂ë§É}Å[ÉWÉìÇé©ìÆìIÇ…ãÛÇØÇÈ */
	margin-right:auto;   /* âEë§É}Å[ÉWÉìÇé©ìÆìIÇ…ãÛÇØÇÈ */
	text-align:left;     /* íÜêgÇç∂ë§ï\é¶Ç…ñﬂÇ∑ */
	width:300px;         /* ïùÇåàíËÇ∑ÇÈ */
}

/***** #content_02_stt *****/
#content_02 {
	padding: 0 0 5px 0;
	font-size:12px;
}

#content_02 h3{
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	color: #003366;
	padding: 5px;
	background-color: #eeeeee;
	font-weight: bold;
	margin: 20px 0 0 0;
}

#content_02 h3.first {
	border-bottom: 1px solid #aaa;
	border-top: none;
	color: #003366;
	padding: 5px;
	background-color: #eeeeee;
	font-weight: bold;
	margin: 0 0 0 0;
}

#content_02 .tx_area {
	padding: 0;
	border: 2px solid #6699cc;
	margin: 0 0 5px;
}

#content_02 .tx_area .cont_wrap {
	margin: 5px;
}

#content_02 p {
	margin: 0 0 5px 0;
	line-height: 1.5em;
}

#content_02 p.last {
	margin: 0 0 0 0;
	line-height: 1.5em;
}

#content_02 .tx_area .cont_wrap ul {
	margin: 0 0 0 2.0em;
}
#content_02 .tx_area .cont_wrap a {
	text-decoration: underline;
}

#content_02 .tx_area .cont_wrap ul li {
	text-indent: -1.0em;
	line-height: 1.5em;
}

#content_02 .tx_area .cont_wrap ul li.last {
	padding: 0 0 10px 0;
}


#content_02 .tx_area .cont_wrap p.p_wrap {
	margin-left: 1.0em;
	line-height: 1.5em;
}
#content_02 .tx_area .cont_wrap ul.ate li {
	text-indent: -1.0em;
	line-height: 1.5em;
}
#content_02 .tx_area .cont_wrap p.red {
	color: #D3746F;
	font-weight: bold;
}
#content_02 .notice {
	font-weight: bold;
}
#content_02 dl.itemizationList{
	margin-left: 1.0em;
}

#content_02 dl.itemizationList dt {
	margin-left: 1em;
	text-indent: -1em;
}
#content_02 dl.itemizationList dd {
	margin-left: 1em;
}


#content_02 .tx_area .cont_wrap ul.itemization li {
	margin-right:10px;
}

/***** #content_02_end *****/





#P_5 {
	padding: 5px 0px 30px 0px;
}

#P_5 table {
	//border: 1px solid #aaa;
	width: 600px;
	//width: 300px;
}

#P_5 table tr {
	//border: 1px solid #aaa;
	width: 600px;
	//width: 300px;
}
#P_5 table td.tdimg img {
	width: 100%;
	padding: 20px 0px 0px 5px;
	//padding: 10px 0px 0px 5px;
}

#P_5 table td.tdimg p {
}

#P_5 table td.tdimg div.maintxt {
	margin-left: 0.8em;
}

#P_5 table td.tdimg div.maintxt p.toptxt {
	//width: 100%;
	padding: 20px 0px 0px 5px;
	//padding: 15px 0px 0px 0px;
	color:#707070;						// îñÇ¢äDêF
}
#P_5 table td.tdimg div.maintxt p.dattxt1 {
	//width: 100%;
	padding: 20px 0px 0px 5px;
	//padding: 5px 0px 0px 13px;
	color:#000000;
	text-indent: -1.0em;
	line-height:15px;
}
#P_5 table td.tdimg div.maintxt p.dattxt2 {
	//width: 100%;
	padding: 20px 0px 0px 5px;
	//padding: 8px 0px 5px 13px;
	color:#707070;						// îñÇ¢äDêF
	text-indent: -0.5em;
	line-height:20px;
}
#P_5 table td.tdimg div.maintxt p.dattxt3 {
	//width: 100%;
	padding: 20px 0px 0px 5px;
	//padding: 8px 0px 0px 13px;
	color:#707070;						// îñÇ¢äDêF
	text-indent: -0.5em;
	line-height:20px;
}
#P_5 table td.tdimg div.maintxt p.dattxt4 {
	//width: 100%;
	padding: 20px 0px 0px 5px;
	//padding: 0px 0px 5px 13px;
	color:#707070;						// îñÇ¢äDêF
	text-indent: -0.5em;
	line-height:20px;
}



#P_5 table td.tdimg div.maintxt2 {
	margin-left: 1.8em;
}
#P_5 table td.tdimg div.maintxt2 p.dattxt {
	//width: 100%;
	padding: 10px 0px 10px 0px;
	color:#707070;						// îñÇ¢äDêF
	text-indent: -0.5em;
	line-height:20px;
}
.txtindent1 {
	text-indent: -1.0em;
}

#P_5 table td.tdimg div.detail {
	margin-left: 2.7em;
}
#P_5 table td.tdimg div.detail p.data1 {
	//width: 100%;
	padding: 20px 0px 0px 5px;
	//padding: 0px 0px 0px 0px;
	color:#707070;						// îñÇ¢äDêF
	margin-left: 2.0em;
	text-indent: -1.0em;
}
#P_5 table td.tdimg div.detail p.data2 {
	//width: 100%;
	padding: 20px 0px 0px 5px;
	//padding: 0px 0px 10px 0px;
	color:#707070;						// îñÇ¢äDêF
	margin-left: 2.0em;
	text-indent: -1.0em;
}
#P_5 table th {
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	//width: 200px;
	width: 150px;
}
#P_5 table th img {
	width: 100%;
}
#P_5 table td.textstyl {
	vertical-align: top;
	text-align: left;
	padding: 20px 0px 3px 5px;
	//padding: 10px 0px 10px 5px;
	font-size: 10.5pt;
}
#P_5 table td.tdtel img {
	width: 100%;
	padding: 20px 0px 0px 5px;
	//padding: 10px 0px 0px 5px;
}
#P_5 table td.tdtel p {
	margin-top:-75px;
	margin-bottom:70px;
	font-size:18pt;
	font-weight:bold;
	padding-left:50px;
	color:#000000;
}
#P_5 table td.tdtel h1 {
	margin-top:-70px;
	margin-bottom:10px;
	padding-left:75px;
	width: 150px;
}

.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}

/*===========================================
  ÉtÉbÉ^Å[closeÉ{É^Éì
-----------------------------------------*/
div#floteArea {
	position: fixed !important;
	position:absolute;
	/*bottom: 1px;*/
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
}
div#floteArea a{
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	font-size:16px;
}

.close_float {
	margin:0;padding:0;
	font-size:18px;
	font-weight:bold;
	font-family:"ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	text-align:center;
	padding: 10px;
	/*padding: 11px 10px 9px 10px;*/
	background:#585657;
	background-size:10px 4px;
}

.close_float a{
	color:#fff;
	text-decoration:none;
	
}

