<nav class="l-header-nav">
  <ul class="l-header-nav__list -col-6">
    <li class="l-header-nav__item">
      <a href="/pc/keiyakusya/pet/index.html">
        ペットの保険<br />
        ご契約者の方
      </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/keiyakusya/pet/insurance-claim.html"> 保険金の請求をしたい </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/keiyakusya/pet/anicli24.html"> かかりつけ獣医師ダイヤルを<br />利用したい </a>
    </li>
    <li class="l-header-nav__item -small">
      <a href="/pc/keiyakusya/pet/jyusetsu.html"> 重要事項説明書・<br />ご契約のしおり（約款）を<br />確認したい </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/otoiawase/index.html"> 電話やメールで<br />問合せをしたい </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/keiyakusya/pet/app.html"> 「アニポス」アプリを<br />ダウンロードしたい </a>
    </li>
  </ul>
</nav>
<img src="/assets/img/common/header_nav_scroll.svg" class="l-header-nav__scroll" alt="スクロールアイコン" loading="eager" />
