<nav class="l-header-nav">
  <ul class="l-header-nav__list -col-5">
    <li class="l-header-nav__item">
      <a href="/pc/keiyakusya/kokunai/index.html">
        国内旅行の保険<br />
        ご契約者の方
      </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/keiyakusya/kokunai/accidents.html"> 事故の連絡をしたい </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/keiyakusya/kokunai/insurance-claim.html"> 保険金の請求をしたい </a>
    </li>
    <li class="l-header-nav__item -small">
      <a href="/pc/keiyakusya/kokunai/jyusetsu.html"> 重要事項説明書・<br />ご契約のしおり（約款）を<br />確認したい </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/otoiawase/index.html"> 電話やメールで問合せをしたい </a>
    </li>
  </ul>
</nav>
<img src="/assets/img/common/header_nav_scroll.svg" class="l-header-nav__scroll" alt="スクロールアイコン" loading="eager" />
