<footer class="l-footer">
  <p class="l-footer__number l-container lg:-full">0000000000(0000)</p>
  <div class="l-footer__top l-container lg:-full .sm:u-w-full">
    <h3 class="l-footer__top-logo">
      <picture>
        <source srcset="/common_2024/img/footer_logo.webp" type="image/webp" />
        <img src="/common_2024/img/footer_logo.png" alt="au損保" loading="lazy" />
      </picture>
    </h3>
    <div class="l-footer__top-pagetop">
      <a href="#top">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
          <path d="M3.125 17.1823L12.5281 7.8125L21.875 17.1875" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </div>
  <nav class="l-footer__nav">
    <div class="l-footer__row l-container lg:-full .sm:u-w-full">
      <div class="l-footer__col">
        <h3 class="l-footer__heading js-footer-toggle-btn">商品ラインナップ</h3>
        <div class="l-footer__content -block js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item">
              <a href="/pc/bicycle.html ">自転車向け保険</a>
              <ul class="l-footer__list">
                <li class="l-footer__item">
                  <a href="/pc/bycle/">Bycle<span class="l-footer__sub">(バイクル)</span></a>
                </li>
                <li class="l-footer__item">
                  <a href="/pc/bycle-best/">Bycle Best<span class="l-footer__sub">(バイクルベスト)</span></a>
                </li>
                <li class="l-footer__item">
                  <a href="/pc/bycle-s/">Bycle S<span class="l-footer__sub">(バイクルエス)</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="l-footer__list">
            <li class="l-footer__item">
              <a href="/pc/pet/">ペットの保険</a>
              <ul class="l-footer__list">
                <li class="l-footer__item">
                  <a href="/pc/pet-dog/">犬の保険</a>
                </li>
                <li class="l-footer__item">
                  <a href="/pc/pet-cat/">猫の保険</a>
                </li>
                <li class="l-footer__item"><a href="/pc/pet/simulation.html">保険料シミュレーション</a></li>
              </ul>
            </li>
          </ul>
          <ul class="l-footer__list -sm-col2">
            <li class="l-footer__item"><a href="/pc/kaigai/">海外旅行の保険</a></li>
            <li class="l-footer__item"><a href="/pc/kokunai/">国内旅行の保険 </a></li>
            <li class="l-footer__item"><a href="/pc/sports/">ケガの保険 日常の事故</a></li>
            <li class="l-footer__item"><a href="/pc/koutsuujiko/">ケガの保険 交通事故</a></li>
            <li class="l-footer__item"><a href="/pc/golf/">ゴルフの保険</a></li>
          </ul>
        </div>
      </div>
      <div class="l-footer__col">
        <h3 class="l-footer__heading js-footer-toggle-btn">ご契約者さまメニュー</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item"><a href="/pc/keizoku_tetsuzuki/">事故のご連絡</a></li>
            <li class="l-footer__item"><a href="/pc/keizoku_tetsuzuki/">継続のお手続き</a></li>
            <li class="l-footer__item"><a href="/pc/keiyakusya/">ご契約者さまへ</a></li>
          </ul>
        </div>
        <h3 class="l-footer__heading js-footer-toggle-btn">その他メニュー</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item"><a href="/pc/moushikomi/">お申込みについて</a></li>
            <li class="l-footer__item"><a href="https://faq.au-sonpo.co.jp/">よくあるご質問</a></li>
            <li class="l-footer__item"><a href="/pc/otoiawase/">総合お問い合わせ</a></li>
            <li class="l-footer__item"><a href="/app/">au損保のスマホアプリ</a></li>
          </ul>
        </div>
      </div>
      <div class="l-footer__col">
        <h3 class="l-footer__heading js-footer-toggle-btn">方針</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item -external"><a href="javascript:void(0)" onclick="openwin2('/pc/common/popup/PU_C_7.html','myau');">プライバシーポリシー</a></li>
            <li class="l-footer__item -external"><a href="javascript:void(0)" onclick="openwin2('/pc/common/popup/PU_C_52.html','myau');">セキュリティポリシー</a></li>
            <li class="l-footer__item -external"><a href="javascript:void(0)" onclick="openwin2('/pc/common/popup/PU_C_8.html','myau');">勧誘方針</a></li>
            <li class="l-footer__item -external"><a href="javascript:void(0)" onclick="openwin2('/pc/common/popup/PU_C_14.html','myau');">「お客さまの声」対応基本方針</a></li>
            <li class="l-footer__item -external"><a href="javascript:void(0)" onclick="openwin2('/pc/common/popup/PU_C_11.html','myau');">利益相反管理方針</a></li>
            <li class="l-footer__item -external"><a href="javascript:void(0)" onclick="openwin2('/pc/common/popup/PU_C_12.html','myau');">反社会的勢力に対する基本方針</a></li>
            <li class="l-footer__item -external"><a href="javascript:void(0)" onclick="openwin2('/pc/common/popup/PU_C_48.html','myau');">お客さま第一の業務運営に関する方針</a></li>
            <li class="l-footer__item -external"><a href="javascript:void(0)" onclick="openwin2('/pc/common/popup/PU_C_5.html','myau');">メールフィルター設定</a></li>
            <li class="l-footer__item -external"><a href="javascript:void(0)" onclick="openwin2('/pc/common/popup/PU_C_9.html','myau');">サイト利用規約</a></li>
          </ul>
        </div>
      </div>
      <div class="l-footer__col">
        <h3 class="l-footer__heading js-footer-toggle-btn">外部機関</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item"><a href="http://www.sonpo.or.jp/">日本損害保険協会</a></li>
            <li class="l-footer__item -external"><a href="javascript:void(0)" onclick="openwin2('/pc/common/popup/PU_C_17.html','myau');" target="_blank">そんぽADRセンター</a></li>
            <li class="l-footer__item"><a href="http://www.sonpohogo.or.jp/">損害保険契約者保護機構</a></li>
          </ul>
        </div>
        <h3 class="l-footer__heading js-footer-toggle-btn">会社情報</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item"><a href="/corporate/">会社情報</a></li>
            <li class="l-footer__item"><a href="/corporate/news/">お知らせ</a></li>
            <li class="l-footer__item"><a href="/corporate/recruit/">採用情報</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="l-footer__bottom l-container lg:-full">
    <h3 class="l-footer__bottom-logo">
      <a href="/pc/">
        <picture>
          <source srcset="/common_2024/img/footer_bottom_logo.webp" type="image/webp" />
          <img src="/common_2024/img/footer_bottom_logo.png" alt="au損害保険株式会社" loading="lazy" />
        </picture>
      </a>
    </h3>
    <p class="l-footer__bottom-copy">Copyright &copy; au insurance Co., Ltd. All Rights Reserved.</p>
  </div>
</footer>
<div class="l-drawer__cover"></div>
