<footer class="l-footer">
  <p class="l-footer__number l-container lg:-full">0000000000(0000)</p>
  <div class="l-footer__top l-container lg:-full .sm:u-w-full">
    <h3 class="l-footer__top-logo">
      <a href="#">
        <picture>
          <source srcset="/common_2024/img/footer_logo.webp" type="image/webp" />
          <img src="/common_2024/img/footer_logo.png" alt="au損保" loading="lazy" />
        </picture>
      </a>
    </h3>
    <div class="l-footer__top-pagetop">
      <a href="#top">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
          <path d="M3.125 17.1823L12.5281 7.8125L21.875 17.1875" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </div>
  <nav class="l-footer__nav">
    <div class="l-footer__row l-container lg:-full .sm:u-w-full">
      <div class="l-footer__col">
        <h3 class="l-footer__heading js-footer-toggle-btn">商品ラインナップ</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item">
              <a href="#">自転車向け保険</a>
              <ul class="l-footer__list">
                <li class="l-footer__item">
                  <a href="#">Bycle<span class="l-footer__sub">(バイクル)</span></a>
                </li>
                <li class="l-footer__item">
                  <a href="#">Bycle Best<span class="l-footer__sub">(バイクルベスト)</span></a>
                </li>
                <li class="l-footer__item">
                  <a href="#">Bycle S<span class="l-footer__sub">(バイクルエス)</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="l-footer__list">
            <li class="l-footer__item">
              <a href="#">ペットの保険</a>
              <ul class="l-footer__list">
                <li class="l-footer__item">
                  <a href="#">犬の保険</a>
                </li>
                <li class="l-footer__item">
                  <a href="#">猫の保険</a>
                </li>
                <li class="l-footer__item"><a href="#">保険料シミュレーション</a></li>
              </ul>
            </li>
          </ul>
          <ul class="l-footer__list -sm-col2">
            <li class="l-footer__item"><a href="#">海外旅行の保険</a></li>
            <li class="l-footer__item"><a href="#">国内旅行の保険 </a></li>
            <li class="l-footer__item"><a href="#">ケガの保険 日常の事故</a></li>
            <li class="l-footer__item"><a href="#">ケガの保険 交通事故</a></li>
            <li class="l-footer__item"><a href="#">ゴルフの保険</a></li>
          </ul>
        </div>
      </div>
      <div class="l-footer__col">
        <h3 class="l-footer__heading js-footer-toggle-btn">ご契約者さまメニュー</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item"><a href="#">事故のご連絡</a></li>
            <li class="l-footer__item"><a href="#">継続のお手続き</a></li>
            <li class="l-footer__item"><a href="#">ご契約者さまへ</a></li>
          </ul>
        </div>
        <h3 class="l-footer__heading js-footer-toggle-btn">その他メニュー</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item"><a href="#">お申込みについて</a></li>
            <li class="l-footer__item"><a href="#">よくあるご質問</a></li>
            <li class="l-footer__item"><a href="#">総合お問い合わせ</a></li>
            <li class="l-footer__item"><a href="#">au損保のスマホアプリ</a></li>
          </ul>
        </div>
      </div>
      <div class="l-footer__col">
        <h3 class="l-footer__heading js-footer-toggle-btn">方針</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item -external"><a href="#" target="_blank">プライバシーポリシー</a></li>
            <li class="l-footer__item -external"><a href="#" target="_blank">セキュリティポリシー</a></li>
            <li class="l-footer__item -external"><a href="#" target="_blank">勧誘方針</a></li>
            <li class="l-footer__item -external"><a href="#" target="_blank">「お客さまの声」対応基本方針</a></li>
            <li class="l-footer__item -external"><a href="#" target="_blank">利益相反管理方針</a></li>
            <li class="l-footer__item -external"><a href="#" target="_blank">反社会的勢力に対する基本方針</a></li>
            <li class="l-footer__item -external"><a href="#" target="_blank">お客さま第一の業務運営に関する方針</a></li>
            <li class="l-footer__item -external"><a href="#" target="_blank">メールフィルター設定</a></li>
            <li class="l-footer__item -external"><a href="#" target="_blank">サイト利用規約</a></li>
          </ul>
        </div>
      </div>
      <div class="l-footer__col">
        <h3 class="l-footer__heading js-footer-toggle-btn">外部機関</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item"><a href="#">日本損害保険協会</a></li>
            <li class="l-footer__item -external"><a href="#" target="_blank">そんぽADRセンター</a></li>
            <li class="l-footer__item"><a href="#">損害保険契約者保護機構</a></li>
          </ul>
        </div>
        <h3 class="l-footer__heading js-footer-toggle-btn">会社情報</h3>
        <div class="l-footer__content js-footer-toggle-content">
          <ul class="l-footer__list">
            <li class="l-footer__item"><a href="#">会社情報</a></li>
            <li class="l-footer__item"><a href="#">お知らせ</a></li>
            <li class="l-footer__item"><a href="#">採用情報</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="l-footer__bottom l-container lg:-full">
    <h3 class="l-footer__bottom-logo">
      <a href="#">
        <picture>
          <source srcset="/common_2024/img/footer_bottom_logo.webp" type="image/webp" />
          <img src="/common_2024/img/footer_bottom_logo.png" alt="au損害保険株式会社" loading="lazy" />
        </picture>
      </a>
    </h3>
    <p class="l-footer__bottom-copy">Copyright &copy; au insurance Co., Ltd. All Rights Reserved.</p>
  </div>
</footer>
<div class="l-drawer__cover"></div>
