<header class="l-header l-container lg:-full .sm:u-w-full js-header">
  <div class="l-header__inner">
    <h1 class="l-header__logo">
      <a href="/pc/" target="_blank">
        <picture>
          <source srcset="/common_2024/img/header_logo.webp" type="image/webp" />
          <img src="/common_2024/img/header_logo.png" alt="au損保" loading="eager" />
        </picture>
      </a>
    </h1>
    <div class="p-popup__close">
      <a href="javascript:void(0);" onclick="window.close(); return false;">
        <img src="/common_2024/img/btn_popup_close.svg" alt="閉じる" />
      </a>
    </div>
  </div>
  <!-- /.l-header__inner -->
</header>
