<nav class="l-header-nav">
  <ul class="l-header-nav__list -col-10">
    <li class="l-header-nav__item">
      <a href="/corporate/index.html">会社情報</a>
    </li>
    <li class="l-header-nav__item">
      <a href="/corporate/top_message/index.html">トップ<br />メッセージ</a>
    </li>
    <li class="l-header-nav__item -small">
      <a href="/corporate/corporate/">会社概要・役員一覧</a>
    </li>
    <li class="l-header-nav__item">
      <a href="/corporate/statement/index.html">コーポレート<br />ステートメント</a>
    </li>
    <li class="l-header-nav__item -small">
      <a href="/corporate/disclosure/index.html">
        ディスクロージャー・<br />
        電子公告
      </a>
    </li>
    <li class="l-header-nav__item -small">
      <a href="/corporate/sustainability/index.html">auフィナンシャル<br />グループについて</a>
    </li>
    <li class="l-header-nav__item">
      <a href="/corporate/histry/index.html">沿革</a>
    </li>
    <li class="l-header-nav__item">
      <a href="/corporate/recruit/index.html">採用情報</a>
    </li>
    <li class="l-header-nav__item">
      <a href="/corporate/news/index.html">お知らせ</a>
    </li>
    <li class="l-header-nav__item">
      <a href="/corporate/contact/index.html">当社に関する<br />問い合わせ</a>
    </li>
  </ul>
</nav>
<img src="/common_2024/img/header_nav_scroll.svg" class="l-header-nav__scroll" alt="スクロールアイコン" loading="eager" />
