<nav class="l-header-nav">
  <ul class="l-header-nav__list -col-7">
    <li class="l-header-nav__item">
      <a href="/pc/pet-dog/index.html"> 犬の保険 </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/pet-dog/features.html"> ワンポの特長 </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/pet-dog/compensation.html"> 補償内容・保険料一覧 </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/pet-dog/treatment_case/index.html"> かかりやすい病気 </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/pet-dog/column/index.html"> お役立ちコラム </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/pet-dog/application.html"> お申込みについて </a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/pet-dog/faq.html"> よくある質問 </a>
    </li>
  </ul>
</nav>
<img src="/common_2024/img/header_nav_scroll.svg" class="l-header-nav__scroll" alt="スクロールアイコン" loading="eager" />
