<nav class="l-header-nav">
  <ul class="l-header-nav__list -col-6">
    <li class="l-header-nav__item">
      <a href="/pc/keiyakusya/kaigai/index.html">
        海外旅行の保険<br />
        ご契約者の方
      </a>
    </li>
    <li class="l-header-nav__item -small">
      <a href="/pc/keiyakusya/kaigai/while-traveling.html">旅行先から<br />事故の連絡をしたい<br />（サポートデスク）</a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/keiyakusya/kaigai/after-traveling.html">帰国後に事故の連絡・<br />保険金の請求をしたい</a>
    </li>
    <li class="l-header-nav__item -small">
      <a href="/pc/keiyakusya/kaigai/jyusetsu.html">重要事項説明書・<br />ご契約のしおり（約款）を<br />確認したい</a>
    </li>
    <li class="l-header-nav__item">
      <a href="/pc/otoiawase/index.html">電話やメールで<br />問い合わせをしたい</a>
    </li>
    <li class="l-header-nav__item">
      <a href="https://app.au-sonpo.co.jp/oversea/" target="_blank">「海外サポート」アプリを<br />ダウンロードしたい</a>
    </li>
  </ul>
</nav>
<img src="/common_2024/img/header_nav_scroll.svg" class="l-header-nav__scroll" alt="スクロールアイコン" loading="eager" />
