@use "../global" as *;
/*********************************************
line-height
**********************************************/
.u-text-medium {
  font-weight: 500;
}
.u-text-bold {
  font-weight: 700;
}
.u-text-extrabold {
  font-weight: 800;
}
.u-text-block {
  font-weight: 900;
}
