@use "../global" as *;
/*********************************************
border-radius
**********************************************/
@for $i from 1 through 6 {
  .u-radius-#{$i} {
    border-radius: rem($i * 4px);
    & > img {
      border-radius: rem($i * 4px);
    }
    @include mq-max("sm") {
      border-radius: rem($i * 3px);
      & > img {
        border-radius: rem($i * 3px);
      }
    }
  }
}
