@use "../global" as *;

@for $i from 0 through 6 {
  //4,8,12,16,20,24px
  .u-mt-#{$i} {
    margin-top: rem($i * 4px);
  }
  .u-mb-#{$i} {
    margin-bottom: rem($i * 4px);
  }
  .u-pt-#{$i} {
    padding-top: rem($i * 4px);
  }
  .u-pb-#{$i} {
    padding-bottom: rem($i * 4px);
  }
  .u-gap-#{$i} {
    gap: rem($i * 4px);
  }
  @include mq-max("sm") {
    .sm\:u-mt-#{$i} {
      margin-top: rem($i * 4px);
    }
    .sm\:u-mb-#{$i} {
      margin-bottom: rem($i * 4px);
    }
    .sm\:u-pt-#{$i} {
      padding-top: rem($i * 4px);
    }
    .sm\:u-pb-#{$i} {
      padding-bottom: rem($i * 4px);
    }
    .sm\:u-gap-#{$i} {
      gap: rem($i * 4px);
    }
  }
}
@for $i from 1 through 2 {
  //32,40px
  .u-mt-#{6+($i * 2) } {
    margin-top: rem((6 + $i * 2) * 4px);
  }
  .u-mb-#{6+($i * 2) } {
    margin-bottom: rem((6 + $i * 2) * 4px);
  }
  .u-pt-#{6+($i * 2) } {
    padding-top: rem((6 + $i * 2) * 4px);
  }
  .u-pb-#{6+($i * 2) } {
    padding-bottom: rem((6 + $i * 2) * 4px);
  }
  .u-gap-#{6+($i * 2) } {
    gap: rem((6 + $i * 2) * 4px);
  }
  @include mq-max("sm") {
    .sm\:u-mt-#{6+($i * 2) } {
      margin-top: rem((6 + $i * 2) * 4px);
    }
    .sm\:u-mb-#{6+($i * 2) } {
      margin-bottom: rem((6 + $i * 2) * 4px);
    }
    .sm\:u-pt-#{6+($i * 2) } {
      padding-top: rem((6 + $i * 2) * 4px);
    }
    .sm\:u-pb-#{6+($i * 2) } {
      padding-bottom: rem((6 + $i * 2) * 4px);
    }
    .sm\:u-gap-#{6+($i * 2) } {
      gap: rem((6 + $i * 2) * 4px);
    }
  }
}

@for $i from 1 through 6 {
  //48px,64px,80px,96px,112px,128px
  .u-mt-#{8+($i * 4) } {
    margin-top: rem((8 + $i * 4) * 4px);
  }
  .u-mb-#{8+($i * 4) } {
    margin-bottom: rem((8 + $i * 4) * 4px);
  }
  .u-pt-#{8+($i * 4) } {
    padding-top: rem((8 + $i * 4) * 4px);
  }
  .u-pb-#{8+($i * 4) } {
    padding-bottom: rem((8 + $i * 4) * 4px);
  }
  .u-gap-#{8+($i * 4) } {
    gap: rem((8 + $i * 4) * 4px);
  }
  @include mq-max("sm") {
    .sm\:u-mt-#{8+($i * 4) } {
      margin-top: rem((8 + $i * 4) * 4px);
    }
    .sm\:u-mb-#{8+($i * 4) } {
      margin-bottom: rem((8 + $i * 4) * 4px);
    }
    .sm\:u-pt-#{8+($i * 4) } {
      padding-top: rem((8 + $i * 4) * 4px);
    }
    .sm\:u-pb-#{8+($i * 4) } {
      padding-bottom: rem((8 + $i * 4) * 4px);
    }
    .sm\:u-gap-#{8+($i * 4) } {
      gap: rem((8 + $i * 4) * 4px);
    }
  }
}
