@charset "UTF-8";
@use "../../global" as *;

.c-accordion {
  border-radius: rem(8px);
  border: 1px solid $c-base-200;
  &__heading {
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: rem(20px) rem(106px);
    line-height: 1.5;
    position: relative;
    font-size: rem(20px);
    line-height: 1.5;
    cursor: pointer;
    @include mq-max("sm") {
      padding: rem(20px) rem(10px);
    }
    &::after {
      content: "";
      width: rem(20px);
      height: rem(20px);
      background: url(/common_2024/img/icon/icon_toggle_plus.svg) center center/cover no-repeat;
      position: absolute;
      right: rem(20px);
      top: rem(25px);
      @include mq-max("sm") {
        right: rem(10px);
      }
    }
    &.is-active {
      &::after {
        background-image: url(/common_2024/img/icon/icon_toggle_minus.svg);
      }
    }
  }
  &__wrapper {
    display: none;
    @include mq-max("sm") {
      // padding: 0 rem(10px);
    }
  }
  &__content {
    border-top: 2px $c-base-300 dotted;
    padding: rem(24px) 0 rem(32px);

    @include mq-max("sm") {
      padding: rem(24px) rem(10px) rem(32px);
    }

    dt {
      font-size: rem(14px);
      font-weight: 700;
      line-height: 1.5;
    }

    dd {
      font-size: rem(14px);
      line-height: 1.5;
      padding-bottom: rem(24px);

      span {
        font-weight: 700;
      }
    }
  }
  & + & {
    margin-top: rem(32px);
    @include mq-max("sm") {
      margin-top: rem(10px);
    }
  }
}

.c-accordion-4 {
  border-radius: rem(4px);
  border: 1px solid $c-base-200;
  max-width: rem(800px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: $c-white;
  width: rem(340px);
  @include mq-max("sm") {
    width: 100%;
  }
  &__heading {
    text-align: center;
    font-size: rem(16px);
    font-weight: 700;
    line-height: 1.25;
    padding: rem(14px) rem(16px);
    border-bottom: $c-base-200 1px solid;
    border-radius: rem(4px);
    box-shadow: 0px rem(4px) 0px $c-base-200;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      width: rem(20px);
      height: rem(20px);
      background: url(/common_2024/img/icon/icon_toggle_plus.svg) center center/cover no-repeat;
      position: absolute;
      right: rem(20px);
      top: rem(14px);
      @include mq-max("sm") {
        right: rem(10px);
      }
    }
    &.is-active {
      &::after {
        background-image: url(/common_2024/img/icon/icon_toggle_minus.svg);
      }
    }
    &.-angle {
      &::after {
        content: "";
        width: rem(14px);
        height: rem(14px);
        background: url(/common_2024/img/icon/icon_tryangle_orange.png) center center/contain no-repeat;
        position: absolute;
        right: rem(14px);
        top: rem(14px);
        @include mq-max("sm") {
          right: rem(10px);
        }
      }
    }
  }
  &__wrapper {
    display: none;
    @include mq-max("sm") {
      padding: 0 rem(10px);
    }
  }
  &__content {
    padding: rem(16px) rem(24px);
    font-size: rem(14px);
    font-weight: 700;
    line-height: 1.3;

    p {
      a {
        display: block;
        margin-top: rem(14px);
      }
    }
  }
}
