@charset "UTF-8";
@use "../../global" as *;

.c-alertbox {
  color: $c-danger;
  font-size: rem(14px);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: rem(16px) rem(12px) rem(16px) rem(56px);
  background: url(/common_2024/img/icon/icon_alert.svg) rem(12px) center no-repeat;
  background-size: rem(32px);
  border: 1px solid $c-danger;
  @include mq-max("sm") {
    font-size: rem(12px);
    padding: rem(8px) rem(12px) rem(8px) rem(56px);
  }
  &.-icon-top {
    background-position: rem(12px) rem(12px);
  }
}
