@charset "UTF-8";
@use "../../global" as *;

.c-breadcrumbs {
  background: $c-base-050;
  overflow: hidden;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: rem(10px);
    height: rem(40px);
    overflow-x: auto;
    @include mq-max("md") {
      @include mq-min("sm") {
        width: 100% !important;
        padding: rem(10px);
      }
    }
  }
  &__item {
    white-space: nowrap;
    &:not(:first-child)::before {
      content: "\003e";
      display: inline-block;
      margin: 0 1em 0.1em;
      transform: translateY(rem(-1px));
    }
    a {
      @include hover {
        text-decoration: underline;
      }
    }
  }
}
