@charset "UTF-8";
@use "../../global" as *;

.c-breadcrumbs {
  background: $c-base-050;
  overflow: hidden;
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: rem(10px);
    height: rem(40px);
  }
  &__item {
    &:not(:first-child)::before {
      content: "＞";
      display: inline-block;
      margin: 0 1em;
    }
    a {
      @include hover {
        text-decoration: underline;
      }
    }
  }
}
