@charset "UTF-8";
@use "../../global" as *;

.c-btn-important-1 {
  background: url(/common_2024/img/arrow/arrow_bold_primary.svg) right rem(16px) center no-repeat;
  background-size: rem(18px);
  border: 1px solid $c-base-200;
  border-radius: rem(20px);
  width: rem(280px);
  height: rem(110px);
  box-shadow: 0 rem(4px) 0 $c-base-200;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 rem(36px) 0 rem(12px);
  transition: all 0.2s ease;
  &.-external {
    background-image: url(/common_2024/img/icon/icon_external_primary.svg);
  }
  &__icon {
    width: rem(56px);
    height: auto;
    margin-right: rem(4px);

    &.-app-au {
      width: rem(27px);
      margin-right: rem(14.5px);
      margin-left: rem(14.5px);
    }
  }
  &__text {
    font-size: rem(16px);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.05em;
  }
  @include hover {
    border-color: $c-primary;
    box-shadow: none;
    transform: translateY(rem(4px));
  }
  @include mq-max("sm") {
    flex-direction: column;
    padding: rem(8px) 0 rem(40px);
    background-position: center bottom rem(12px);
    min-height: rem(160px);
    width: rem(148px);
    &__icon {
      width: rem(64px);
      margin: 0;
    }
    &__text {
      text-align: center;
      font-size: rem(14px);
      line-height: 1.25;
      height: rem(53px);
      display: flex;
      align-items: center;
    }
  }
}

.c-btn-login {
  width: 100%;
  max-width: rem(308px);
  background: $c-white url(/common_2024/img/arrow/arrow_bold_login.svg) right rem(22px) center no-repeat;
  background-size: rem(18px);
  box-shadow: 0 rem(4px) 0 $c-base-200;
  height: rem(58px);
  text-align: center;
  font-size: rem(20px);
  font-weight: 700;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  border-radius: rem(10px);
  overflow: hidden;
  padding-right: rem(24px);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  &__icon {
    width: rem(58px);
    height: 100%;
    background: url(/common_2024/img/icon/icon_user.svg) center center / rem(20px) $c-login no-repeat;
  }
  &__text {
    flex: 1;
    text-align: center;
  }
  @include hover {
    box-shadow: 0 rem(1px) 0 $c-base-200;
    transform: translateY(rem(3px));
  }
}

.c-btn {
  font-weight: 700;
  border-radius: rem(8px);
  border: 1px solid $c-base-200;
  background: $c-white no-repeat;
  box-shadow: 0px rem(4px) 0px 0px $c-base-200;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease 0.1s;
  @include hover {
    box-shadow: none;
    transform: translateY(rem(4px));
    border-color: $c-primary;
  }
  @include mq-max("sm") {
    width: 100%;
  }
  &.-bg-yellow {
    background-color: $c-primary-100;
  }
  &.-lg {
    font-size: rem(20px);
    letter-spacing: 0;
    min-width: rem(300px);
    height: rem(60px);
    background-image: url(/common_2024/img/arrow/arrow_lg_primary.svg);
    background-size: rem(7px);
    background-position: right rem(13px) center;

    &.-s {
      font-size: rem(14px);
    }
  }
  &.-md {
    font-size: rem(16px);
    width: rem(340px);
    height: rem(40px);
    background-image: url(/common_2024/img/arrow/arrow_md_primary.svg);
    background-position: right rem(8px) center;
    background-size: rem(6px);
  }
  &.-external {
    background-image: url(/common_2024/img/icon/icon_external_primary.svg);
    &.-md {
      background-size: rem(14px);
    }
    &.-lg {
      background-size: rem(14px);
      background-position: right rem(11px) center;
    }
  }
}
