@charset "UTF-8";
@use "../../global" as *;

.c-download-app {
  .c-heading3 {
    margin-bottom: 0;
  }
  &__text {
    text-align: center;
    margin-top: rem(12px);
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: rem(24px) auto 0;
    width: rem(358px);
    @include mq-max("sm") {
      width: rem(340px);
    }
  }
  &__item {
    img {
      width: auto;
      height: rem(53px);
      @include mq-max("sm") {
        height: rem(50px);
      }
    }
  }
  &__btn {
    margin-top: rem(24px);
    text-align: center;
  }
}
