@charset "UTF-8";
@use "../../global" as *;

.c-download-pdf {
  font-size: rem(12px);
  line-height: 1.5;
  font-weight: 700;
  background: url(/common_2024/img/icon/icon_pdf.webp) left 0.3em no-repeat;
  background-size: rem(32px);
  min-height: rem(32px);
  padding: rem(8px) 0 rem(8px) rem(44px);
  display: inline-flex;
  align-items: center;
  margin-top: rem(16px);
  margin-bottom: rem(16px);
  .no-webp-support & {
    background-image: url(/common_2024/img/icon/icon_pdf.png);
  }
  @include hover {
    text-decoration: underline;
  }
  @include mq-max("sm") {
    font-size: rem(12px);
    padding: rem(8px) 0 rem(8px) rem(36px);
    background-size: rem(24px);
    background: url(/common_2024/img/icon/icon_pdf.webp) left 1.2em no-repeat;
  }
  &.-one-line {
    @include mq-max("sm") {
      font-size: rem(12px);
      padding: rem(8px) 0 rem(8px) rem(36px);
      background-size: rem(24px);
      background: url(/common_2024/img/icon/icon_pdf.webp) left 0.5em no-repeat;
    }
  }
  &.-external {
    &::after {
      content: "";
      background: url(/common_2024/img/icon/icon_external.svg) center center / contain no-repeat;
      width: rem(15px);
      height: rem(12px);
      display: inline-block;
      margin-left: 0.75em;
      @include mq-max("sm") {
        width: rem(15px);
        height: rem(12px);
      }
    }
  }
}
