@charset "UTF-8";
@use "../../global" as *;

.c-heading1-bg-primary {
  background: $c-primary;
  font-size: rem(26px);
  line-height: 1.5;
  padding: rem(14px) 0.5em;
  color: $c-white;
  text-align: center;
  font-weight: 700;
  margin-bottom: rem(32px);
  @include mq-max("sm") {
    margin-left: rem(-10px);
    margin-right: rem(-10px);
  }
}

.c-heading2-has-line {
  font-size: rem(24px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.45;
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  margin-top: rem(112px);
  margin-bottom: rem(20px);
  &::after {
    content: "";
    width: rem(40px);
    height: rem(3px);
    background: $c-primary;
    display: block;
    margin: rem(8px) auto 0;
  }
  &.-relax {
    margin-bottom: rem(32px);
    &::after {
      margin-top: rem(20px);
    }
  }
}

.c-heading2-bg-primary {
  border-radius: rem(12px) rem(12px) 0px 0px;
  background: $c-primary;
  color: $c-white;
  line-height: 1.5;
  font-size: rem(20px);
  padding: rem(9px) 1em;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1em;
  @include mq-max("sm") {
    padding: rem(10px) 1em;
  }
}

.c-heading2-has-border {
  border-left: rem(4px) solid $c-primary;
  font-size: rem(24px);
  line-height: 1.8;
  letter-spacing: rem(0.72px);
  padding: rem(2.5px) rem(22px);
  font-weight: 700;
  @include mq-max("sm") {
    font-size: rem(20px);
    padding: rem(2.5px) rem(11px);
    line-height: 1.6;
  }
}

.c-heading2-has-tag,
.c-heading3-has-tag {
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.5;

  display: flex;
  align-items: center;
  &__tag {
    color: $c-white;
    font-size: rem(16px);
    line-height: rem(40px);
    border-radius: rem(12px);
    background: $c-primary;
    margin-right: rem(20px);
    padding: 0 rem(18px);
    font-weight: 700;
    letter-spacing: 0;
    display: inline-block;
  }
}
.c-heading2-has-tag {
  font-size: rem(24px);
  margin-top: rem(112px);
  margin-bottom: rem(56px);
}
.c-heading3-has-tag {
  font-size: rem(20px);
  margin-top: rem(56px);
  margin-bottom: rem(32px);
}
.c-heading3 {
  font-size: rem(20px);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-top: rem(56px);
  margin-bottom: rem(32px);
  text-align: center;
}

/* 先頭のh2はmargin-top:56px */
.l-main h1 + h2 {
  margin-top: rem(56px);
}
