@charset "UTF-8";
@use "../../global" as *;

.c-post-meta {
  display: flex;
  align-items: center;
  @include mq-max("sm") {
    flex-direction: column;
    align-items: flex-start;
  }
  a {
    transition: opacity 0.2s;
    @include hover {
      opacity: 0.6;
    }
  }
  &__date {
    font-size: rem(10px);
    letter-spacing: 0.1em;
  }
  &__category {
    background: $c-white;
    color: $c-primary;
    font-size: rem(10px);
    letter-spacing: 0.1em;
    line-height: 1.8;
    padding: 0 rem(4px);
    border-radius: rem(2px);
  }
  &__date + &__category {
    margin-left: rem(12px);
    @include mq-max("sm") {
      margin-left: 0;
      margin-top: rem(12px);
    }
  }
  &__date + &__tag-list,
  &__category + &__tag-list {
    margin-left: rem(12px);
    @include mq-max("sm") {
      margin-left: 0;
      margin-top: rem(8px);
    }
  }
  &__tag-list {
    font-size: rem(10px);
    line-height: 1.5;
    font-weight: 700;
    display: flex;
  }
  &__tag {
    &:not(:first-child) {
      margin-left: rem(8px);
    }
  }
}
