@charset "UTF-8";
@use "../../global" as *;
.splide__pagination {
  width: 100%;
  &__page {
    width: rem(30px);
    height: rem(2px);
    background: $c-base-200;
    &.is-active {
      background: $c-primary;
    }
    margin: 0 rem(4px);
  }
}
