/*********************************************
ul/olタグの共通スタイル
**********************************************/
@charset "UTF-8";
@use "../../global" as *;

.c-tab2 {
  &__nav {
    position: relative;
    padding: 0 0 rem(4px);
    height: rem(80px);
    @include mq-max("sm") {
      height: auto;
      aspect-ratio: 5.45455;
      padding: 0 0 rem(2px);
    }
    &::after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;
      background: center top / contain no-repeat url(/common_2024/img/tab_bg_pc.webp);
      @include mq-max("sm") {
        background-image: url(/common_2024/img/tab_bg_sp.webp);
      }
      .no-webp-support & {
        background-image: url(/common_2024/img/tab_bg_pc.png);
        @include mq-max("sm") {
          background-image: url(/common_2024/img/tab_bg_sp.png);
        }
      }
    }
    &:last-child {
      padding: rem(4px) 0 0;
      &::after {
        transform: scale(1, -1);
      }
    }
  }
  &[data-current="2"] &__nav {
    &::after {
      transform: scale(-1, 1);
    }
    &:last-child {
      &::after {
        transform: scale(-1, -1);
      }
    }
  }
  &__list {
    display: flex;
    height: 100%;
  }
  &__item {
    width: 50%;
    font-weight: 700;
    height: 100%;
    color: $c-white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.is-current {
      color: $c-black;
    }
    &:not(.is-current) {
      cursor: pointer;
      transition: opacity 0.4s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__title {
    font-size: rem(20px);
    line-height: 1;
    letter-spacing: 0.1em;
    @include mq-max("sm") {
      font-size: rem(16px);
    }
  }
  &__sub {
    font-size: rem(14px);
    line-height: 1;
    letter-spacing: 0.1em;
    margin-top: rem(6px);
    display: block;
    @include mq-max("sm") {
      font-size: rem(10px);
      line-height: 1.2;
      margin-top: rem(4px);
    }
    .is-current > & {
      display: none;
    }
  }
  &__panel {
    border-left: rem(4px) solid $c-primary;
    border-right: rem(4px) solid $c-primary;
    padding: rem(64px) 0;
    display: none;
    @include mq-max("sm") {
      border-width: rem(2px);
      padding: rem(24px) 0 rem(36px);
    }
    &.is-current {
      display: block;
    }
  }
}
