@charset "UTF-8";
@use "../../global" as *;

.c-table {
  @include mq-max("sm") {
    overflow-x: auto;
    margin-right: rem(-10px);
    padding-right: rem(10px);
  }
  &__table {
    width: 100%;
    border-bottom: 1px solid $c-base-300;
    border-right: 1px solid $c-base-300;
  }
  th,
  td {
    font-size: rem(14px);
    line-height: 1.5;
    padding: rem(20px) rem(40px);
    vertical-align: middle;
    border-left: 1px solid $c-base-300;
    border-top: 1px solid $c-base-300;
    @include mq-max("sm") {
      padding: rem(20px) rem(14px);
    }
  }
  &__heading {
    font-weight: 700;
    color: $c-white;
    background-color: $c-primary;
    white-space: nowrap;
    text-align: center;
    thead & {
      border-top: none;
    }
    &:first-child {
      border-left-color: $c-primary;
    }
    & + & {
      border-left-color: $c-white;
    }
  }
  &__title {
    background-color: $c-base-050;
    text-align: center;
  }
  &__cell {
  }
  a {
    @include mq-max("sm") {
      text-decoration: underline;
    }
  }
}
