@charset "UTF-8";
@use "../../global" as *;

.c-tel-lg {
  border-radius: rem(8px);
  border: rem(2px) solid $c-primary;
  padding: rem(18px) rem(36px) rem(18px) rem(24px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  @include mq-max("sm") {
    padding: rem(16px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    color: $c-primary;
    font-size: rem(24px);
    line-height: 1.3;
    background: url(/common_2024/img/icon/icon_tel.webp) left center / rem(42px) no-repeat;
    padding-left: rem(56px);
    position: relative;
    @include mq-max("sm") {
      width: fit-content;
      font-size: rem(22px);
      background-size: rem(26px);
      padding-left: rem(32px);
      line-height: 1.2;
      margin-bottom: rem(4px);
    }
    &::after {
      content: '';
      background-image: url(/common_2024/img/icon/icon_freedial.webp);
      background-size: contain;
      width:rem(40px);
      height:rem(40px);
      position: absolute;
      right: rem(-20px);
      top:0;
      @include mq-max("sm") {
        width:rem(30px);
        height:rem(30px);
        top:rem(15px);
      }
    }
  }
  &__content {
  }
  &__tel {
    font-size: rem(44px);
    letter-spacing: 0.04em;
    line-height: 1;
    a {
      display: flex;
      align-items: center;
    }
    a[href^="tel:"] {
      @include mq-min("sm") {
        pointer-events: none;
      }
    }
    span {
      font-size: rem(30px);
    }
  }
  &__text {
    font-size: rem(12px);
    margin-top: rem(4px);
    line-height: 1;
    text-align: center;
    @include mq-max("sm") {
      font-size: rem(8px);
      margin-top: rem(12px);
      text-align: center;
    }
  }
}
