@charset "UTF-8";
@use "../../global" as *;

.c-text-accent {
  font-size: rem(20px);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  &.-underline {
    color: $c-primary;
    border-bottom: rem(2px) dotted $c-primary;
    width: fit-content;
    &.u-text-center {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
