@charset "UTF-8";
@use "../../global" as *;

.c-textbox-has-link {
  font-size: rem(12px);
  font-weight: 700;
  line-height: 1.5;
  border: 1px solid $c-primary;
  padding: rem(12px) rem(16px);
  &__text {
  }
  &__link {
    text-align: right;
    a {
      color: $c-primary;
      background: url(/common_2024/img/arrow/arrow_md_primary.svg) right center/rem(6px) no-repeat;
      padding-right: rem(12px);
      @include hover {
        text-decoration: underline;
      }
    }
  }
}
