<h2 class="c-heading2-has-line">au損保自転車向け保険への<br class="lg:u-hidden" />お申込みはこちらから</h2>
<ul class="p-bycle-cta__list">
  <li class="p-bycle-cta__item">
    <p class="p-bycle-cta__text">自転車事故の補償を重視</p>
    <p class="p-bycle-cta__btn -bycle">
      <a href="/pc/rdt/bycle/">
        <span>
          「自転車向け保険 <ruby>Bycle<rt>バイクル</rt></ruby
          >」<br />のお申込みはこちら
        </span>
      </a>
    </p>
  </li>
  <li class="p-bycle-cta__item">
    <p class="p-bycle-cta__text">自転車事故に加えて、<br />日常のケガにも備える</p>
    <p class="p-bycle-cta__btn -bycle-best">
      <a href="/pc/rdt/byclebest/">
        <span>
          「自転車向け保険 <ruby>Bycle Best<rt>バイクル ベスト</rt></ruby
          >」<br />
          のお申込みはこちら
        </span>
      </a>
    </p>
  </li>
  <li class="p-bycle-cta__item">
    <p class="p-bycle-cta__text">70才以上の方専用！<br />自転車事故に備える</p>
    <p class="p-bycle-cta__btn -bycle-s">
      <a href="/pc/rdt/bycle-s/">
        <span>
          「自転車向け保険 <ruby>Bycle S<rt>バイクル エス</rt></ruby
          >」<br />
          のお申込みはこちら
        </span>
      </a>
    </p>
  </li>
</ul>
