<h2 class="c-heading2-has-line">お支払い方法</h2>

<p class="u-text-center u-mt-6 u-leading-normal">クレジットカード、auかんたん決済<br class="lg:u-hidden" />(au/UQ mobile/povo)、au PAYでのお支払いができます。</p>

<table class="p-payment-method__table">
  <tr class="p-payment-method__table-row">
    <th class="p-payment-method__table-header">
      <picture>
        <source srcset="/common_2024/img/payment-method_pic_01.webp" type="image/webp" />
        <img src="/common_2024/img/payment-method_pic_01.png" alt="" class="p-payment-method__icon" loading="lazy" />
      </picture>
      <span class="p-payment-method__title">クレジットカード</span>
    </th>
    <td class="p-payment-method__table-data">
      <p><img src="/common_2024/img/payment-method_ok.svg" alt="○" class="p-payment-method__ok" /></p>
    </td>
  </tr>
  <tr class="p-payment-method__table-row">
    <th class="p-payment-method__table-header">
      <picture>
        <source srcset="/common_2024/img/payment-method_pic_02.webp" type="image/webp" />
        <img src="/common_2024/img/payment-method_pic_02.png" alt="" class="p-payment-method__icon" loading="lazy" />
      </picture>
      <span class="p-payment-method__title">auかんたん決済<br /><span class="u-text-10">（au/UQ mobile/povo）</span></span>
    </th>
    <td class="p-payment-method__table-data">
      <p><img src="/common_2024/img/payment-method_ok.svg" alt="○" class="p-payment-method__ok" /></p>
    </td>
  </tr>
  <tr class="p-payment-method__table-row">
    <th class="p-payment-method__table-header">
      <picture>
        <source srcset="/common_2024/img/payment-method_pic_03.webp" type="image/webp" />
        <img src="/common_2024/img/payment-method_pic_03.png" alt="" class="p-payment-method__icon" loading="lazy" />
      </picture>
      <span class="p-payment-method__title">au pay</span>
    </th>
    <td class="p-payment-method__table-data">
      <p><img src="/common_2024/img/payment-method_ok.svg" alt="○" class="p-payment-method__ok" /></p>
    </td>
  </tr>
</table>

<p class="u-mt-4 u-mx-auto u-text-12 u-text-left u-w-fit u-leading-normal">auかんたん決済(au/UQ mobile/povo)ではPontaポイントを<br class="lg:u-hidden" />1ポイント=1円相当でご利用いただけます。</p>
<p class="u-text-center u-mt-4">
  <a href="javascript:void(0)" onclick="openwin2('https://www.au-sonpo.co.jp/pc/common/popup/PU_C_39.html','myau');" class="c-btn -md -external">詳細はこちら</a>
</p>
