@charset "UTF-8";
@use "../../global" as *;
.p-contact {
  &__label {
    font-weight: 700;
  }
  &__required {
    background-color: $c-primary;
    color: $c-white;
    border-radius: rem(4px);

    padding: rem(3px) rem(12px);
    margin-left: rem(12px);
  }
}
.l-main {
  .wpcf7-not-valid-tip {
    color: $c-danger;
    margin-top: rem(12px);
  }
  .wpcf7-list-item {
    margin-left: 0;
  }
  .wpcf7-list-item + .wpcf7-list-item {
    margin-left: rem(24px);
    @include mq-max("sm") {
      margin-left: rem(8px);
    }
  }
  .wpcf7 form .wpcf7-response-output {
    margin: rem(40px) 0 0;
    padding: rem(16px) rem(20px);
    border-radius: rem(4px);
    @include mq-max("sm") {
      padding: rem(12px) rem(16px);
    }
  }
}
