@charset "UTF-8";
@use "../../global" as *;
.p-faq-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(32px);
  &__item {
    border-bottom: 1px dashed $c-black;
    padding: 0 0 rem(32px) rem(36px);
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__question {
    position: relative;
    color: $c-primary;
    font-weight: 700;

    &::before {
      content: "Q.";
      position: absolute;
      top: 0;
      left: rem(-32px);
      display: block;
      @include font-en;
    }
  }

  &__answer {
    position: relative;
    margin-top: rem(14px);

    font-weight: 400;
    &::before {
      content: "A.";
      position: absolute;
      top: 0;
      left: rem(-32px);
      display: block;
      @include font-en;
      font-weight: 700;
    }
  }
}
