@charset "UTF-8";
@use "../../global" as *;
.home {
    .l-main {
        padding-bottom: 0;
    }
}

.p-home {
}
.p-home-kv {
    background: linear-gradient(180deg, $c-primary-300 0%, $c-primary 100%);
    position: relative;
    height: rem(890px);
    min-height: 50.625vw;
    margin-top: -5rem;
    @include mq-max("lg") {
        display: flex;
        height: auto;
        flex-direction: column;
        background: none;
        margin-bottom: rem(64px);
        margin-top: 0;
        max-height: none;
    }
    &__content {
        color: $c-white;
        padding-left: rem(80px);
        padding-bottom: calc(vw(80px) + rem(80px));
        z-index: 1;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        height: 100%;
        @include mq-max("lg") {
            order: 3;
            align-items: flex-start;
            background: linear-gradient(180deg, $c-primary 0%, $c-primary 100%);
            padding: rem(8px) 0 rem(40px) 5vw;
            //justify-content: flex-start;
        }
    }
    &__tagline-ja {
        font-size: rem(26px);
        line-height: rem(44px);
        order: 2;
        letter-spacing: 0.2em;
        margin-top: rem(40px);
        font-weight: 400;
        @include mq-max("lg") {
            font-size: rem(21px);
            line-height: 1;
            margin-top: rem(24px);
        }
        @include mq-max("sm") {
            font-size: rem(18px);
            line-height: 1;
        }
    }
    &__tagline-en {
        font-size: rem(120px);
        @include font-en;
        position: relative;
        z-index: 1;
        order: 1;
        font-weight: 300;
        letter-spacing: -0.01em;
        line-height: 1.13;
        @include mq-max("lg") {
            font-size: rem(80px);
            line-height: 1.16;
            letter-spacing: 0;
        }
        @include mq-max("sm") {
            font-size: rem(48px);
        }
    }
    &__list {
        display: flex;
        order: 3;
        position: relative;
        z-index: 3;
        margin-top: rem(32px);
        @include mq-max("lg") {
            margin-top: rem(24px);
        }
    }
    &__item {
        border: 1px solid $c-white;
        border-radius: vw(4px);
        padding: rem(12px) rem(32px);
        font-size: rem(21px);
        letter-spacing: 0.1em;
        font-weight: 700;
        margin-left: rem(10px);
        &:first-child {
            margin-left: 0;
        }
        @include mq-max("sm") {
            padding: rem(8px) rem(20px) rem(10px);
            margin-left: rem(8px);
            font-size: rem(14px);
            line-height: 1;
        }
    }
    &__pic {
        width: 61.8vw;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: url(../img/home_kv_pic.jpg) center center/cover no-repeat;
        border-radius: 0 0 0 30.9vw;
        overflow: hidden;
        z-index: 0;
        @include mq-max("lg") {
            position: relative;
            width: 100%;
            border-radius: 0;
            order: 1;
            height: 100vw;
        }
    }
    .c-separator-bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        @include mq-max("lg") {
            position: relative;
            order: 2;
            margin-top: vw(-84px);
            div {
                background-image: url(../img/wave_primary.svg);
                &::before {
                    background-image: url(../img/wave_primary.svg);
                }
            }
        }
        @include mq-max("sm") {
            margin-top: rem(-80px);
        }
    }
}
.p-home-about {
    &__content {
        order: 2;
    }
    &__pic {
        order: 1;
    }
}
.p-home-news {
    display: flex;
    justify-content: space-between;
    @include mq-max("sm") {
        flex-direction: column;
    }
    &__header {
        flex: 1;
        @include mq-max("sm") {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: rem(20px);
        }
    }
    &__link {
        margin-top: rem(32px);
        @include mq-max("sm") {
            margin-top: 0;
        }
    }
    .c-post-list-row {
        width: rem(720px);
        @include mq-max("lg") {
            width: rem(560px);
        }
        @include mq-max("sm") {
            width: 100%;
        }
    }
}
.p-home-recruit {
    color: $c-white;
    &__content {
        @include mq-max("sm") {
            order: 2;
        }
    }
    &__pic {
        @include mq-max("sm") {
            order: 1;
        }
    }
    .c-heading-01 {
        &::before {
            color: $c-white;
        }
    }
}
