@charset "UTF-8";
@use "../../global" as *;
.p-review-list {
  display: flex;
  justify-content: center;
  &__item {
    width: rem(628px);
    border: 1px solid $c-black;
    border-radius: rem(16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(32px) rem(24px);
    background: $c-white;
    @include mq-max("lg") {
      width: 80vw;
    }
    @include mq-max("sm") {
      flex-direction: column;
      padding: rem(24px) rem(20px);
    }
  }
  &__pic {
    max-width: rem(160px);
    img {
      width: 100%;
    }
    @include mq-max("sm") {
      margin-bottom: 1rem;
      max-width: rem(120px);
    }
  }

  &__content {
    margin-left: rem(24px);
    flex: 1;
    @include mq-max("sm") {
      margin-left: 0;
    }
  }

  &__box-heading {
    font-weight: 700;
    color: $c-primary;
  }

  &__comment {
    margin-top: 1rem;
  }
}
