@charset "UTF-8";
@use "../../global" as *;
.p-staff-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: rem(40px);
  @include mq-max("sm") {
    grid-template-columns: 1fr;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__pic {
    width: rem(120px);
    img {
      width: 100%;
      img {
        width: 100%;
        border-radius: 50%;
        background: $c-black;
      }
    }
    @include mq-max("sm") {
      width: rem(90px);
    }
  }
  &__content {
    margin-left: rem(24px);
    flex: 1;
    @include mq-max("sm") {
      margin-left: rem(16px);
    }
  }
  &__name {
    font-weight: 700;
    color: $c-primary;
  }
  &__position {
    font-weight: 400;
    margin-left: rem(16px);
    color: $c-black;
  }
  &__comment {
    margin-top: rem(20px);

    @include mq-max("sm") {
      margin-top: rem(12px);
    }
  }
}
