/*********************************************
foundation/setting/_color.scss
**********************************************/
//1.Base Color
$c-white: #fff;
$c-base-900: #1e1e1e;
$c-base-700: #474747;
$c-base-600: #5c5c5c;
$c-base-500: #777;
$c-base-400: #9d9d9d;
$c-base-300: #afafaf;
$c-base-200: #d1d1d1;
$c-base-100: #e5e5e5;
$c-base-050: #f3f3f3;
$c-black: #000;

//2.primary Color
$c-primary: #ea5404; //brand color
$c-primary-100: #fff0c9; //background color
$c-primary-050: #fff5ed; //background color
//3.product Color

$c-pet-dog: #c2f0ff; //ペット（犬）
$c-pet-cat: #ffdad4; //ペット（猫）

@mixin c-bycle-best {
  background: linear-gradient(180deg, #3a2019 0%, #992322 100%); //自転車（Bycle Best）
}
$c-bycle: $c-primary; //自転車（Bycle）
$c-bycle-s: #6b9e13; //自転車（Bycle S）

//4.Accent Color
$c-link: #057cd8; //リンクカラー
$c-cta: #0ab606; //CTAボタン
$c-login: #404ac7; //ログインボタン
$c-success: #00a059; //緑系
//$c-info: #1982eb; //青系
//$-warning: #f2cc0c; //黄系
$c-danger: #f20000; //赤系

/* 以下、上記で指定した変数内で指定する */

//2.ボーダー色

//3.bodyへの指定(上記の変数内で指定する)
//文字色
$body-text-color: $c-black;
//背景色
$body-bg-color: $c-white;

/*---------------設定ここまで---------------*/
//主要Webサービス
$c-twitter: #1b95e0;
$c-facebook: #1877f2;
$c-youtube: #ff0000;
$c-pocket: #ee4056;
$c-weibo: #e32529;
$c-hatebu: #00a4de;
$c-line: #26c755;
$c-pintarest: #e60023;
$c-skype: #0078d7;
$c-tunblr: #001935;
$c-rss: #ee802f;
$c-zoom: #2d8cff;
@mixin c-instagram {
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
