@use "../global" as *;

/*********************************************
layout/_container.scss

<div class="l-container -full">
  <div class="l-container__inner">
  </div>
</div>
**********************************************/
.l-container {
  margin-left: auto;
  margin-right: auto;

  &.lg\:-full {
    @include mq-min("sm") {
      width: vw(1100px);
    }
    @include mq-min("lg") {
      width: rem(1100px);
    }
  }
  &.lg\:-md {
    @include mq-min("sm") {
      width: vw(888px);
    }
    @include mq-min("lg") {
      width: rem(888px);
    }
  }
  &.lg\:-sm {
    @include mq-min("sm") {
      width: vw(654px);
    }
    @include mq-min("lg") {
      width: rem(654px);
    }
  }

  @include mq-max("sm") {
    &.sm\:-screen {
      margin-left: rem(-10px);
      margin-right: rem(-10px);
    }
    &.sm\:-full {
      width: calc(100% - 20px);
    }
    &.sm\:-md {
      width: 86%;
    }
  }
}
