@use "../global" as *;

/*********************************************
layout/_header.scss
・header
・global nav
・drawer menu
**********************************************/
.l-header {
  padding-top: rem(32px);
  color: $c-base-900;
  @include mq-max("md") {
    padding-top: 0;
    width: 100% !important;
  }
  @include mq-max("sm") {
    &.l-container.sm\:-screen {
      margin: 0;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(30px);
    @include mq-max("md") {
      height: rem(68px);
      padding-right: rem(68px);
      margin-bottom: 0;
    }
  }
  &__logo {
    width: rem(141px);
    height: auto;
    @include mq-max("md") {
      width: rem(104px);
      margin-left: rem(10px);
    }
  }
}
.l-header-sub {
  &__list {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  &__item {
    font-size: rem(14px);
    line-height: rem(20px);
    border-left: 1px solid $c-base-400;
    padding: 0 rem(24px);
    @include mq-max("md") {
      display: none;
    }
  }
  &__btn {
    & + & {
      margin-left: rem(12px);
      @include mq-max("md") {
        margin-left: 0;
      }
    }
    a {
      display: flex;
      width: rem(168px);
      height: rem(40px);
      padding-left: rem(38px);
      border-radius: rem(5px);
      border: rem(2px) solid;
      background: left center / contain no-repeat;
      align-items: center;
      justify-content: center;
      font-size: rem(14px);
      @include mq-max("md") {
        width: rem(80px);
        height: rem(48px);
        padding-left: 0;
        background-position: center rem(6px);
        background-size: rem(20px);
        align-items: flex-end;
        border: none;
        border-left: 1px solid;
        font-size: rem(12px);
        letter-spacing: -0.05em;
        border-radius: 0;
      }
    }
    &.-login {
      a {
        border-color: $c-login;
        background-image: url(../img/common/header_icon_login_pc.webp);
        .no-webp-support & {
          background-image: url(../img/common/header_icon_login_pc.png);
        }
        @include mq-max("md") {
          background-image: url(../img/common/header_icon_login_sp.webp);
          .no-webp-support & {
            background-image: url(../img/common/header_icon_login_sp.png);
          }
          border-color: $c-base-200;
        }
      }
    }
    &.-user {
      a {
        border-color: $c-base-400;
        background-image: url(../img/common/header_icon_user_pc.webp);
        .no-webp-support & {
          background-image: url(../img/common/header_icon_user_pc.png);
        }
        @include mq-max("md") {
          background-image: url(../img/common/header_icon_user_sp.webp);
          .no-webp-support & {
            background-image: url(../img/common/header_icon_user_sp.png);
          }
          border-color: $c-base-200;
        }
      }
    }
  }
}
.l-header-nav {
  font-weight: 700;
  @include mq-max("md") {
    overflow-x: auto;
    position: relative;
  }
  &__list {
    display: grid;
    &.-col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    &.-col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &.-col-7 {
      grid-template-columns: repeat(7, 1fr);
    }
    &.-col-8 {
      grid-template-columns: repeat(8, 1fr);
    }
    &.-col-9 {
      grid-template-columns: repeat(9, 1fr);
    }
    min-height: rem(46px);
    @include mq-max("sm") {
      display: flex;
      justify-content: flex-start;
      min-width: 100%;
      background: $c-base-700;
      min-height: rem(48px);
    }
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    background: $c-base-700;
    a {
      display: flex;
      color: $c-white;
      font-size: rem(12px);
      line-height: 1.25;
      text-align: center;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;
      @include mq-max("sm") {
        letter-spacing: 0.05em;
        padding: 0 rem(8px);
        white-space: nowrap;
      }
    }
    &.-small {
      a {
        font-size: rem(10px);
        line-height: 1.2;
        @include mq-max("sm") {
          font-size: rem(12px);
          line-height: 1.25;
          br:last-child {
            display: none;
          }
        }
      }
    }
    &:not(:first-child)::before {
      content: "";
      width: rem(1px);
      height: rem(20px);
      background: $c-white;
    }
    &.-current,
    &:hover {
      a {
        background: $c-primary;
      }
    }
  }
  &__scroll {
    display: none;
    width: rem(20px);
    height: rem(20px);
    transition: opacity 0.4s ease-in-out;
    @include mq-max("sm") {
      position: absolute;
      right: rem(10px);
      top: rem(82px);
      display: block;
    }
    &.is-scrolled {
      opacity: 0;
    }
  }
}

/*** ハンバーガーボタン ***/
.l-header-menu {
  position: fixed;
  background: $c-primary;
  height: 100%;
  right: 0;
  top: 0;
  width: rem(106px);
  z-index: 10000;
  padding-top: rem(12px);
  @include mq-max("md") {
    padding: 0;
    width: rem(68px);
    height: rem(68px);
    position: absolute;
  }
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    width: rem(86px);
    height: rem(86px);
    background: $c-white;
    border-radius: rem(5px);
    z-index: 10001;
    padding-top: rem(4px);
    margin: 0 auto;
    cursor: pointer;
    @include mq-max("md") {
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding-top: rem(4px);
      background: transparent;
    }
  }
  &__inner {
    // ハンバーガーボタンのサイズを指定
    width: rem(40px);
    height: rem(22px);
    position: relative;
    @include mq-max("md") {
      width: rem(32px);
    }
  }
  &__bar {
    // ハンバーガーボタンのデザインを指定
    position: absolute;
    left: 0;
    z-index: 10100;
    width: 100%;
    height: rem(2px);
    background-color: $c-primary;
    border-radius: 1px;
    transition:
      transform 0.4s,
      opacity 0.4s;
    @include mq-max("md") {
      background-color: $c-white;
    }
    &:nth-of-type(1) {
      top: 0;
      transform: translateY(0) rotate(0deg);
    }
    &:nth-of-type(2) {
      top: rem(10px);
    }
    &:nth-of-type(3) {
      bottom: 0;
      transform: translateY(0) rotate(0);
    }
  }
  .is-drawer-open &__bar {
    &:nth-of-type(1) {
      transform: translateY(rem(10px)) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: translateY(rem(-10px)) rotate(45deg);
    }
  }
  &__text {
    font-weight: 700;
    margin-top: rem(8px);
    text-align: center;
    font-size: rem(15px);
    color: $c-primary;
    line-height: 1.2;
    @include mq-max("md") {
      font-size: rem(13px);
      margin-top: rem(6px);
      color: $c-white;
      letter-spacing: -0.1em;
    }
  }
}
