@charset "UTF-8";

// 変数
$orange: #EA5505;

// ミックスイン
@mixin pc {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin tb {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}
@mixin sp {
    @media screen and (max-width: 767px) {
        @content;
    }
}
@mixin sp_show {
    @include pc {
        display: none;
    }
    @include tb {
        display: none;
    }
}
@mixin sp_hide {
    @include sp {
        display: none;
    }
}
@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

// 汎用クラス
.sp_show {
    @include sp_show;
}
.sp_hide {
    @include sp_hide;
}

// ここから
.popup {
    #contents_wrapper {
        margin-top: 0;
        margin-bottom: 60px;
    }
    .pagetitle {
        margin-top: 0;
    }
}
.pagetitle {
    margin: 10px 0 0;
    padding: 30px 0;
    background-color: $orange;
    @media screen and (max-width: 1000px) {
        padding: 20px 10px;
    }
    .inner {
        margin: 0 auto;
        width: 100%;
        max-width: 980px;
    }
    h2 {
        color: #FFF;
        width: 100%;
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
        text-align: center;
        @include tb {
            font-size: 20px;
        }
        @include sp {
            font-size: 17px;
        }
    }
}
.donation {
    padding: 50px 0;
    width: 100%;
    background-color: #FFF;
    box-sizing: border-box !important;
    @include tb {
        padding: 30px 10px;
    }
    @include sp {
        padding: 30px 10px;
    }
    * {
        box-sizing: border-box !important;
    }
    .inner {
        margin: 0 auto;
        width: 100%;
        max-width: 980px;
    }
    .content {
        @include clearfix;
        padding: 0 20px;
        @include sp {
            padding: 0 10px;
        }
    }
    h3 {
        position: relative;
        margin: 0 0 30px;
        padding: 10px 15px;
        color: $orange;
        font-size: 21px;
        font-weight: bold;
        border: 1px solid $orange;
        background-color: #FFF;
        line-height: 1.4;
        @include sp {
            margin-bottom: 20px;
            font-size: 19px;
        }
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            left: -1px;
            bottom: -11px;
            background-image: url('../images/triangle.png');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
        }
    }
    &.csr {
        .family {
            float: right;
            width: 400px;
            @include tb {
                width: 320px;
                margin: 0 0 20px 20px;
            }
            @include sp {
                float: none;
                width: 100%;
                margin-bottom: 20px;
            }
        }
        .text {
            width: auto;
            @include pc {
                padding-right: 420px;
            }
            @include tb {
                padding-right: 0;
            }
            @include sp {
                padding-left: 0;
                width: 100%;
            }
        }
        h4 {
            margin-top: -6px;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.5;
            @include sp {
                margin-top: 0;
                font-size: 17px;
                line-height: 1.4;
            }
        }
        p {
            font-size: 15px;
            line-height: 1.75;
            margin-top: 1em;
            &:first-of-type {
                margin-top: 0;
            }
            @include sp {
                line-height: 1.6;
            }
        }
    }
    &.agreement {
        background-color: #FFF9F5;
        @include sp {
            padding-bottom: 20px;
        }
        .map {
            position: relative;
            img {
                display: block;
                height: auto;
                &.pc {
                    @include pc {
                        width: 770px;
                        margin-right: 190px;
                    }
                    @include tb {
                        width: 80%;
                        margin-left: 0;
                        margin-right: auto;
                    }
                    @include sp {
                        display: none;
                    }
                }
                &.sp {
                    @include pc {
                        display: none;
                    }
                    @include tb {
                        display: none;
                    }
                    @include sp {
                        width: 100%;
                        margin-bottom: 25px;
                    }
                }
            }
            .prefs {
                li {
                    @include pc {
                        position: absolute;
                        width: 300px;
                    }
                    @include tb {
                        position: absolute;
                        width: 35%;
                    }
                    @include sp {
                        float: left;
                        width: 50%;
                        padding-bottom: 10px;
                        &:nth-of-type(2n+1) {
                            padding-right: 5px;
                        }
                        &:nth-of-type(2n) {
                            padding-left: 5px;
                        }
                    }
                    &.saitama {
                        @include pc {
                            left: 600px;
                            top: 155px;
                        }
                        @include tb {
                            right: 0;
                            top: 28%;
                        }
                    }
                    &.tokyo {
                        @include pc {
                            left: 600px;
                            top: 327px;
                        }
                        @include tb {
                            right: 0;
                            top: 57%;
                        }
                    }
                    &.osaka {
                        @include pc {
                            left: 450px;
                            top: 465px;
                        }
                        @include tb {
                            left: 47%;
                            top: 80%;
                        }
                    }
                    div {
                        color: #222;
                        background-color: #FFF;
                        border: 1px solid $orange;
                        @include pc {
                            padding: 20px 25px;
                            height: 100px;
                        }
                        @include tb {
                            padding: 10px 10px;
                        }
                        @include sp {
                            padding: 10px 10px;
                        }
                    }
                    h4 {
                        font-weight: bold;
                        @include pc {
                            font-size: 21px;
                        }
                        @include sp {
                            font-size: 15px;
                        }
                    }
                    a {
                        display: block;
                        margin-top: 0.1em;
                        color: $orange;
                        text-decoration: underline;
                        font-weight: bold;
                        @include pc {
                            font-size: 19px;
                        }
                        @include sp {
                            font-size: 13px;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    &.systems {
        padding-bottom: 0;
        .about {
            margin-bottom: 30px;
            @include sp {
                padding-right: 0;
            }
            li {
                font-size: 16px;
                line-height: 1.5;
                margin-left: 1em;
                text-indent: -1em;
                @include sp {
                    font-size: 15px;
                    line-height: 1.6;
                }
                & + li {
                    margin-top: 5px;
                    line-height: 1.5;
                }
            }
        }
        .targets {
            @include sp {
                padding-right: 0;
            }
            h4 {
                color: $orange;
                font-size: 19px;
                font-weight: bold;
                margin-bottom: 10px;
                border-bottom: 1px solid $orange;
            }
            p {
                margin-bottom: 20px;
            }
            h5 {
                color: $orange;
                font-weight: bold;
                margin-bottom: 5px;
                font-size: 19px;
                font-weight: normal;
                &:not(:first-of-type) {
                    margin-top: 25px;
                }
            }
            .banners {
                @include clearfix;
                margin-bottom: 10px;
                @include sp {
                    margin-bottom: -4%;
                }
                li {
                    float: left;
                    @include pc {
                        width: 220px;
                        &:not(:first-of-type) {
                            margin-left: 20px;
                        }
                    }
                    @include tb {
                        width: 23.5%;
                        &:not(:first-of-type) {
                            margin-left: 2%;
                        }
                    }
                    @include sp {
                        width: 48%;
                        margin-bottom: 4%;
                        &:nth-of-type(2n) {
                            margin-left: 4%;
                        }
                        &:nth-of-type(2n+1) {
                            clear: both;
                        }
                    }
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .notes {
            clear: both;
            font-size: 13px;
            p {
                margin-top: 20px;
                padding-left: 2em;
                text-indent: -2em;
            }
        }
        .attention {
            color: #000;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 15px;
            background-color: #F5F5F5;
            h5 {
                color: #000;
                margin-bottom: 0.5em;
                font-size: 13px;
                font-weight: normal;
            }
            ul {
                li {
                    font-size: 13px;
                    margin-left: 1em !important;
                    text-indent: -1em !important;
                    & + li {
                        @include sp {
                            margin-left: 1em !important;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        p {
            small {
                font-size: 13px;
            }
        }
    }
}
.cap_number {
    box-sizing: border-box;
    width: 100%;
    max-width: 980px;
    margin: 30px auto 0;
    text-align: right;
    font-size: 13px;
    @include tb {
        padding: 0 10px;
    }
    @include sp {
        padding: 0 10px;
    }
}
.pankuzu_bottom {
    margin-bottom: 0 !important;
}
#footer {
    margin-top: 15px;
}
