@charset "UTF-8";
@use "strip-unit" as *;
@use "sass:math";
/*********************************************
widthやheightをvwに変換しレスポンシブ対応する。
**********************************************/
@function vw($px, $base: 1332px) {
  $value: $px;
  // 単位がpx以外の場合は警告を出してそのまま返す
  @if (unit($px) != "px") {
    @warn 'vw()の引数にpx以外の値を指定しても計算できません';
    @return $value;
  }
  $value: calc(strip-unit($px) / strip-unit($base)) * 100 * 1vw;
  @return $value;
}

@function vws($px, $base: 380px) {
  $value: $px;
  // 単位がpx以外の場合は警告を出してそのまま返す
  @if (unit($px) != "px") {
    @warn 'vw()の引数にpx以外の値を指定しても計算できません';
    @return $value;
  }
  $value: calc(strip-unit($px) / strip-unit($base)) * 100 * 1vw;
  @return $value;
}
