main {


/*SEO ヘッダー調整*/
.page_copy{
	max-width: 980px;
    margin: 0 auto;
    font-size: 12px;
    color: #858585;
    padding-top: 12px;
    padding-bottom: 0px;
    font-weight: normal;
}

#header_new_wrapper {
    display: block!important;
	top: 30px;
}

.bg_title{
	margin-top: 0;
}


.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    *zoom: 1
}

.bx-wrapper img {
    max-width: 100%
}

.bx-wrapper .bx-viewport {
    height: auto !important
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    width: 100%;
    text-align: right
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url("/pc/bycle/obligation/css/images/bx_loader.gif") center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000
}

.bx-wrapper .bx-pager {
    text-align: right;
    font-size: 0;
    font-family: Arial;
    font-weight: bold;
    color: #666
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    color: #fff;
    display: block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d36ca1
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #d36ca1
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url("/common/images2/controls.png") no-repeat 0 -32px
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url("/common/images2/controls.png") no-repeat -43px -32px
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 999
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none
}

.bx-wrapper .bx-controls-auto {
    text-align: center
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: right;
    top: -11px
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px
}

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px
}

a {
    color: #b28246;
    text-decoration: none
}

a:link {
    text-decoration: underline
}

a:visited {
    color: #b28246
}

a:hover {
    color: #d36ca1;
    text-decoration: underline
}

a:active {
    color: #d70050
}

a.arrow,
span.arrow {
    display: inline-block;
    padding-left: 12px;
    background: url("/common/images/arrow.gif") no-repeat left center
}

div#layout {
    background: #fff;
    width: 950px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    position: relative
}

div#header {
    margin-bottom: 21px
}

div.indexHeader {
    margin-bottom: 10px !important
}

div#header #logo {
    float: left;
    margin-top: 15px
}

div#header #read {
    float: right;
    margin-top: 25px
}

div#header #readIndex {
    float: right;
    margin-top: 14px
}

#systemMaintenance {
    text-align: left;
    margin-top: 10px
}

#systemMaintenance a {
    overflow: hidden;
    padding-left: 23px;
    background: url("/common/images2/icon_system.png") left top no-repeat;
    font-weight: bold;
    line-height: 15px
}

#imagesflogo {
    text-align: right;
    margin-top: 10px
}

div#gnav ul li {
    float: left
}

div#gnav ul li a {
    display: block
}

div.topicpath {
    margin: 10px 15px 0;
    padding-bottom: 10px
}

div#gnav ul.g_sub {
    display: none;
    position: absolute;
    z-index: 9999
}

div#gnav ul.w-259 {
    width: 259px
}

div#gnav ul.w-200 {
    width: 200px
}

.bnr_img {
    float: right
}

div#visual {
    margin: 30px -20px 0;
    padding: 0 20px 20px;
    border-bottom: 3px solid #c6c6c6
}

#itemListHeader {
    margin-top: 17px;
    text-align: center
}

div#content h2 span {
    font-size: 16px;
    font-weight: bold
}

div#content div#itemListWrapper {
    margin: 0 -20px;
    padding: 10px 20px 15px;
    background-color: #e8e8e8
}

div#content div#itemList {
    padding: 15px 10px 10px;
    background-color: #fff;
    border-bottom: 3px solid #c6c6c6;
    text-align: center
}

div#content div#itemList h2 {
    position: relative;
    background: url("/common/images/bg_lines.png") repeat-x 30px 50%;
    letter-spacing: -0.4em
}

div#content div#itemList h2 span {
    padding: 3px 5px 0px 17px;
    letter-spacing: normal;
    background: #fff url("/common/images2/icon_top_headding.gif") no-repeat left center;
    color: #d26ca0;
    font-size: 22px
}

div#content div#itemList h2 p {
    display: inline;
    letter-spacing: normal;
    padding: 0 0 0 10px;
    background: #fff;
    font-weight: bold;
    line-height: 33px
}

div#content div#itemList ul {
    letter-spacing: -0.4em;
    background: url("/common/images/bg_items.gif") no-repeat 0 50%
}

div#content div#itemList ul li {
    display: -moz-inline-box;
    display: inline-block;
    letter-spacing: normal;
    text-align: center;
    width: 158px;
    padding-top: 24px
}

#itemkaiteiHeader {
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
    text-align: left
}

#infoListBycle {
    margin-top: 15px;
    font-size: 80%
}

#itemkaiteiHeaderBycle {
    margin-left: 20px;
    text-align: left
}

#itemkaiteiHeaderBycleSimple {
    margin-top: 15px;
    margin-bottom: -25px;
    margin-left: 20px;
    text-align: left
}

#itemkaiteiHeadergolf {
    margin-top: 15px;
    margin-bottom: -25px;
    margin-left: 20px;
    text-align: left
}

#itemkaiteiHeaderkaigai {
    margin-top: -15px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left
}

#itemkaiteiHeaderkokunai {
    margin-top: 15px;
    margin-bottom: -25px;
    margin-left: 20px;
    text-align: left
}

#itemkaiteiHeaderkotsujiko {
    margin-top: 5px;
    margin-bottom: -25px;
    margin-left: 20px;
    text-align: left
}

#itemkaiteiHeadersports {
    margin-top: 15px;
    margin-bottom: -25px;
    margin-left: 20px;
    text-align: left
}

#itemkaiteiHeadersportsgolf {
    margin-top: 15px;
    margin-bottom: -25px;
    margin-left: 20px;
    text-align: left
}

* html div#content div#itemList ul li {
    display: inline;
    height: 1%
}

*:first-child + html div#content div#itemList ul li {
    display: inline;
    height: 1%
}

div#content div#itemList ul li a {
    display: block
}

div#content div#itemList ul li.recommend {
    background: url("/common/images2/icon_recommend.gif") no-repeat 100% 0
}

#mainWrap {
    padding-top: 15px
}

#leftWrap {
    float: left;
    width: 709px
}

.bannerSection {
    margin-top: 14px
}

.bannerSection:first-child {
    margin-top: 0
}

.bannerSection a:first-child {
    margin-right: 14px
}

#spaceRight14 {
    margin-right: 14px
}

#spaceBottom5 {
    margin-bottom: 5px
}

#marginTop10 {
    margin-top: 10px
}

div.fbWrap {
    margin-top: 18px
}

div.lsitBox {
    position: relative;
    margin-top: 16px
}

div.lsitBox h3 {
    min-height: 30px;
    padding-left: 18px;
    background: url("/common/images2/leftwrap_list_header.png") left top no-repeat;
    color: #595857;
    font-size: 16px
}

a.allListLink {
    position: absolute;
    top: 4px;
    right: 4px
}

div.lsitBox ul {
    margin-top: 24px;
    color: #3d3a39
}

div.lsitBox ul li {
    margin-top: 22px
}

div.lsitBox ul li:first-child {
    margin-top: 0
}

div.lsitBox li span {
    display: inline-block;
    width: 135px
}

div.lsitBox .infomessage {
    background: ivory;
    border: 1px solid #ccc;
    font-size: 100%;
    margin-bottom: 10px;
    padding: 5px 10px 10px 10px;
    margin-top: 5px
}

div.lsitBox .infomessage .setpadding {
    margin-bottom: 10px
}

div.lsitBox .infomessage .setright {
    padding-top: 10px;
    float: right
}

#rightWrap {
    float: right;
    width: 227px
}

#userIndexLogin {
    padding-bottom: 20px;
    background: url("/common/images2/bg_box.gif") left bottom no-repeat;
    text-align: center
}

img.changeTitle {
    margin-top: 20px
}

img.continueTitle {
    margin-top: 36px
}

a.indexRightBtn {
    display: inline-block;
    margin-top: 12px
}

#userIndexLogin p {
    margin-top: 12px
}

#userIndexLogin p a {
    padding-left: 9px;
    background: url("/common/images2/right_arrow.png") left center no-repeat
}

#rightBnrArea {
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center
}

#rightBnrArea a {
    display: inline-block;
    margin-top: 14px
}

div#content div#bnrArea.section {
    width: 970px;
    margin: 0 -20px 23px 0
}

div#content div#bnrArea.section div.box {
    width: 227px;
    float: left;
    margin-right: 13px;
    min-height: 176px
}

div#content div#bnrArea.section div.box:last-child {
    margin: 0
}

div#content div#bnrArea.section div.box p.bnr {
    margin: 0
}

div#content div#bnrArea.section div.service {
    background: url("/common/images2/bg_box.gif") no-repeat 0 100%
}

div#content div#bnrArea.section div.service h3 {
    margin-bottom: 10px
}

div#content div#bnrArea.section div.service p {
    text-align: center;
    margin-bottom: 5px
}

div#content div#bnrArea.section div.service ul {
    margin: 0 0 5px 23px
}

div#content div#bnrArea.section div.service ul li a {
    padding-left: 8px;
    background: url("/common/images/icon_arrow.gif") no-repeat 0 50%
}

div#content div#bnrArea.section div.service ul li a:link {
    text-decoration: underline
}

div#movieArea.section {
    width: 966px;
    margin: 0 -16px 20px 0
}

div#movieArea.section p.bnr {
    width: 467px;
    float: left;
    margin: 0 15px 0 0
}

div#movieArea.section div.movie {
    width: 226px;
    float: left;
    margin-top: -8px;
    margin-right: 16px
}

div#movieArea.section div.movie:last-child {
    margin-right: 0
}

div#movieArea.section div.movie h3 {
    font-size: 14px;
    font-weight: bold;
    padding-left: 25px;
    margin-bottom: 4px;
    background: url("/common/images2/icon_movie.gif") no-repeat 0 50%
}

div#itemTab {
    text-align: center;
    width: 630px;
    margin: 0 auto
}

div#itemTab ul {
    margin: 0 auto
}

div#itemTab ul li {
    float: left;
    margin-right: 18px
}

div#itemTab ul li a {
    display: block
}

div#itemTab ul li:last-child {
    margin-right: 0
}

div#itemTab ul li.itemTabBicycle {
    background: url("/common/images3/item_bicycle.gif") no-repeat 0 0
}

div#itemTab ul li.itemTabSport {
    background: url("/common/images3/item_sport.gif") no-repeat 0 0
}

div#itemTab ul li.itemTabAccident {
    background: url("/common/images3/item_accident.gif") no-repeat 0 0
}

div#itemTab ul li.itemTabGolf {
    background: url("/common/images3/item_golf.gif") no-repeat 0 0
}

div#itemTab ul li.itemTabOversea {
    background: url("/common/images3/item_oversea.gif") no-repeat 0 0
}

div#itemTab ul li.itemTabTravel {
    background: url("/common/images3/item_travel.gif") no-repeat 0 0
}

div#itemTab ul li.itemTabPet {
    background: url("/common/images3/item_pet.gif") no-repeat 0 0
}

div#itemTab ul li.itemTabMedical {
    background: url("/common/images3/item_medical.gif") no-repeat 0 0
}

body.itemBicycle div#itemTab ul li.itemTabBicycle img,
body.itemSport div#itemTab ul li.itemTabSport img,
body.itemAccident div#itemTab ul li.itemTabAccident img,
body.itemGolf div#itemTab ul li.itemTabGolf img,
body.itemOversea div#itemTab ul li.itemTabOversea img,
body.itemTravel div#itemTab ul li.itemTabTravel img,
body.itemPet div#itemTab ul li.itemTabPet img,
body.itemMedical div#itemTab ul li.itemTabMedical img {
    visibility: hidden
}

div#itemTab ul li.itemTabBicycle:hover,
div#itemTab ul li.itemTabSport:hover,
div#itemTab ul li.itemTabAccident:hover,
div#itemTab ul li.itemTabGolf:hover,
div#itemTab ul li.itemTabOversea:hover,
div#itemTab ul li.itemTabTravel:hover,
div#itemTab ul li.itemTabPet:hover,
div#itemTab ul li.itemTabMedical:hover {
    background: none;
    background: #fff
}

div#secondContent {
    margin-top: 10px;
    padding: 10px;
    background: #d36ca1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    behavior: url("/common/css/PIE.htc");
    position: relative;
    z-index: 1
}

div#mainContent {
    background: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    behavior: url("/common/css/PIE.htc");
}

div#contentInner {
    float: left;
    width: 610px;
    position: relative;
    z-index: 1
}

div#contentInner h2 {
    color: #d36ca1;
    font-size: 27px
}

div.itemHeader {
    margin: 0 0 30px
}

div.itemHeader h2 {
    width: 400px;
    float: left;
    margin: 20px 0 0 0
}

div.itemHeader div.itemUtility {
    width: 430px;
    float: right
}

div.itemHeader div.itemUtility ul {
    margin: 0
}

div.itemHeader div.itemUtility ul li {
    display: inline
}

div.itemNav {
    width: 613px;
    height: 51px;
    background: url("/common/images3/bg_itemnav.png") no-repeat 0 0
}

div.itemNav ul li {
    float: left;
    width: 305px;
    text-align: center
}

div.itemNav ul li a {
    padding-left: 10px;
    background: url("/common/images3/arrow_itemnav.gif") left center no-repeat;
    color: #705340;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 48px
}

div.itemNav ul li a:link {
    text-decoration: underline
}

div.itemNav ul li a:visited {
    color: #705340
}

div.itemNav ul li a:hover {
    color: #d36ca1;
    text-decoration: underline
}

div.itemNav ul li a:active {
    color: #d70050
}

div.navTab {
    margin: 0 0 0 9px
}

div.navTab ul {
    margin: 0
}

div.navTab ul li {
    width: 210px;
    float: left;
    margin-right: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative
}

div.navTab ul li a {
    display: block;
    background: #fff;
    border: 2px solid #b5b6b6;
    border-bottom: none;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    behavior: url("/common/common_aute/css/PIE.htc");
    position: relative;
    z-index: 1
}

div.navTab ul li a:link,
div.navTab ul li a:visited {
    color: #7f7f7f
}

div.navTab ul li a:hover {
    color: #fff;
    background: #d36ca1;
    border: 2px solid #d36ca1;
    border-bottom: none;
    text-decoration: none
}

div.navTab ul li.active a {
    background: #d36ca1;
    border: 2px solid #d36ca1;
    border-bottom: none
}

div.navTab ul li.active a:link,
div.navTab ul li.active a:visited {
    color: #fff
}

div.navTab ul li.active a:hover {
    text-decoration: none
}

img.customerIamge {
    margin-top: 10px
}

.backToTop {
    z-index: 999;
    position: fixed;
    right: 0;
    margin-left: 20px
}

.must {
    font-weight: bold;
    color: #f52828
}

.notice {
    font-size: 80%
}

.catch {
    font-size: 120%
}

p.catch {
    font-weight: bold
}

p.btnDetail {
    clear: both;
    text-align: right
}

p.btnDetail a {
    padding: 0 0 0 10px;
    background: url("/common/images/icon_arrow.gif") no-repeat 0 50%
}

ul.normalList {
    list-style: disc;
    margin: 0 0 0 15px
}

ul.normalList li {
    margin: 0 0 5px
}

ul.linkList li a {
    padding: 0 0 0 10px;
    background: url("/common/images/icon_arrow.gif") no-repeat 0 50%
}


a:hover img.hoverImg {
    filter: alpha(opacity=70);
    opacity: .7;
    -moz-opacity: .7
}

.ios a:hover img.hoverImg {
    opacity: 1;
    -moz-opacity: 1
}

#header_new {
    width: 100%;
    background: #fff !important
}

.header_new {
    max-width: 980px;
    margin: 0px auto !important;
    padding: 0;
    position: relative;
    z-index: 10000;
    background: #fff !important
}

.sp_header_new.sp_display {
    display: none
}

.head_middle {
    width: 100%;
    text-align: right;
    float: left
}

.head_middle li {
    float: left
}

.head_middle li > a {
    text-decoration: none
}

.head_middle li > a:hover {
    text-decoration: underline
}

.header_new .inner {
    width: 85%;
    top: 10px;
    float: left
}

.header_new .inner ul#gnavi {
    width: 85%;
    box-sizing: border-box;
    clear: both;
    float: left;
    margin-left: 6%;
    margin-top: 1%
}

.header_new .head_logo {
    width: 15%;
    float: left;
    text-align: left;
    padding: 0;
    box-sizing: border-box
}

.header_new .head_logo img {
    max-width: 139px;
    margin: 0
}

.header_new .head_logo a {
    padding: 0 !important;
    margin: 0
}

.header_new .head_top {
    width: 85%
}

.header_new .head_top ul,
.header_new .head_top dl {
    text-align: right;
    vertical-align: middle;
    display: inline-block
}

.header_new .head_top ul {
    margin-right: 5px
}

.header_new .head_top li {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: middle;
    margin-right: 10px;
    text-align: right;
    float: right;
    border: none !important
}

.header_new .head_top li a {
    color: #000;
    font-size: 12px;
    font-weight: normal;
    line-height: 2.5;
    text-decoration: none;
    background-position: left center;
    padding-left: 0px
}

.header_new .head_top ul a:hover {
    text-decoration: underline
}

.header_new .head_top dl dt,
.header_new .head_top dl dd {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: middle
}

.header_new .head_top dl {
    width: 375px;
    padding: 5px 0;
    background: #f4f4f4;
    border-right: #c8c8c8 1px solid;
    border-bottom: #c8c8c8 1px solid;
    border-left: #c8c8c8 1px solid;
    border-radius: 0px 0px 9px 9px;
    -moz-border-radius: 0px 0px 9px 9px;
    -webkit-border-radius: 0px 0px 9px 9px
}

.header_new .head_top dl dt {
    width: 78px;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border-right: #c8c8c8 1px solid
}

.header_new .head_top dl dd {
    font-size: 12px;
    padding-left: 16px;
    line-height: 1.25
}

.header_new .head_top dl dd em {
    display: block;
    color: #273f80;
    letter-spacing: -0.03em;
    background: url("/common/img_20150623/pc/common/icon_header_free.png") no-repeat;
    background-position: left top;
    padding-left: 50px
}

.header_new .head_top dl dd strong {
    font-size: 21px;
    line-height: 1;
    vertical-align: middle
}

.header_new .head_top dl dd span {
    display: inline-block;
    color: #fff;
    font-size: 11px;
    letter-spacing: normal;
    vertical-align: middle;
    background: #273f80;
    padding: 4px 6px 2px;
    margin-left: 9px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px
}

.header_new .head_top dl dd small {
    font-size: 11px;
}

.header_new .head_lower {
    overflow: hidden;
}

.header_new .head_btn_login a:hover {
    background: #97c731;
}

.orange_triangle {
    width: 7px;
    height: 9px;
    margin: -2px 0 0 5px;
    vertical-align: middle;
}

.header_btn1,
.header_btn2,
.header_btn3,
.header_btn4 {
    display: inline-block;
}

.header_btn1 {
    width: 19%;
}

.header_btn2 {
    width: 15%;
}

.header_btn3 {
    width: 23%;
}

.header_btn4 {
    width: 18.5%;
}

.header_btn5 {
    width: 15%;
}

.login_green_btn {
    width: 129px;
    width: 100%;
}

.login_green_btn img {
    width: 100%;
}

.au_logo {
    max-width: 139px;
    height: 27px;
    padding-top: 34px;
    float: left
}

#header_new_wrap {
    left: 0px;
    top: 35px;
    width: 100%;
    background-color: #fff !important;
    z-index: 1000;
    padding-top: 0;
}

.header_new .head_gnav {
    width: 100%;
    float: left;
    margin-top: 5px;
}

.header_new .head_gnav li {
    letter-spacing: normal;
    display: inline-block;
    border-left: #c8c8c8 1px solid;
}

.header_new .head_gnav li:first-child {
    border-left: none;
}

.header_new .head_gnav li:first-child .init-bottom {
    border: none;
}

.header_new .head_gnav a {
    color: #464646;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    padding: 1px 10px;
    display: block;
}

.header_new .head_gnav a:hover {
    text-decoration: underline;
}

.header_low_fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1002;
}

#header_low {
    display: none;
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
}

#header_s {
    max-width: 980px;
    margin: 0 auto;
    clear: both;
    background-color: #fff;
    padding-bottom: 10px;
    font-size: 10px;
}

#header_s a {
    color: #000;
    text-decoration: none;
    padding: 0 !important;
    padding: 0 !important;
}

#header_s .logo {
    float: left;
    max-width: 13%;
    margin-right: 2%;
}

#header_s .header_outline {
    float: left;
    width: 68% !important;
    margin-top: 5px;
}

#header_s .header_outline .header_gnav {
    padding: 0 !important;
    border-right: solid 1px #000;
    text-align: center;
    list-style-type: none;
    display: table-cell;
}

#header_s ul:first-child {
    display: table;
    width: 100%;
}

#header_s .header_outline li img {
    width: 100%;
}

#header_s .header_inline {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#header_s .login_btn {
    float: right;
    width: 13.5%;
    margin-top: -5px;
}

#header_s .login_btn img {
    width: 100%;
}

#disableDoublePost-overlay-pc {
    background: none repeat scroll 0 0 #f2f2f2;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#floatingNavi_pc {
    display: none;
    max-width: 400px;
    width: 77%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: rgba(87, 76, 75, 0.3) -4px 4px 2px -1px;
    -webkit-box-shadow: rgba(87, 76, 75, 0.3) -4px 4px 2px -1px;
    -moz-box-shadow: rgba(87, 76, 75, 0.3) -4px 4px 2px -1px;
    z-index: 99999;
}

.pc_nav_menu ul li {
    border-top: #757575 1px solid;
}

.pc_nav_menu > ul > li:first-child {
    border-top: none;
    height: 45px;
}

.pc_nav_menu li a {
    color: #464646;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    display: block;
}

.pc_nav_menu .btn_close a {
    display: inline-block;
    width: 20px;
    font-size: 12px;
    text-align: center;
    background: #fff;
    padding: 8px 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.pc_nav_menu .btn_close a:before {
    content: "";
    display: inline-block;
    width: 9.5px;
    height: 9.5px;
    background: url("/common/img_20150623/sp/common/btn_menu_close.png") no-repeat;
    background-position: left top;
    background-size: contain;
    margin-right: 6px;
}

.close_position {
    background-color: #464646;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0px;
    height: 51px;
}

.pc_nav_menu .list_toggle > a {
    position: relative;
}

.pc_nav_menu .list_toggle > a span {
    position: absolute;
    top: 50%;
    right: 6%;
    margin-top: -21px;
    font-size: 2em;
}

.pc_nav_menu .sp_menu_list {
    display: none;
}

.pc_nav_menu .sp_menu_list a {
    padding-left: 18.5%
}

.pc_nav_menu .btn_close a.hideNavi {
    padding-left: 6px;
    margin: 10px 10px 10px 32px
}

.nav_menu_icon1,
.nav_menu_icon2 {
    display: inline-block;
}

.nav_menu_icon1 {
    margin: 10px 10px 5px 12px;
    width: 100px;
    height: 19px;
}

.nav_menu_icon2 {
    background-color: red;
    width: 120px;
    height: 30px;
    margin-top: 4.5px;
    vertical-align: top;
}

.triangle_r_header {
    display: inline-block;
    float: right;
}

.pc_nav_menu li a.text_white {
    color: #fff;
}

.back_black {
    background-color: #464646;
}

.white_sankaku_r,
.black_sankaku_r {
    width: 4px;
    height: 10px;
    margin-top: 5px;
}

.block_lower_gnav {
    display: none;
}

.block_lower_gnav {
    margin-top: 10px;
}

.lower_gnav li {
    width: 140px;
    float: left;
    position: relative;
    background: url("/common/img_20150623/pc/common/nav_line.png") no-repeat;
    background-position: left center;
}

.lower_gnav li:first-child {
    background: none
}

.lower_gnav a {
    display: block;
    height: 0;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    border-bottom: #f4f4f4 5px solid;
}

.lower_gnav .nav_bycle a {
    background-image: url("/common/img_20150623/pc/common/nav_bycle_sprite.png");
}

.lower_gnav .nav_traffic a {
    background-image: url("/common/img_20150623/pc/common/nav_traffic_sprite.png");
}

.lower_gnav .nav_daily a {
    background-image: url("/common/img_20150623/pc/common/nav_daily_sprite.png");
}

.lower_gnav .nav_pet a {
    background-image: url("/common/img_20150623/pc/common/nav_pet_sprite.png");
}

.lower_gnav .nav_oversea a {
    background-image: url("/common/img_20150623/pc/common/nav_oversea_sprite.png");
}

.lower_gnav .nav_golf a {
    background-image: url("/common/img_20150623/pc/common/nav_golf_sprite.png");
}

.lower_gnav .nav_domestic a {
    background-image: url("/common/img_20150623/pc/common/nav_domestic_sprite.png");
}

.lower_gnav .nav_bycle.current a,
.lower_gnav .nav_bycle a:hover {
    background-position: center bottom;
    border-color: #2a4287;
}

.lower_gnav .nav_bycle.current:after,
.lower_gnav .nav_bycle:hover:after {
    content: "";
    display: block;
    width: 13px;
    height: 8px;
    background: url("/common/img_20150623/pc/common/icon_nav_arrow.png") no-repeat;
    background-position: left top;
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -6.5px;
}

.lower_gnav .current a,
.lower_gnav a:hover {
    background-position: center bottom;
    border-color: #d36ca1;
}

.lower_gnav .current:after,
.lower_gnav li:hover:after {
    content: "";
    display: block;
    width: 14px;
    height: 8px;
    background: url("/common/img_20150623/pc/common/icon_nav_arrow_pink.png") no-repeat;
    background-position: left top;
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -7px;
}

html {
    overflow: auto;
}

body {
    position: relative;
    overflow-x: hidden;
}

.menu {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}

.menu > li {
    float: left;
}

.menu > li a {
    display: block;
    color: #fff;
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
    display: none;
    z-index: 100;
    width: 100%;
}

.menu > li:hover {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__third-level li {
    border-top: 1px solid #111;
}

.menu__second-level li a:hover {
    background: #111;
}

.menu__third-level li a:hover {
    background: #2a1f1f;
}

.menu__fourth-level li a:hover {
    background: #1d0f0f;
}

.init-bottom:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}

.menu__mega ul.menu__second-level {
    position: absolute;
    top: 71px !important;
    left: 0px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 120;
    padding-top: 30px;
    margin: 0 -200%;
    padding-left: 200%;
    padding-right: 200%;
    background: url("/common/img/share/megamenu_bg.png") 0 27px repeat-x #fff;
    display: block;
    visibility: hidden;
}

.menu__mega_s ul.menu__second-level {
    position: absolute;
    top: 21px !important;
    left: 0px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 120;
    padding-top: 0px !important;
    margin: 0 -200%;
    padding-left: 200%;
    padding-right: 200%;
    background: url("/common/img/share/megamenu_bg.png") 0 27px repeat-x;
    display: block;
    visibility: hidden;
}

.menu__mega ul.menu__second-level li.box {
    width: 100%;
}

.menu__mega ul.menu__second-level .sankaku {
    float: left;
    display: block;
    margin-top: -3%;
    margin-left: 25%;
}

.menu__mega_s ul.menu__second-level .sankaku {
    float: left;
    display: block;
    margin-top: -1em !important;
    margin-left: 18%;
}

.menu__mega ul.menu__second-level #mega_contents {
    max-width: 100%;
    background: #ec5500;
    padding: 2.5% 0 3% 0;
}

.menu__mega_s ul.menu__second-level #mega_contents {
    max-width: 980px;
    padding: 2.5% 0 3% 0;
    margin: 0 auto !important;
    background: transparent !important;
}

.menu__mega:hover ul.menu__second-level {
    top: 77px;
}

.menu__mega ul.menu__second-level #mega_contents ul {
    max-width: 980px;
    padding-top: 2.5%;
    clear: both;
}

.menu__mega ul.menu__second-level #mega_contents li.large {
    width: 49.55%;
    float: left;
    padding-right: 0%;
    margin-right: 7px;
}

.menu__mega ul.menu__second-level #mega_contents li.large img {
    max-width: 100% !important;
    width: 100% !important;
}

.menu__mega ul.menu__second-level #mega_contents li {
    width: 16.3%;
    border-left: none;
    float: left;
    padding-top: 0%;
}

.menu__mega ul.menu__second-level #mega_contents li a {
    padding: 0;
    display: block;
    border: 0;
    margin-bottom: 4px;
}

.menu__mega ul.menu__second-level #mega_contents li a img {
    background-color: #fff;
    display: block;
    max-width: 160px;
    width: 160px !important;
}

@media(max-width: 960px) {
    .menu__mega ul.menu__second-level #mega_contents li a img {
        max-width: 100%;
        width: 100% !important;
    }
}

#header_tab_wrapper {
    top: 80px;
    transition: all .4s;
    width: 100%;
    padding: 5px 0;
    background-color: #585757 !important;
    margin-top: 10px;
}

#header_tab_wrapper li {
    float: left;
    color: #fff;
    margin-right: 1em;
    font-size: 14px;
}

#header_tab_wrapper li span {
    color: #e7551c;
}

#header_tab_wrapper li a {
    color: #fff;
    text-decoration: none;
}

#header_tab {
    max-width: 980px;
    position: relative;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

#header_tab table {
    width: auto;
}

#header_tab table td {
    text-align: left;
}

#header_tab .left {
    width: 20%;
    padding-right: 2%;
    float: left;
    margin-top: 5px;
}

#header_tab table img {
    max-width: 100%;
}

#header_tab table {
    float: left;
    margin-top: 5px;
}

#header_tab #apply_btn {
    vertical-align: middle;
    width: 12%;
    float: right;
}

#header_tab_wrapper {
    width: 100%;
    clear: both;
    display: none;
}

#header_tab_wrapper .bycle_sub,
#header_tab_wrapper .byclebest_sub,
#header_tab_wrapper .bycles_sub,
#header_tab_wrapper .pet_sub,
#header_tab_wrapper .kaigai_sub,
#header_tab_wrapper .kokunai_sub,
#header_tab_wrapper .golf_sub,
#header_tab_wrapper .sports_sub,
#header_tab_wrapper .koutsuujiko_sub {
    display: none;
}

.itemBicycle #header_tab_wrapper,
.itemBicycle #header_tab_wrapper .bycle_sub {
    display: block;
}

.itemBicyclebest #header_tab_wrapper,
.itemBicyclebest #header_tab_wrapper .byclebest_sub {
    display: block;
}

.itemBicycle-s #header_tab_wrapper,
.itemBicycle-s #header_tab_wrapper .bycles_sub {
    display: block !important
}

.itemPet #header_tab_wrapper,
.itemPet #header_tab_wrapper .pet_sub {
    display: none;
}

.itemKaigai #header_tab_wrapper,
.itemKaigai #header_tab_wrapper .kaigai_sub {
    display: block;
}

.itemKokunai #header_tab_wrapper,
.itemKokunai #header_tab_wrapper .kokunai_sub {
    display: block;
}

.itemSports #header_tab_wrapper,
.itemSports #header_tab_wrapper .sports_sub {
    display: block;
}

.itemGolf #header_tab_wrapper,
.itemGolf #header_tab_wrapper .golf_sub {
    display: block;
}

.itemKoutsuujiko #header_tab_wrapper,
.itemKoutsuujiko #header_tab_wrapper .koutsuujiko_sub {
    display: block;
}

div#footer {
    background: #f5f5f5;
    padding-bottom: 0;
}

.footer_new_wide {
    width: 100%;
    border-bottom: none;
}

.footer_new {
    width: 980px;
    margin: 0 auto;
    padding-top: 30px;
    overflow: hidden;
}

.footer_new .foot_nav {
    overflow: visible;
}

.footer_new .foot_nav dl {
    width: 20%;
    float: left;
    padding: 0 4px;
    box-sizing: border-box;
	margin-right: 0px;
}

.footer_new .foot_nav dt {
    color: #2d2d2d;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 3px;
    border-bottom: #b3b3b3 2px solid;
    margin-bottom: 10px;
    display: inline-block;
}

.footer_new .foot_nav dd {
   	line-height: 1.14;
}

.footer_new .foot_nav dd a {
    color: #2d2d2d;
    font-size: 12px;
    text-decoration: none;
	font-family: "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.footer_new .foot_nav dd .icon_file:after {
    content: "";
    width: 10px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    background: url("/common/img/share/icon_footer_file.png") no-repeat;
    background-position: left top;
    margin-left: 3px;
}

.footer_new .foot_nav dd a:hover {
    text-decoration: underline;
}

.foot_lower_wrap {
    background-color: #f5f5f5;
    margin-top: 30px;
    border-top: 3px solid #6f6f6f;
    min-height: 130px;
}

.foot_lower {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 20px;
}

.foot_lower .foot_btns {
    float: left;
    letter-spacing: -0.4em;
    margin-top: 5px;
}

.foot_lower .foot_btns li {
    float: left;
    letter-spacing: normal;
    display: inline-block;
    margin-right: 15px;
}

.foot_lower .foot_logo_box {
    width: 354px;
    float: right;
}

.foot_lower .foot_logo {
    float: right;
    text-align: right;
}

.foot_lower .copy {
    font-size: 10px;
    margin-top: 13px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    clear: both !important;
}
.btn_totop {
    display: none;
    width: 164px;
}

.btn_totop {
    display: none;
}

.btn_totop img {
    display: none;
}

.fixed {
    position: absolute;
    bottom: 131px;
    right: 20px;
    display: block;
}

.scroll {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 9998;
    display: block;
}


.small_square {
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 2px 5px 0 0;
    color: #b3b3b3;
}

.foot_lower_sp {
    display: none;
}

.bycle_nidan {
    line-height: 1.2em;
}

.bycle_dan {
    display: block;
}

.triangle_r {
    display: none;
}

.logo_box_l {
    display: inline-block;
}

.block_bread_crumb {
    padding: 25px 0;
}

.block_bread_crumb.whith_btn {
    position: relative;
}

.bread_crumb {
    font-size: 12px;
    letter-spacing: -0.4em;
}

.bread_crumb li {
    color: #605f5d;
    letter-spacing: normal;
    display: inline-block;
    margin-right: 8px;
}

.bread_crumb li a {
    color: #605f5d;
    text-decoration: none;
}

.bread_crumb li:before {
    content: "";
    width: 4px;
    height: 7px;
    display: inline-block;
    background: url("/common/img/share/arrow_pankuzu.png") no-repeat;
    background-position: left top;
    margin-right: 5px;
}

.bread_crumb li:first-child:before {
    display: none;
}

.bread_crumb li a:hover {
    text-decoration: underline;
}


.bycle_byclebest_td:hover {
    background-color: #eee;
}

.header_new {
    background-color: #fff;
}

.header_new .login_btn {
    width: 15%;
    float: right;
    text-align: center;
    padding: 0 !important;
    margin-top: -8%;
    position: relative;
    z-index: 9996;
}

.header_new .login_btn a {
    padding: 0 !important;
}

#header_tab .bycle_sub .mtset,
#header_tab .byclebest_sub .mtset {
    margin-top: 21px;
}

.trans {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.trans:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    -ms-filter: "alpha( opacity=80 )";
}




/*bycle nav*/
/*2110 bycle glnv追加*/
a:hover,a:visited{
	color: #222222;
}

#contents_wrapper {
    margin-top: 100px;
}
.top_ttl{
	max-width: 980px;
    margin: 0 auto;
    font-size: 12px;
    color: #858585;
    padding-top: 12px;
    padding-bottom: 0px;
    font-weight: normal;
}
.pankuzu {
    max-width: 980px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    padding-top: 5px;
	margin-bottom: 5px;
}
.pankuzu p {
    width: 13%;
    float: right;
    margin-top: 1%;
}
.bread_crumb {
    margin-top: 10px;
}
.bread_crumb li {
    font-size: 12px;
}
.ft_bread{
	margin: 0 0 -17px 0;
}
#product_id {
    max-width: 980px;
    margin: 0 auto;
    font-size: 12px;
    text-align: right;
    padding-bottom: 15px;
    padding-right: 20px;
}

#header_new_wrapper {
    display: block !important;
}
#header_tab_wrapper {
    background: none;
    margin-top: 0px;
    display: none !important;
}
#page_contents{
	margin-top: 100px;
}
#page_contents .bycle_sub {
    text-align: center;
    width: 100%;
    z-index: 998;
    position: relative;
    clear: both;
}
#page_contents .bycle_sub ul {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}
#page_contents .bycle_sub.bottom ul {
    box-shadow: none;
}
#page_contents .bycle_sub li {
    float: left;
    width: 25%;
    box-sizing: border-box;
    border: solid 1px #c0c1c3;
    border-left: none;
    padding: 1px;
    background-color: #fff;
    height: 66px;
}
#page_contents .bycle_sub li:nth-of-type(1) {
    border: solid 3px #ee600f;
    border-right: solid 1px #ee600f;
    width: 23.46%;
}
#page_contents .bycle_sub li:nth-of-type(2) {
    border-top: solid 3px #ee600f;
    border-bottom: solid 3px #ee600f;
    border-right: solid 1px #ee600f;
    width: 22.95%;
}
#page_contents .bycle_sub li:nth-of-type(3) {
    width: 18.16%;
    border-top: solid 3px #ee600f;
    border-bottom: solid 3px #ee600f;
    border-right: solid 3px #ee600f;
}
#page_contents .bycle_sub li:nth-of-type(4) {
    width: 35.4%;
}
#page_contents .bycle_sub li a {
    background: url("/pc/common/img_20170606/pc/bycle/navi_arrow.png") 95% center no-repeat, url("/pc/common/img_20170606/pc/bycle/navi_bg_off.png") center center repeat-x;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    display: table-cell;
    height: 59px;
    vertical-align: middle;
    text-decoration: none;
    width: 50em;
}
#page_contents .bycle_sub li a:hover {
    opacity: .7;
}
#page_contents .bycle_sub li.on {
    padding: 3px;
}
#page_contents .bycle_sub li.on a {
    background: none;
    background-color: #f46619;
    color: #fff;
    height: 54px;
}
#page_contents .bycle_sub li:nth-of-type(4) {
    padding: 3px;
}
#page_contents .bycle_sub li:nth-of-type(4) a {
    background: url("/pc/common/img_20170606/pc/bycle/navi_arrow2.png") 95% center no-repeat, url("/pc/common/img_20170606/pc/bycle/navi_bg_blue.gif") center center repeat-x;
    color: #fff;
    height: 58px;
    padding-left: 2em;
    padding-right: 2em;
}
.header_new .login_btn{
	margin-top: -10%;
}
#header_new2{
	margin-bottom: 1em;
}

@media screen and (max-width: 767px) {
.pc {
    display: none;
}
ol,ul {
  list-style: none;
}

a img {
  border-style: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.bold {
  font-weight: bold;
}
.text_center {
  text-align: center !important;
}

.sp_nav_menu {
  display: block;
}

.br-sp {
  display: none;
}

.br-pc {
  display: block;
}

body {
  background-color: #fff !important;
}

#header_new {
  display: none !important;
}

#header_low {
  display: none !important;
}

#header_tab_wrapper {
  display: block !important;
}

.notice {
  font-size: 13px;
}
.top_ttl{
	padding-top: 3px;
	padding-bottom: 0;
	font-size: 10px;
}
h1 {
  width: 980px;
  margin: 0 auto;
  font-size: 10px;
  color: #858585;
  display: none;
}

.pankuzu {
  max-width: 980px;
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}

.bread_crumb {
  margin-top: 50px;
}

#page_contents {
  color: #000;
}

#page_contents .bycle_sub ul {
  padding-top: 0px;
  line-height: 1.4;
}

#page_contents .bycle_sub li {
  height: auto;
}

#page_contents .bycle_sub li:nth-of-type(1) {
  width: 13.46%;
}

#page_contents .bycle_sub li:nth-of-type(2) {
  width: 22.95%;
}

#page_contents .bycle_sub li:nth-of-type(3) {
  width: 18.16%;
  letter-spacing: 1px;
}

#page_contents .bycle_sub li:nth-of-type(4) {
  width: 45.4%;
}

#page_contents .bycle_sub li a {
  font-size: 12px;
  height: 50px;
  background: url("/pc/common/img_20170606/pc/bycle/navi_arrow.png") 98% center/0.4em no-repeat,url("/pc/common/img_20170606/pc/bycle/navi_bg_off.png") center center repeat-x;
}

#page_contents .bycle_sub li.on {
  padding: 1px;
}

#page_contents .bycle_sub li.on a {
  height: 50px;
}

#page_contents .bycle_sub li:nth-of-type(4) {
  padding: 1px;
  border: solid 1px #ccc;
}

#page_contents .bycle_sub li:nth-of-type(4) a {
  background: url("/pc/common/img_20170606/pc/bycle/navi_arrow2.png") 97% center/0.8em no-repeat,url("/pc/common/img_20170606/pc/bycle/navi_bg_blue.gif") center center repeat;
  color: #fff;
  height: 50px;
  padding-left: 1em;
  padding-right: 0em;
  padding-top: .2em;
  padding-bottom: .2em;
  text-align: left;
  line-height: 1.2;
}
.sp_nav_menu{
		top:0px !important;
	}
.sp_header_top .sp_gnav li.login_btn{
	margin-top: -20px;
	}
	footer div{
	border-top: none;
	padding-top: 0;
	}
	.sup a:link {
		text-decoration: underline;
	}
}

}