@charset "utf-8";


main {

width: 100% !important;
margin-top: 0 !important;
margin-left: 0 !important;
margin-right: 0 !important;
padding: 0 !important;

font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
line-height: 1.5;

b {
  font-weight: bold;
}

/* default
----------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

.none {
  display: none !important;
}

/* clearfix */

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  display: inline-block;
}

/* Hides from IE-mac \*/

* html .clearfix {
  height: 1px;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */

/* マウスオーバー */

a.hover {
  img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    backface-visibility: hidden;
  }
  &:hover img {
    filter: alpha(opacity = 60);
    -moz-opacity: 0.6;
    opacity: .60;
  }
}
a:focus {
  outline: none !important;
}


/* [ utility ]
-----------------------------*/
.only-pc {
  display: block !important;
}
.only-pci {
  display: inline-block !important;
}
.only-sp {
  display: none !important;
}
.only-spi {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .only-pc {
    display: none !important;
  }
  .only-pci {
    display: none !important;
  }
  .only-sp {
    display: block !important;
  }
  .only-spi {
    display: inline-block !important;
  }
}

/* structure
----------------------------------------------------------------------*/

body {
  color: #000;
  min-width: 1000px;
  font-size: 17px;
  font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
}

.sp {
  display: none;
}

/*--------------------------------------------------*/

/* header
-----------------------------*/
header {
  height: 50px;
  background: #fff;
  line-height:45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  @media screen and (max-width: 768px){
    padding:0 2%;
    height:50px;
    line-height:50px;
  }
  .container-fluid {
    width:1000px;
    margin: 0 auto;
    padding: 0;
    @media screen and (max-width: 768px) {
      width:100%;
    }
  }
  .lt{
    float: left;
  }
  .rt{
    float: right;
  }
  img{
    vertical-align: middle;
    max-width: 100%;
    line-height: 0;
    height: auto;
    outline: none;
    border: 0;
    font-size: 0;
  }
  .logo{
    img{
      width:104px;
      @media screen and (max-width: 768px){
        width:83px;
      }
    }
  }
  .icon-wrap{
    a{
      width:30px;
      display: inline-block;
      margin:0 2px;
      @media screen and (max-width: 768px){
        float: left;
        margin:0 2px;
      }
      img{
        width:100%;
        @media screen and (max-width: 768px){
          width:80%;
        }
      }
    }
  }
}

main {
  position: relative;
  display: block;
  width: 100%;
}

.column {
  width: 1000px;
  margin: 0 auto;
}

p.code {
  font-size: 13px;
  line-height: 1;
}

footer {
  position: relative;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  clear: both;
  border-top: 4px solid #eb5505;
  @media screen and (max-width: 768px){
    border-top: 2px solid #eb5505;
  }
  .inner {
    width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align:center;
    align-items: center;
    height: 70px;
    @media screen and (max-width: 768px){
      width: 100%;
      height: auto;
      padding: 4% 0;
    }
  }
  img {
    width: 238px;
    @media screen and (max-width: 768px){
      width: 238px;
    }
  }
}

/* lp_maintenance用 */

.news_outline {
  width: 1000px;
  margin: 0 auto;
  padding: 110px 0 105px;
  @media screen and (max-width: 768px){
    width: 100%;
    margin: 0 auto;
    padding: 11% 0 0;
  }
  .news_title {
    background-color: #eee;
    height: 70px;
    line-height: 70px;
    border-radius: 70px;
    width: 900px;
    margin: 0 auto 40px;
    position: relative;
    @media screen and (max-width: 768px){
      height: auto;
      line-height: 1.67;
      border-radius: 50px;
      width: 90%;
      padding: 2% 0;
      margin: 0 auto 4%;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-top: 30px solid #eee;
      border-right: 25px solid transparent;
      left: 50%;
      margin-left: -17px;
      bottom: -30px;
      @media screen and (max-width: 768px){
        border-left: 12px solid transparent;
        border-top: 15px solid #eee;
        border-right: 12px solid transparent;
        margin-left: -12px;
        bottom: -15px;
      }
    }
    p {
      color: #000;
      font-size: 24px;
      text-align: center;
      font-weight: bold;
      @media screen and (max-width: 768px){
        font-size: 12px;
      }
    }
  }
  .news_inline {
    width: 900px;
    margin: 0 auto;
    @media screen and (max-width: 768px){
      width: 100%;
      margin: 0 auto;
    }
    li {
      width: 33%;
      float: left;
      text-align: center;
      font-size: 20px;
      padding: 0 1.666666%;
      @media screen and (max-width: 768px){
        width: 100%;
        float: none;
        font-size: 14px;
      }
      a {
        &:link {
          color: #000;
          font-weight: bold;
        }
        &:visited, &:hover, &:active {
          color: #000;
        }
      }
    }
  }

  p.link {
    float: right;
    margin-top: 45px;
    margin-right: 60px;
    font-size: 17px;
    @media screen and (max-width: 768px){
      float: none;
      text-align: center;
      margin: 0 0 50px 0;
      font-size: 12px;
    }
  }
  p.link a {
    color: #333333;
    text-decoration: underline;
  }
  
  /*バナー追加*/
  .banner_box{
    max-width: 1000px;
    margin: 0 auto;
  }
  .banner_img{
    display: inline-block;
    margin-left: 3em;
    max-width: 425px;
  }
  .txt_ctr{
  text-align: center;
    margin-top: 2em;
    font-size: 17px;
    font-weight: bold;
    color: #333333;
  }

  @media screen and (max-width: 768px){
    .banner_img{
      margin-left: 1em;
      margin-right: 1em;
      max-width: 100%;
      }
      .txt_ctr{
        font-size: 16px;
        }
      .mgb_3{
        margin-bottom:3em;
          }}

  /*バナー追加終わり*/
}

/* lp_maintenance用 */
/*--------------------------------------------------*/

.bg_title {
  position: relative;
  width: 100%;
  background: url(../img/bg_main.png) center top no-repeat;
  background-size: auto 782px;
  overflow: hidden;
  // margin-top: 50px;
  margin-top: 0;
  .column {
    position: relative;
    height: 738px;
    padding-top: 35px;
    box-sizing: border-box;
    > * {
      opacity: 0;
    }
  }
  h1 {
    width: 960px;
    height: 308px;
    margin: 0 auto 15px auto;
    padding-right: 10px;
    background: url('../img/title.png') no-repeat;
    font-size: 71px;
    line-height: 1.39;
    color: #2ba4dd;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align:center;
    align-items: center;
    @media screen and (max-width: 768px){
      font-size: 50px;
      line-height: 1.36;
      height: 35vw;
      margin: 0 auto 7px auto;
      padding-right: 0;
      background: url('../img/title.png') no-repeat;
      background-size: contain;
      white-space: nowrap;
    }
    @media screen and (max-width: 685px){
      // font-size: 46px;
      font-size: 44px;
    }
    @media screen and (max-width: 620px){
      font-size: 40px;
    }
    @media screen and (max-width: 580px){
      font-size: 36px;
    }
    @media screen and (max-width: 500px){
      font-size: 32px;
    }
    @media screen and (max-width: 450px){
      font-size: 26px;
    }
    @media screen and (max-width: 320px){
      font-size: 25px;
    }
    @media screen and (max-width: 320px){
      font-size: 20px;
      line-height: 1.36;
    }
    b{
      @media screen and (max-width: 768px){
        display: block;
        margin: 0 auto;
      }
    }
    strong {
      background: linear-gradient(transparent 70%, #ffff00 70%);
      padding-bottom: 2px;
    }
    span {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: -10px;
        margin-left: -7px;
        width: 14px;
        height: 14px;
        border-radius: 14px;
        background: #2ba4dd;
        display: block;
        @media screen and (max-width: 768px){
          width: 5px;
          height: 5px;
          border-radius: 5px;
          margin-left: -3px;
          top: -5px;
        }
      }
    }
  }
  p {
    width: 542px;
    margin: 0 auto;
    font-size: 34px;
    line-height: 1.47;
    color: #4f4f4f;
    text-align: center;
    font-weight: bold;
    @media screen and (max-width: 768px){
      // width: 46%;
      width: 48%;
      // font-size: 22px;
      font-size: 21px;
      line-height: 1.43;
      text-align: center;
      padding: 0;
      top: 43%;
      // left: 29%;
      left: 28%;
      text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
    }
    @media screen and (max-width: 685px){
      // font-size: 20px;
      font-size: 18px;
    }
    @media screen and (max-width: 568px){
      font-size: 18px;
      width: 55%;
      top: 43%;
      left: 24%;
    }
    @media screen and (max-width: 415px){
      font-size: 13px;
    }
    @media screen and (max-width: 375px){
      font-size: 12px;
    }
    @media screen and (max-width: 320px){
      font-size: 11px;
      width: 58%;
      top: 43%;
      left: 23%;
    }
  }
  .people01 {
    position: absolute;
    width: 263px;
    left: -14px;
    bottom: 127px;
  }
  .people02 {
    position: absolute;
    width: 260px;
    right: -28px;
    bottom: 98px;
  }
  .btn_rec {
    position: absolute;
    width: 164px;
    top: 377px;
    right: -75px;
  }
}

/*--------------------------------------------------*/

.anchor {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  top: 580px;
  left: 0;
  ul {
    width: 1000px;
    margin: 0 auto;
    li {
      position: relative;
      float: left;
      width: 328px;
      margin-left: 8px;
      opacity: 0;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.menu_fixed {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  top: 0 !important;
  z-index: 999;
  overflow: hidden;
}

/*--------------------------------------------------*/

h2 img {
  opacity: 0;
}

.column {
  h3, p {
    opacity: 0;
  }
}

/*--------------------------------------------------*/

.blackboard {
  background: #2c4307 url(../img/bg_blackboard.png) left bottom no-repeat;
  background-size: 100% auto;
  margin-bottom: 40px;
  padding: 65px 75px;
  p {
    margin-bottom: 60px;
  }
}

dl.balloon {
  position: relative;
  width: 980px;
  margin-bottom: 40px;
  > * {
    opacity: 0;
  }
  dt {
    position: absolute;
    bottom: 0;
  }
}

/*--------------------------------------------------*/

#mandatory {
  width: 100%;
  background: url(../img/bg_mandatory.png) left top repeat;
  background-size: 30px auto;
  padding-bottom: 45px;
  h2 {
    position: relative;
    background-color: #fe5c5c;
    margin-bottom: 80px;
    text-align: center;
    height: 200px;
    s{
      //position: relative;
    }
    strong {
      position: absolute;
      width: 1000px;
      font-size: 36px;
      color: #fff;
      line-height: 1.7;
      margin-top: 30px;
      margin-left: 33px;
      opacity: 0;
      z-index: 10;
      @media screen and (max-width: 768px){
        width: 65%;
        // font-size: 38px;
        font-size: 36px;
        color: #fff;
        line-height: 1.76;
        margin-top: 0;
        margin-left: 0;
        text-align: left;
        left: 17%;
        top: 17%;
      }
      @media screen and (max-width: 685px){
        // font-size: 34px;
        font-size: 32px;
      }
      @media screen and (max-width: 590px){
        // font-size: 28px;
        font-size: 26px;
      }
      @media screen and (max-width: 415px){
        font-size: 20px;
      }
      @media screen and (max-width: 375px){
        font-size: 18px;
        top: 17%;
      }
      @media screen and (max-width: 320px){
        font-size: 16px;
        line-height: 1.36;
        top: 24%;
      }
      b{
        @media screen and (max-width: 768px){
          border-bottom: 2px solid #ffff00;
        }
      }
      span {
        font-size: 48px;
        border-bottom: 4px solid #ffff00;
        @media screen and (max-width: 768px){
          font-size: 38px;
          border-bottom: none;
        }
        @media screen and (max-width: 685px){
          font-size: 34px;
        }
        @media screen and (max-width: 568px){
          font-size: 28px;
        }
        @media screen and (max-width: 415px){
          font-size: 20px;
        }
        @media screen and (max-width: 375px){
          font-size: 18px;
        }
        @media screen and (max-width: 320px){
          font-size: 16px;
          line-height: 1.36;

        }
      }
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 88px;
      height: 54px;
      background: url(../img/bg_title01.png) center bottom no-repeat;
      background-size: 88px auto;
      left: 50%;
      bottom: -37px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    img {
      width: 1033px;
      margin-left: 33px;
      @media screen and (max-width: 768px){
        margin-left: 0;
      }
    }
  }
  dl {
    &.balloon {
      margin-left: 15px;
      dt {
        width: 185px;
        left: 0;
      }
      dd {
        float: right;
        width: 804px;
        height: 241px;
        background: url("../img/img_balloon01.png") no-repeat;
        padding: 40px 0 0 100px;
        box-sizing: border-box;
        background-size: contain;
        font-size: 24px;
        color: #000;
        font-weight: bold;
        line-height: 1.5;
        @media screen and (max-width: 768px){
          height: 267px;
          background: url("../img/img_balloon01_sp.png") no-repeat;
          background-size: 100%;
          padding: 4% 3% 3% 10%;
          font-size: 22px;
          width: 74%;
        }
        @media screen and (max-width: 685px){
          height: 245px;
          // font-size: 20px;
          font-size: 18px;
        }
        @media screen and (max-width: 568px){
          height: 206px;
          // font-size: 18px;
          font-size: 16px;
        }
        @media screen and (max-width: 415px){
          height: 150px;
          font-size: 12px;
        }
        @media screen and (max-width: 375px){
          height: 140px;
          font-size: 12px;
          line-height: 1.3;
          top: 22%;
        }
        @media screen and (max-width: 320px){
          height: 120px;
          font-size: 10px;
        }
        p {
          width: 88%;
          @media screen and (max-width: 768px){
            width: 93%;
          }
        }
      }
    }
    &.balloon2 {
      margin-bottom: 0;
      dd {
        height: 201px;
        background: url("../img/img_balloon05.png") no-repeat;
        padding: 35px 0 0 100px;
        @media screen and (max-width: 768px){
          height: 30vw;
          background: url("../img/img_balloon05_sp.png") no-repeat;
          padding: 3.5% 0 3% 11%;
          background-size: 100%;
        }
        @media screen and (max-width: 685px){
          height: 185px;
          // font-size: 20px;
          font-size: 18px;
        }
        @media screen and (max-width: 568px){
          height: 160px;
          // font-size: 18px;
          font-size: 16px;
        }
        @media screen and (max-width: 415px){
          height: 115px;
          font-size: 12px;
        }
        @media screen and (max-width: 375px){
          height: 110px;
          font-size: 12px;
          line-height: 1.3;
        }
        @media screen and (max-width: 320px){
          height: 89px;
          font-size: 10px;
        }
      }
    }
  }
  .blackboard h3 {
    width: 100%;
    text-align: center;
    margin: 0 auto 30px auto;
    font-size: 38px;
    line-height: 1;
    color: #fff;
    background: url("../img/st_mandatory.png") no-repeat bottom center;
    padding-bottom: 55px;
    @media screen and (max-width: 768px){
      font-size: 28px;
      padding-bottom: 8%;
      line-height: 1.2;
      background-size: 100%;
    }
    @media screen and (max-width: 685px){
      font-size: 28px;
    }
    @media screen and (max-width: 568px){
      font-size: 22px;
    }
    @media screen and (max-width: 415px){
      font-size: 16px;
    }
    @media screen and (max-width: 375px){
      font-size: 14px;
    }
    @media screen and (max-width: 320px){
      font-size: 12px;
      line-height: 1.36;
    }
  }
}

/*--------------------------------------------------*/

#area {
  width: 100%;
  background: url(../img/bg_area.png) left top repeat;
  background-size: 30px auto;
  padding-bottom: 30px;
  h2 {
    position: relative;
    background-color: #4888e7;
    margin-bottom: 95px;
    text-align: center;
    height: 200px;
    strong {
      position: absolute;
      width: 1000px;
      font-size: 36px;
      color: #fff;
      line-height: 1.7;
      margin-top: 55px;
      margin-left: 43px;
      opacity: 0;
      z-index: 10;
      @media screen and (max-width: 768px){
        width: 65%;
        font-size: 38px;
        color: #fff;
        line-height: 1.76;
        margin-top: 0;
        margin-left: 0;
        text-align: left;
        left: 17%;
        top: 17%;
      }
      @media screen and (max-width: 685px){
        // font-size: 34px;
        font-size: 32px;
      }
      @media screen and (max-width: 590px){
        // font-size: 28px;
        font-size: 26px;
      }
      @media screen and (max-width: 415px){
        font-size: 20px;
      }
      @media screen and (max-width: 375px){
        font-size: 18px;
        top: 17%;
      }
      @media screen and (max-width: 320px){
        font-size: 16px;
        line-height: 1.36;
        top: 24%;
      }
      b{
        @media screen and (max-width: 768px){
          border-bottom: 2px solid #ffff00;
        }
      }
      span {
        font-size: 48px;
        border-bottom: 4px solid #ffff00;
        @media screen and (max-width: 768px){
          font-size: 38px;
          border-bottom: none;
        }
        @media screen and (max-width: 685px){
          font-size: 34px;
        }
        @media screen and (max-width: 568px){
          font-size: 28px;
        }
        @media screen and (max-width: 415px){
          font-size: 20px;
        }
        @media screen and (max-width: 375px){
          font-size: 18px;
        }
        @media screen and (max-width: 320px){
          font-size: 16px;
          line-height: 1.36;

        }
      }
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 88px;
      height: 54px;
      background: url(../img/bg_title02.png) center bottom no-repeat;
      background-size: 88px auto;
      left: 50%;
      bottom: -37px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    img {
      width: 1043px;
      margin-left: 43px;
      @media screen and (max-width: 768px){
        margin-left: 0;
      }
    }
  }
  dl {
    &.balloon {
      dt {
        width: 150px;
        right: 0;
      }
      dd {
        float: left;
        width: 845px;
      }
    }
    &.balloon3 {
      margin-left: 15px;
      @media screen and (max-width: 768px){
        margin-left: 0;
      }
      dt {
        width: 185px;
        left: 0;
      }
      dd {
        float: right;
        width: 804px;
        height: 154px;
        background: url("../img/img_balloon03.png") no-repeat;
        padding: 34px 0 0 100px;
        box-sizing: border-box;
        background-size: contain;
        font-size: 24px;
        color: #000;
        font-weight: bold;
        line-height: 1.5;
        @media screen and (max-width: 768px){
          height: 26vw;
          background: url("../img/img_balloon03_sp.png") no-repeat;
          background-size: 100% 82%;
          padding: 3.5% 3% 3% 11%;
          font-size: 22px;
        }
        @media screen and (max-width: 685px){
          height: 185px;
          // font-size: 20px;
          font-size: 18px;
        }
        @media screen and (max-width: 568px){
          height: 160px;
          // font-size: 18px;
          font-size: 16px;
        }
        @media screen and (max-width: 415px){
          height: 110px;
          font-size: 12px;
        }
        @media screen and (max-width: 375px){
          height: 100px;
          font-size: 12px;
          line-height: 1.3;
        }
        @media screen and (max-width: 320px){
          height: 89px;
          font-size: 10px;
        }
        p {
          width: 93%;
        }
      }
    }
    &.balloon4 {
      margin-left: 15px;
      @media screen and (max-width: 768px){
        margin-left: 0;
      }
      dt {
        width: 185px;
        left: 0;
      }
      dd {
        float: right;
        width: 804px;
        height: 241px;
        background: url("../img/img_balloon04.png") no-repeat;
        padding: 40px 0 0 100px;
        box-sizing: border-box;
        background-size: contain;
        font-size: 24px;
        color: #000;
        font-weight: bold;
        line-height: 1.5;
        @media screen and (max-width: 768px){
          height: 29vw;
          background: url("../img/img_balloon04_sp.png") no-repeat;
          background-size: 100%;
          padding: 3.5% 0 9% 11%;
          font-size: 22px;
        }
        @media screen and (max-width: 685px){
          height: 195px;
          // font-size: 20px;
          font-size: 18px;
        }
        @media screen and (max-width: 568px){
          height: 170px;
          // font-size: 18px;
          font-size: 16px;
        }
        @media screen and (max-width: 415px){
          height: 125px;
          font-size: 12px;
        }
        @media screen and (max-width: 375px){
          height: 120px;
          font-size: 12px;
          line-height: 1.3;
        }
        @media screen and (max-width: 320px){
          height: 99px;
          font-size: 10px;
        }
        p {
          width: 93%;
          @media screen and (max-width: 768px){
            width: 90%;
          }
          span {
            color: #ea5202;
          }
        }
      }
    }
  }
  .remember {
    background: url(../img/bg_remember.png) left top repeat;
    background-size: 14px auto;
    margin-bottom: 70px;
    padding: 16px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    dl {
      background-color: #e5f4ff;
      padding: 35px 30px 35px 55px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      > * {
        opacity: 0;
      }
      dt {
        float: left;
        width: 177px;
      }
      dd {
        float: right;
        width: 686px;
        padding-top: 25px;
      }
    }
  }
  .blackboard {
    h3 {
      width: 100%;
      text-align: center;
      margin: 0 auto 30px auto;
      font-size: 24px;
      line-height: 1;
      color: #fff;
      background: url(../img/st_mandatory2.png) no-repeat bottom center;
      padding-bottom: 22px;
      @media screen and (max-width: 768px){
        margin: 0 auto 5% auto;
        font-size: 28px;
        line-height: 1.2;
        padding-bottom: 4%;
        background-size: contain;
      }
      @media screen and (max-width: 685px){
        font-size: 26px;
      }
      @media screen and (max-width: 568px){
        font-size: 22px;
      }
      @media screen and (max-width: 415px){
        font-size: 16px;
      }
      @media screen and (max-width: 375px){
        font-size: 14px;
      }
      @media screen and (max-width: 320px){
        font-size: 12px;
        line-height: 1.36;
      }
    }
    ul {
      width: 770px;
      margin: 0 auto 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      @media screen and (max-width: 768px){
        width: 100%;
      }
      li {
        width: 180px;
        margin-bottom: 20px;
        margin-right: 15px;
        @media screen and (max-width: 768px){
          width: 24%;
          margin-bottom: 2%;
          margin-right: 1%;
        }
        &:nth-child(4n) {
          margin-right: 0;
        }
        &:last-child {
          margin-right: auto;
        }
        a {
          font-weight: bold;
          width: 100%;
          height: 46px;
          background: #e60012;
          box-sizing: border-box;
          box-shadow: 0 4px 0 #95252e;
          border-radius: 46px;
          display: block;
          position: relative;
          top: 0;
          transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          color: #fff;
          text-decoration: none;
          line-height: 46px;
          font-size: 16px;
          text-align: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          -webkit-box-pack: justify;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          -ms-flex-align:center;
          align-items: center;
          @media screen and (max-width: 768px){
            height: 47px;
            box-shadow: 0 3px 0 #95252e;
            border-radius: 10px;
            line-height: 1;
            font-size: 12px;
          }
          &:hover {
            box-shadow: 0 0 0 #95252e;
            top: 4px;
            @media screen and (max-width: 768px){
              top: 3px;
            }
          }
          i {
            display: inline-block;
            vertical-align: middle;
            width: 6px;
            height: 6px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transition: 0.3s;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            margin-right: 7px;
            position: relative;
            top: -2px;
            @media screen and (max-width: 768px){
              width: 4px;
              height: 4px;
              margin-right: 5px;
              top: -1px;
            }
          }
          b{
          }
          span {
            font-size: 12px;
            background: #fff;
            color: #e60012;
            padding: 2px 3px;
            line-height: 1;
            margin-left: 10px;
            font-weight: bold;
            @media screen and (max-width: 768px){
              font-size: 9px;
              padding: 1px 2px;
              line-height: 1;
              margin-left: 0;
            }
          }
        }
        &.orange a {
          background: #f08200;
          box-shadow: 0 4px 0 #9c5f17;
          @media screen and (max-width: 768px){
            box-shadow: 0 3px 0 #9c5f17;
          }
        }
        a {
          &:hover {
            box-shadow: 0 0 0 #9c5f17;
          }
          span {
            color: #f08200;
          }
        }
      }
    }
  }
}

#area .blackboard ul li.blue a {
    background: #95b3d7;
    box-shadow: 0 4px 0 #557aa6;
}

/*--------------------------------------------------*/

#point {
  width: 100%;
  background: url(../img/bg_point.png) left top repeat;
  background-size: 30px auto;
  padding-bottom: 1px;
  h2 {
    position: relative;
    background-color: #08bf59;
    margin-bottom: 95px;
    text-align: center;
    height: 200px;
    strong {
      position: absolute;
      width: 1000px;
      font-size: 36px;
      color: #fff;
      line-height: 1.7;
      margin-top: 55px;
      margin-left: 43px;
      opacity: 0;
      z-index: 10;
      @media screen and (max-width: 768px){
        width: 65%;
        font-size: 38px;
        color: #fff;
        line-height: 1.76;
        margin-top: 0;
        margin-left: 0;
        text-align: left;
        left: 17%;
        top: 17%;
      }
      @media screen and (max-width: 685px){
        // font-size: 34px;
        font-size: 32px;
      }
      @media screen and (max-width: 568px){
        // font-size: 28px;
        font-size: 26px;
      }
      @media screen and (max-width: 415px){
        font-size: 20px;
      }
      @media screen and (max-width: 375px){
        font-size: 18px;
        top: 17%;
      }
      @media screen and (max-width: 320px){
        font-size: 16px;
        line-height: 1.36;
        top: 24%;
      }
      b{
        @media screen and (max-width: 768px){
          border-bottom: 2px solid #ffff00;
        }
      }
      span {
        font-size: 48px;
        border-bottom: 4px solid #ffff00;
        @media screen and (max-width: 768px){
          font-size: 38px;
          border-bottom: none;
        }
        @media screen and (max-width: 685px){
          font-size: 34px;
        }
        @media screen and (max-width: 568px){
          font-size: 28px;
        }
        @media screen and (max-width: 415px){
          font-size: 20px;
        }
        @media screen and (max-width: 375px){
          font-size: 18px;
        }
        @media screen and (max-width: 320px){
          font-size: 16px;
          line-height: 1.36;

        }
      }
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 88px;
      height: 54px;
      background: url(../img/bg_title03.png) center bottom no-repeat;
      background-size: 88px auto;
      left: 50%;
      bottom: -37px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    img {
      width: 1043px;
      margin-left: 43px;
      @media screen and (max-width: 768px){
        margin-left: 0;
      }
    }
  }
  h3.tit {
    text-align: center;
    margin-bottom: 30px;
    @media screen and (max-width: 768px){
      margin-bottom: 3%;
    }
    strong {
      background: linear-gradient(transparent 70%, #ffff00 70%);
      padding-bottom: 2px;
      font-size: 40px;
      color: #004b21;
      line-height: 1.25;
      position: relative;
      @media screen and (max-width: 768px){
        font-size: 34px;
        line-height: 1.52;
      }
      @media screen and (max-width: 685px){
        font-size: 34px;
      }
      @media screen and (max-width: 568px){
        font-size: 32px;
      }
      @media screen and (max-width: 415px){
        font-size: 26px;
      }
      @media screen and (max-width: 375px){
        font-size: 24px;
      }
      @media screen and (max-width: 320px){
        font-size: 20px;
      }
    }
    span {
      position: absolute;
      font-size: 16px;
      line-height: 1;
      left: 50px;
      top: -15px;
      @media screen and (max-width: 768px){
        font-size: 14px;
        left: 8%;
        top: -20%;
      }
      @media screen and (max-width: 685px){
        font-size: 12px;
        left: 10%;
        top: -20%;
      }
      @media screen and (max-width: 568px){
        font-size: 12px;
        left: 15%;
        top: -20%;
      }
      @media screen and (max-width: 415px){
        font-size: 10px;
        left: 15%;
        top: -18%;
      }
      @media screen and (max-width: 375px){
        font-size: 10px;
        left: 15%;
        top: -18%;
      }
      @media screen and (max-width: 320px){
        font-size: 9px;
        left: 15%;
        top: -15%;
      }
    }
  }
  dl {
    &.balloon {
      margin-left: 15px;
      margin-bottom: 45px;
      dt {
        width: 160px;
        left: 0;
        bottom: 60px;
        @media screen and (max-width: 675px){
          width: 28% !important;
          bottom: 6% !important;
        }
        @media screen and (max-width: 414px){
          width: 28% !important;
          bottom: 4% !important;
        }
        @media screen and (max-width: 375px){
          width: 28% !important;
          bottom: 6% !important;
        }
        @media screen and (max-width: 320px){
          width: 28% !important;
          bottom: 6% !important;
        }
      }
      dd {
        float: right;
        width: 808px;
        height: 380px;
        background: url("../img/img_balloon03_1.png") no-repeat;
        font-size: 24px;
        color: #000;
        line-height: 1.54;
        box-sizing: border-box;
        padding: 35px 0 0 110px;
        @media screen and (max-width: 768px){
          height: 542px;
          background: url("../img/img_balloon03_1_sp.png") no-repeat;
          background-size: 100%;
          padding: 5% 0 3% 13%;
          font-size: 24px;
        }
        @media screen and (max-width: 685px){
          height: 490px;
          // font-size: 21px;
          font-size: 19px;
        }
        @media screen and (max-width: 568px){
          height: 420px;
          // font-size: 18px;
          font-size: 17px;
        }
        @media screen and (max-width: 534px){
          font-size: 16px;
        }
        @media screen and (max-width: 415px){
          height: 303px;
          font-size: 12px;
        }
        @media screen and (max-width: 375px){
          height: 300px;
          font-size: 12px;
          line-height: 1.3;
        }
        @media screen and (max-width: 320px){
          height: 234px;
          font-size: 10px;
        }
        p {
          width: 95%;
          font-weight: bold;
          &.p1{
            @media screen and (max-width: 768px){
              letter-spacing: 0;
            }
          }
        }
        span {
          color: #ea5202;
        }
        b {
          color: #ff0000;
          font-size: 30px;
          @media screen and (max-width: 768px){
            font-size: 28px;
            &.b1{
              white-space: nowrap;
            }
          }
          @media screen and (max-width: 685px){
            // font-size: 26px;
            font-size: 24px;
          }
          @media screen and (max-width: 568px){
            // font-size: 24px;
            font-size: 22px;
          }
          @media screen and (max-width: 415px){
            font-size: 18px;
          }
          @media screen and (max-width: 375px){
            font-size: 16px;
          }
          @media screen and (max-width: 320px){
            font-size: 13px;
          }
        }
      }
    }
    &.balloon2 {
      dt {
        width: 209px;
        bottom: -12px;
      }
      dd {
        height: 270px;
        background: url("../img/img_balloon03_2.png") no-repeat;
        padding: 45px 0 0 110px;
        @media screen and (max-width: 768px){
          height: 292px;
          background: url("../img/img_balloon03_2_sp.png") no-repeat;
          background-size: 100%;
          padding: 3% 1% 3% 11%;
        }
        @media screen and (max-width: 685px){
          height: 265px;
          // font-size: 21px;
          font-size: 19px;
        }
        @media screen and (max-width: 568px){
          height: 223px;
          // font-size: 18px;
          font-size: 17px;
        }
        @media screen and (max-width: 534px){
          font-size: 16px;
        }
        @media screen and (max-width: 415px){
          height: 166px;
          font-size: 12px;
        }
        @media screen and (max-width: 375px){
          height: 150px;
          font-size: 12px;
          line-height: 1.3;
        }
        @media screen and (max-width: 320px){
          height: 127px;
          font-size: 10px;
        }
      }
    }
    &.balloon_hw {
      position: relative;
      padding-bottom: 50px;
      > * {
        opacity: 0;
      }
      dt {
        position: absolute;
        width: 180px;
        right: 0;
        bottom: 0;
      }
      dd {
        float: left;
        width: 846px;
      }
    }
  }
  p {
    margin-bottom: 50px;
  }
}

/*--------------------------------------------------*/

.buy-wrap {
  background: #ffe6da;
  padding: 70px 0 80px;
  @media screen and (max-width: 768px){
    padding: 10% 0 8%;
  }
  .hd h3 {
    font-size: 78px;
    color: #eb5505;
    line-height: 1;
    text-align: center;
    @media screen and (max-width: 768px){
      font-size: 39px;
      line-height: 1.28;
    }
    span {
      font-size: 28px;
      color: #000;
      line-height: 1;
      margin-bottom: 20px;
      display: block;
      @media screen and (max-width: 768px){
        font-size: 14px;
        margin-bottom: 2%;
      }
    }
  }
  .bd {
    background: #fff;
    border: 4px solid #eb5505;
    border-radius: 20px;
    width: 960px;
    box-sizing: border-box;
    margin: 55px auto 0;
    padding: 45px 77px;
    @media screen and (max-width: 768px){
      border: 2px solid #eb5505;
      border-radius: 10px;
      width: 96%;
      margin: 4% auto 0;
      padding: 2%;
    }
    ul {
      overflow: hidden;
      li {
        width: 50%;
        float: left;
        box-sizing: border-box;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 12px;
        @media screen and (max-width: 768px){
          padding-top: 2%;
          padding-bottom: 0;
        }
        &:first-child {
          background: url("../img/buy-img4.png") no-repeat right top;
          @media screen and (max-width: 768px){
            background-size: contain;
            .img{
              width: 50%;
            }
          }
        }
        h4 {
          font-size: 64px;
          color: #eb5505;
          line-height: 1;
          @media screen and (max-width: 768px){
            font-size: 32px;
          }
          span {
            font-size: 30px;
            @media screen and (max-width: 768px){
              font-size: 15px;
            }
          }
        }
        p {
          font-size: 24px;
          color: #333;
          line-height: 1.5;
          text-align: center;
          font-weight: bold;
          @media screen and (max-width: 768px){
            font-size: 12px;
            line-height: 1.5;
          }
        }
        &:first-child p {
          margin-bottom: 10px;
          @media screen and (max-width: 768px){
            margin-bottom: 4%;
          }
        }
        p strong {
          font-size: 30px;
          line-height: 1;
          display: block;
          @media screen and (max-width: 768px){
            font-size: 15px;
          }
        }
        &:last-child {
          h4 {
            margin-bottom: 20px;
            @media screen and (max-width: 768px){
              margin-bottom: 4%;
            }
          }
          p {
            background: url("../img/buy-img2.png") no-repeat center center;
            @media screen and (max-width: 768px){
              background-size: 80%;
            }
          }
        }
        p span {
          font-size: 20px;
          line-height: 1;
          @media screen and (max-width: 768px){
            font-size: 10px;
          }
        }
        .img {
          margin-top: 20px;
          @media screen and (max-width: 768px){
            width: 70%;
            margin: 4% auto 0;
          }
        }
      }
    }
  }
}

.btn-wrap {
  background: #fff;
  padding: 40px 0 0;
  overflow: hidden;
  @media screen and (max-width: 768px){
    padding: 4% 0 0;
  }
  .btn-wrap-r {
    position: relative;
    a {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      &:hover:after {
        content: '';
        width: 99%;
        height: 100%;
        display: block;
        position: absolute;
        left: .5%;
        top: 0%;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.3);
      }
    }
    .reflection {
      position: absolute;
      z-index: 9999;
      height: 100%;
      width: 30px;
      top: 0;
      left: 0;
      background-color: #fff;
      opacity: 0;
      transform: rotate(45deg);
      animation: reflection 2s ease-in-out infinite;
    }
  }
}

@keyframes reflection {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: scale(70) rotate(45deg);
    opacity: 0;
  }
}

/*--------------------------------------------------*/

#recommend {
  width: 100%;
  background: url(../img/bg_recommend.png) left top repeat;
  background-size: 30px auto;
  padding-bottom: 130px;
  h2 {
    background-color: #ff8a00;
    padding: 50px 0 60px 0;
    text-align: center;
    img {
      width: 799px;
    }
  }
  dl.balloon {
    width: 1000px;
    background: url(../img/arrow_long.png) center bottom no-repeat;
    background-size: 310px auto;
    margin-bottom: 0;
    padding: 25px 0 115px 0;
    z-index: 10;
    dt {
      width: 238px;
      left: 6px;
      bottom: 65px;
    }
    dd {
      float: right;
      width: 808px;
    }
  }
  .blackboard {
    position: relative;
    margin-top: -65px;
    padding-top: 100px;
    z-index: 5;
    h3 {
      width: 709px;
      margin: 0 auto 30px auto;
    }
    h4 {
      width: 844px;
      margin-bottom: 40px;
      opacity: 0;
    }
    dl {
      position: relative;
      margin-bottom: 50px;
      > * {
        opacity: 0;
      }
      dt {
        position: absolute;
        width: 207px;
        right: 0;
        bottom: -15px;
      }
      dd {
        float: left;
        width: 680px;
      }
    }
    .arrow {
      position: relative;
      margin-bottom: 195px;
      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 249px;
        height: 112px;
        background: url(../img/arrow.png) center top no-repeat;
        background-size: 249px auto;
        left: 50%;
        bottom: -155px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
}

/*--------------------------------------------------*/

.application {
  background: url(../img/bg_application.png) center top no-repeat;
  background-size: auto 97px;
  margin-top: -97px;
  padding: 160px 0 100px 0;
  ul li {
    float: right;
    width: 478px;
    opacity: 0;
    &:first-child {
      float: left;
    }
    p {
      width: 464px;
      margin: 0 auto 10px auto;
    }
  }
}

/*--------------------------------------------------*/
/* スマートフォン用 */
// @media (max-width: 767px) {
@media (max-width: 768px) {
  body {
    min-width: 100%;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  header, .column, p.code {
    width: 96%;
  }
  footer {
    padding: 0;
    img {
      width: 180px;
      margin:  0 auto 2%;
    }
  }
  .news_outline {
    .news_inline li {
      float: none;
      margin: 30px auto;
      width: 100%;
    }
    font-size: 73%;
    width: 100%;
    margin: 0 auto;
  }
  /*--------------------------------------------------*/
  .bg_title {
    background: none;
    // margin-top: 50px;
    margin-top: 0;
    .column {
      width: 100%;
      height: auto;
      padding: 0;
      position: relative;
      > * {
        position: absolute;
        z-index: 10;
        display: block;
      }
      .sp_main {
        position: relative;
        opacity: 1;
        z-index: 0;
      }
    }
    h1 {
      width: 98%;
      padding: 0;
      top: 6%;
      left: 1%;
      display: flex !important;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3%;
    }
    .people01 {
      width: 27%;
      left: 0;
      bottom: 27%;
    }
    .people02 {
      width: 25%;
      right: 0;
      bottom: 26%;
    }
    .btn_rec {
      width: 18%;
      top: 50%;
      right: 10%;
    }
  }
  /*--------------------------------------------------*/
  .anchor {
    width: 100%;
    padding: 10px 0;
    top: 69%;
    left: 0;
    z-index: 99;
    ul {
      width: 96%;
      li {
        width: 32.4%;
        margin-left: 1.4%;
      }
    }
  }
  /*--------------------------------------------------*/
  .blackboard {
    margin-bottom: 10%;
    padding: 8% 5% 3%;
    p {
      margin-bottom: 10%;
    }
  }
  dl.balloon {
    width: 100%;
    margin-bottom: 8%;
  }
  /*--------------------------------------------------*/
  #mandatory {
    background-size: 22px auto;
    padding-bottom: 5%;
    h2 {
      margin-bottom: 35px;
      padding: 0% 0% 0 0%;
      height: auto;
      &:after {
        width: 44px;
        height: 27px;
        background-size: 44px auto;
        bottom: -20px;
      }
      img {
        width: 100%;
        margin-top: 0;
      }
    }
    dl.balloon {
      margin-left: 0;
      dt {
        width: 28%;
        bottom: 0;
      }
    }
    .blackboard h3 {
      width: 100%;
      margin-bottom: 5%;
    }
  }
  /*--------------------------------------------------*/
  #area {
    background-size: 22px auto;
    padding-bottom: 5%;
    h2 {
      margin-bottom: 35px;
      padding: 0% 0% 0 0%;
      height: auto;
      &:after {
        width: 44px;
        height: 27px;
        background-size: 44px auto;
        bottom: -20px;
      }
      img {
        width: 100%;
        margin-top: 0;
      }
    }
    dl.balloon {
      dt {
        width: 28%;
      }
      dd {
        width: 75%;
      }
    }
    .remember {
      background-size: 10px auto;
      margin-bottom: 10%;
      padding: 10px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      dl {
        padding: 5% 5% 5% 3%;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        dt {
          width: 28%;
          padding-top: 5%;
        }
        dd {
          width: 68%;
          padding-top: 0;
        }
      }
    }
  }
  /*--------------------------------------------------*/
  #point {
    background-size: 22px auto;
    h2 {
      margin-bottom: 35px;
      padding: 0% 0% 0 0%;
      height: auto;
      &:after {
        width: 44px;
        height: 27px;
        background-size: 44px auto;
        bottom: -20px;
      }
      img {
        width: 100%;
        margin-top: 0;
      }
    }
    dl {
      &.balloon {
        margin-left: 0;

        dd {
          width: 75%;
        }
      }
      &.balloon_hw {
        padding-bottom: 5%;
        dt {
          width: 2%;
        }
        dd {
          width: 80%;
        }
      }
    }
    p {
      margin-bottom: 8%;
    }
  }
  /*--------------------------------------------------*/
  #recommend {
    background-size: 22px auto;
    padding-bottom: 10%;
    h2 {
      padding: 5%;
      img {
        width: 100%;
      }
    }
    dl.balloon {
      width: 100%;
      background-size: 45% auto;
      padding: 5% 0 18% 0;
      z-index: 10;
      dt {
        width: 25%;
        left: 0;
        bottom: 13.5%;
      }
      dd {
        width: 90%;
      }
    }
    .blackboard {
      margin-top: -7%;
      padding-top: 12%;
      h3 {
        width: 73%;
        margin-bottom: 5%;
      }
      h4 {
        width: 100%;
        margin-bottom: 8%;
      }
      dl {
        margin-bottom: 10%;
        dt {
          width: 28%;
          bottom: 0;
        }
        dd {
          width: 78%;
        }
      }
      .arrow {
        margin-bottom: 90px;
        &:after {
          width: 100px;
          height: 45px;
          background-size: 100px auto;
          bottom: -70px;
        }
      }
    }
  }
  /*--------------------------------------------------*/
  .application {
    background-size: auto 30px;
    margin-top: -30px;
    padding: 12% 0 5% 0;
    ul li {
      float: none !important;
      width: 100%;
      margin-bottom: 8%;
      p {
        width: 90%;
      }
    }
  }
}

/* スマートフォン用 */
@media (max-width: 320px) {}

/*--------------------------------------------------*/
/* フェード */

.fadeIn {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* 下からフェード */

.fadeInUp {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  visibility: visible !important;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}


/* 左からフェード */

.fadeInLeft {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  visibility: visible !important;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


/* 右からフェード */

.fadeInRight {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  visibility: visible !important;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


.flipInX {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}


.bounceIn {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@keyframes bounceIn {
  from, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}


.jackInTheBox {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

h3,
h4 {
  font-weight: bold;
}

}