@use "../global" as *;

/*********************************************
layout/_container.scss

<div class="l-container -full">
  <div class="l-container__inner">
  </div>
</div>
**********************************************/
.l-container {
  margin-left: auto;
  margin-right: auto;
  @include mq-min("sm") {
    max-width: rem(1100px);
    width: 82.58%;
    &.-md {
      max-width: rem(888px);
    }
    &.-sm {
      max-width: rem(654px);
    }
  }
  @include mq-max("sm") {
    width: calc(100% - rem(20px));
    &.sm\:-full {
      width: 100%;
    }
  }
}
