@use "../global" as *;

/*********************************************
layout/_footer.scss
**********************************************/
.l-footer {
  position: sticky;
  top: 100vh;
  &__top {
    background: $c-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(30px);
    padding-right: rem(8px);
    padding-left: rem(32px);
    margin-bottom: rem(8px);
  }
  &__top-logo {
    width: rem(66px);
    height: rem(14px);
  }
  &__top-pagetop {
    width: rem(25px);
    height: rem(25px);
    svg {
      width: 100%;
      height: auto;
    }
  }
  &__number {
    font-size: rem(8px);
    color: $c-base-500;
    font-weight: 700;
    text-align: right;
    letter-spacing: 0.1em;
    line-height: 1.5;
    @include mq-max("md") {
      padding-right: rem(10px);
    }
  }
  &__nav {
    background: $c-base-050;
    color: $c-base-600;
  }
  &__row {
    padding: rem(20px) 0 rem(20px) rem(32px);
    display: flex;
    justify-content: space-between;
    @include mq-max("md") {
      padding-right: rem(10px);
    }
  }
  &__col {
  }
  &__heading {
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: rem(12px);
    line-height: 1.5;
  }
  &__list {
    display: grid;
    gap: rem(4px);
    & & {
      margin-top: rem(4px);
      margin-left: rem(8px);
    }
    & + & {
      margin-top: rem(16px);
    }
  }
  &__list + &__heading {
    margin-top: rem(20px);
  }
  &__item {
    font-size: rem(12px);
    letter-spacing: 0.1em;
    line-height: 2;
    background: url(../img/common/footer_nav_arrow.svg) left rem(11px) no-repeat;
    background-size: rem(3px);
    padding-left: rem(12px);
    &.-external {
      a {
        &::after {
          content: "";
          display: inline-block;
          width: 10px;
          height: 9px;
          margin-left: rem(8px);
          background: url(../img/common/footer_nav_external.svg) center center / contain no-repeat;
        }
      }
    }
  }
  &__sub {
    font-size: rem(8px);
    letter-spacing: 0.1em;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(60px);
    @include mq-max("md") {
      padding: 0 rem(10px);
    }
  }
  &__bottom-logo {
    width: rem(198px);
  }
  &__bottom-copy {
    font-size: rem(12px);
    color: $c-base-500;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
}
