@charset "UTF-8";
@use "../global" as *;
@use "../object/component/heading" as *;
@use "../object/component/btn" as *;
@use "../object/component/list" as *;
@use "../object/component/blockquote" as *;
@use "../object/component/figure" as *;
@use "../object/component/table" as *;

%wp-core-blocks {
    /*-----------------------------------------------------
    basic
    -----------------------------------------------------*/
    a {
        color: $c-primary;
        @include hover {
            text-decoration: underline;
        }
    }
    strong {
        font-weight: 700;
    }

    p {
        margin-bottom: 0;
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    img {
        width: auto;
    }
    @at-root {
        figure {
            margin: 0;
        }
    }
    /*-----------------------------------------------------
    heading
    -----------------------------------------------------*/

    h2 {
        @extend .c-heading-02;
        &:not(:first-child) {
            margin-top: rem(64px);
        }
        &:not(:last-child) {
            margin-bottom: rem(40px);
        }
    }

    h3 {
        @extend .c-heading-03;
        &:not(:first-child) {
            margin-top: rem(48px);
        }
        &:not(:last-child) {
            margin-bottom: rem(32px);
        }
    }
    h4 {
        @extend .c-heading-04;
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    /*-----------------------------------------------------
    list
    -----------------------------------------------------*/

    ul {
        @extend .c-list-disc;
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    ol {
        @extend .c-list-number;
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    /*-----------------------------------------------------
    image
    -----------------------------------------------------*/

    .wp-block-image {
        @extend .c-figure;
        margin-bottom: rem(40px);
        img {
            border-radius: rem(16px);
        }
        &:not(:first-child) {
            margin-top: rem(40px);
        }
        & .is-style-round {
            border-radius: rem(16px);
        }
    }

    /*-----------------------------------------------------
    gallery
    -----------------------------------------------------*/
    .wp-block-gallery {
        .wp-block-image {
            border-radius: rem(8px);
            img {
                border-radius: rem(8px);
            }
        }
        .blocks-gallery-grid {
            .block-gallery-item {
                border-radius: 1rem;
                overflow: hidden;
                figure {
                    img {
                    }
                }
            }
        }
        margin-bottom: rem(40px);
        &:not(:first-child) {
            margin-top: rem(40px);
        }
        figcaption {
            @extend .c-figcaption;
        }
    }

    /*-----------------------------------------------------
    blockquote
    -----------------------------------------------------*/

    .wp-block-quote {
        @extend .c-blockquote;
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    /*-----------------------------------------------------
    code
    -----------------------------------------------------*/
    .wp-block-code {
        code {
        }
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    /*-----------------------------------------------------
    table
    -----------------------------------------------------*/
    .wp-block-table {
        table {
            @extend .c-table-01;
        }
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    /*-----------------------------------------------------
    cover
    -----------------------------------------------------*/
    .wp-block-cover {
        &__inner-container {
        }
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    /*-----------------------------------------------------
    media & text
    -----------------------------------------------------*/
    .wp-block-media-text {
        &__media {
            // 画像
        }
        &__content {
            // コンテンツ
        }
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    /*-----------------------------------------------------
    button
    -----------------------------------------------------*/
    .wp-block-buttons {
        .wp-block-button {
            @extend .c-btn;
            &__link {
            }
            & .is-style-outline {
                // アウトライン
            }
        }
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    /*-----------------------------------------------------
    column
    -----------------------------------------------------*/
    .wp-block-columns {
        .wp-block-column {
        }
    }
    /*-----------------------------------------------------
    embed
    -----------------------------------------------------*/
    .wp-block-embed {
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }

    /*-----------------------------------------------------
    separator
    -----------------------------------------------------*/
    .wp-block-separator {
        &:not(:first-child) {
            margin-top: rem(32px);
        }
    }
}
