@charset "UTF-8";
@use "../../global" as *;

.p-accordion-check {
  &__head {
    font-size: rem(14px);
    font-weight: bold;
    line-height: 1.6;
  }

  &__items {
    padding-left: 1.5em;
    text-indent: -1em;
  }

  &__item {
    font-size: rem(14px);
    font-weight: bold;
    line-height: 2;
    margin-top: rem(20px);
    & span {
      margin-top: rem(10px);
      display: inline-block;
      .p-accordion-check__annotation {
      text-indent: 0em;
      font-size: rem(11px);
      line-height: 1.2;
      }
    }
  }

  &__lists {
    padding-left: 1.5em;
    text-indent: -1em;
  }

  &__list {
    font-size: rem(14px);
    font-weight: bold;
    line-height: 2;
  }
}