@charset "UTF-8";
@use "../../global" as *;

.p-anipos-feature__inner {
  max-width: rem(914px);
  @include mq-max("sm") {
    max-width: initial;
  }
}

.p-anipos-feature__contents {
  align-items: center;
  border: rem(2px) solid #ea5404;
  border-radius: rem(8px);
}

.p-anipos-feature__image {
  max-width: rem(261px);
  height: auto;
  overflow: hidden;
  @include mq-max("sm") {
    max-width: rem(185px);
  }
}

.p-anipos-feature__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.p-anipos-feature__text-block {
  flex: 1;
}
