@charset "UTF-8";
@use "../../global" as *;

.p-column {
    &__article {
        margin-bottom: rem(80px);
    }
    &__article,
    &__article .c-list-dot,
    &__article .c-list-dot ul,
    &__article .c-list-number,
    &__article .c-download-pdf {
        font-size: rem(16px);
        line-height: 1.8;
        @include mq-max("sm") {
            font-size: rem(14px);
            line-height: 1.5;
        }
    }
    &__eyecatch {
        margin-top: rem(56px);
        margin-bottom: rem(48px);
        border-radius: rem(8px);
        overflow: hidden;
        img {
            display: block;
        }
    }
    &__heading {
        font-size: rem(24px);
        font-weight: 700;
        letter-spacing: 0.03em;
        background: $c-base-050;
        border-left: rem(4px) solid $c-primary;
        line-height: 1.4;
        padding: rem(2px) 0 rem(2px) rem(12px);
        margin: rem(48px) 0 rem(24px);
        @include mq-max("sm") {
            font-size: rem(20px);
        }
    }
}

.p-column-cta {
    position: fixed;
    right: rem(16px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 10001;
    transition:
        opacity 0.2s,
        visibility 0.2s;
    @include mq-max("sm") {
        position: sticky;
        bottom: rem(10px);
        left: 0;
        transform: none;
        width: rem(360px);
        border-radius: rem(12px);
        border: rem(3px) solid $c-primary;
        background: $c-white;
        box-shadow: 0px 0px rem(16px) 0px rgba(0, 0, 0, 0.25);
        padding: rem(16px) rem(8px) rem(20px);
    }
    .is-drawer-open & {
        opacity: 0;
        visibility: hidden;
    }
    &__heading {
        display: none;
        @include mq-max("sm") {
            color: $c-primary;
            text-align: center;
            font-size: rem(14px);
            font-weight: 700;
            letter-spacing: 0.1em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: rem(12px);
            &::after {
                width: rem(16px);
                height: rem(18px);
                background: url(/assets/img/icon/icon_footprints.svg) center center/contain no-repeat;
                content: "";
            }
        }
    }
    &__list {
        display: grid;
        gap: rem(16px);
        @include mq-max("sm") {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0;
        }
    }
    &__item {
        text-align: center;
        border-radius: rem(8px);
        background: #fff;
        border: 1px solid $c-base-200;
        width: rem(132px);
        box-shadow: 0px rem(6px) 0px 0px $c-base-200;
        &.-primary {
            color: $c-primary;
            border: none;
            @include mq-max("sm") {
                color: $c-white;
                background-color: $c-primary;
                background-image: url(../img/arrow/arrow_bold_white.svg);
                box-shadow: 0px rem(4px) 0px 0px #ab3b00;
            }
        }
        &.-yellow {
            @include mq-max("sm") {
                background-color: $c-yellow;
                background-image: url(../img/arrow/arrow_bold_black.svg);
                border: rem(3px) solid #ffef28;
                box-shadow: 0px rem(4px) 0px 0px #a69c1b;
            }
        }
        @include mq-max("sm") {
            width: rem(166px);
            background-position: right rem(6px) center;
            background-size: rem(23px);
            background-repeat: no-repeat;
        }
    }
    &__title {
        font-size: rem(11px);
        font-weight: 700;
        border: 2px solid $c-white;
        line-height: rem(32px);
        @include mq-max("sm") {
            display: none;
        }
    }
    &__item.-primary &__title {
        color: $c-white;
        background: $c-primary;
    }
    &__item.-yellow &__title {
        background: $c-yellow;
    }
    &__text {
        text-align: center;
        font-size: rem(14px);
        font-weight: 700;
        padding: rem(6px) 0 rem(8px);
        line-height: 1.5;
        @include mq-max("sm") {
            text-align: left;
            font-size: rem(12px);
            line-height: 1.2;
            padding-left: 12px;
            span {
                font-size: rem(20px);
            }
        }
    }
}

.p-column-toc {
    &__heading {
        font-size: rem(18px);
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 1;
        margin-bottom: rem(16px);
    }
    &__list {
        font-size: rem(14px);
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 0.1em;
        display: grid;
        gap: rem(4px);
        padding-left: rem(10px);
    }
    &__item {
        padding-left: rem(28px);
        background: url(../img/keiyakusya/toc_arrow.svg) left center / rem(12px) no-repeat;
        a {
            transition: color 0.2s;
            @include hover {
                color: $c-primary;
            }
        }
    }
}

.p-column-supervisor {
    display: flex;
    width: rem(467px);
    justify-content: space-between;
    align-items: center;
    @include mq-max("sm") {
        display: block;
        width: 86.8%;
    }

    &__pic {
        width: rem(116px);
        order: 1;
        @include mq-max("sm") {
            margin-right: rem(16px);
        }
    }
    &__content {
        order: 2;
        width: rem(320px);
        @include mq-max("sm") {
            width: 100%;
        }
    }
    &__header {
        @include mq-max("sm") {
            display: flex;
            align-items: center;
            margin-bottom: rem(20px);
        }
    }
    &__name {
        color: $c-primary;
        font-size: rem(16px);
        line-height: 1.3;
        letter-spacing: 0.03em;
        margin-bottom: rem(8px);
        font-weight: 700;
        @include mq-max("sm") {
            font-size: rem(18px);
            margin-bottom: 0;
            order: 2;
        }
    }
    &__text {
        font-size: rem(14px);
        line-height: 1.3;
        letter-spacing: 0.03em;
        font-weight: 700;
        & + & {
            margin-top: rem(8px);
        }
    }
    & + .p-column-share {
        margin-top: rem(40px);
    }
}

.p-column-share {
    &__heading {
        font-size: rem(16px);
        line-height: 1.5;
        font-weight: 700;
        text-align: center;
    }
    &__list {
        display: grid;
        gap: rem(20px);
        grid-template-columns: repeat(3, rem(40px));
        margin-top: rem(16px);
        justify-content: center;
    }
    &__item {
        width: rem(40px);
        a {
            transition: opacity 0.2s;
            @include hover {
                opacity: 0.6;
            }
            img {
                height: auto;
            }
        }
    }
}
