@charset "UTF-8";
@use "../../global" as *;

.p-keiyakusya-kaigai-cta {
    max-width:rem(360px);
}

.p-keiyakusya-kaigai-cta a {
    width: 100%;
    display: block;
    transition: 0.3s;
    transition: transform .2s ease,box-shadow .2s ease;
    @include hover {
        box-shadow: 0 rem(1px) 0 $c-base-200;
        transform: translateY(rem(3px));
      }
}

.p-kaigai-pdf {
    max-width: rem(808px);
}

.p-kaigai-banner {
    margin-top: rem(116px);
    max-width: rem(1100px);
}