@charset "UTF-8";
@use "../../global" as *;




.p-keiyakusya-menu__title{
    font-size: rem(27px);

}
.p-keiyakusya-menu__wrap{
flex-wrap: wrap;
gap: rem(15px);

}
.p-keiyakusya-menu-btn{
width: 48%;
}
.p-keiyakusya-menu-btn a{
display: inline-block ;
font-size: rem(27px);
color: white;
background-color: #303030;
width: 100%;
min-height: rem(108px);
justify-content: center;
align-items: center;
display: flex;
padding: rem(12px) rem(30px);
border-radius: rem(5px);
}