@charset "UTF-8";
@use "../../global" as *;

.p-keiyakusya-banner {
  position: relative;
  max-width: rem(812px);
  margin-left: auto;
  margin-right: auto;
  @include mq-max("md") {
  }
}

.p-keiyakusya-banner__wrapper {
  border: 3px solid $c-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq-max("sm") {
    flex-direction: column;
  }
}

.p-keiyakusya-banner__item {
  width: 21%;
  padding: rem(16px);
  border-right: 1px solid $c-primary;
  @include mq-max("sm") {
    padding: rem(16px);
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(23px);
    width: 100%;
    border-bottom: 1px solid $c-primary;
  }
}

.p-keiyakusya-banner__type {
  @include mq-max("sm") {
    font-size: rem(24px);
    width: 56%;
  }
}

.p-keiyakusya-banner__family {
  display: flex;
  gap: rem(8px);
  flex-wrap: wrap;
  @include mq-max("sm") {
    width: 44%;
  }
}

.p-keiyakusya-banner__family-item {
  padding: rem(0px) rem(12px);
  border-radius: 4px;
  border: 1px solid $c-primary;
  @include mq-max("sm") {
    font-size: rem(12px);
  }
}
.p-keiyakusya-banner__table {
  width: 47%;
  padding: rem(13px);
  @include mq-max("sm") {
    width: 100%;
    padding: rem(9px) rem(9px) rem(9px) rem(22px);
  }
}
.p-keiyakusya-banner__table dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include mq-max("sm") {
    justify-content: space-between;
  }
}

.p-keiyakusya-banner__table-title {
  width: 28%;
  @include mq-max("sm") {
    width: 33%;
  }
}

.p-keiyakusya-banner__table-price {
  text-align: right;
  width: 35%;
  @include mq-max("sm") {
    width: 33%;
  }
  & span {
    font-size: rem(32px);
  }
}

.p-keiyakusya-banner__table-text {
  width: 32%;
}

.p-keiyakusya-banner__point-text {
  background-color: #fff682;
  border-radius: 8px;
  padding: rem(14px);
  max-width: rem(200px);
  position: relative;
  top: rem(4px);
  left: 30%;
  @include mq-max("sm") {
    width: 32%;
    position: relative;
    top: initial;
    left: initial;
    padding: rem(3px) rem(3px) rem(3px) rem(6px);
    max-width: rem(93px);
    margin-right: 0;
    margin-left: auto;
    border-radius: 4px;
  }
}
.p-keiyakusya-banner__point-text:after {
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  margin-left: -10px;
  border-bottom-color: #fff682;
  bottom: 100%;
  left: 50%;
  z-index: 10;
  @include mq-max("sm") {
    border: solid transparent;
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 10px;
    border-right-width: 10px;
    margin-top: -6px;
    border-right-color: #fff682;
    margin-left: initial;
    right: 100%;
    top: 50%;
    bottom: initial;
    left: initial;
  }
}
.p-keiyakusya-banner__profit {
  width: 36%;
  padding: rem(8px) rem(8px) rem(8px) 0;
  @include mq-max("sm") {
    padding: initial;
    width: 100%;
    text-align: center;
  }
}
.p-keiyakusya-banner__profit-text {
  background-color: $c-primary;
  color: $c-white;
  font-size: rem(32px);
  padding: rem(14px) rem(12px);
  position: relative;
  min-height: rem(84px);
  @include mq-max("sm") {
    min-height: rem(52px);
    padding: initial;
  }
  & span {
    font-size: rem(34px);
  }
}
.p-keiyakusya-banner__profit-text::before {
  position: absolute;
  top: rem(-1px);
  left: rem(-37px);
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-top: rem(43px) solid transparent;
  border-bottom: rem(43px) solid transparent;
  border-right: rem(38px) solid $c-primary;
  border-left: 0;
  @include mq-max("sm") {
    border: none;
  }
}

.p-keiyakusya-banner__detail {
  font-size: rem(32px);
}
