@charset "UTF-8";
@use "../../global" as *;

.p-step-list__item {
  position: relative;
  &:not(:first-child) {
    &::after {
      background: url(/common_2024/img/arrow/arrow_round_primary.svg) center center/contain no-repeat;
      content: "";
      display: block;
      height: 1.25rem;
      position: absolute;
      top: -2.375rem;
      width: 100%;
    }
  }
}
.p-step-list__title {
  align-items: center;
  border: 2px solid #ea5404;
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  min-height: rem(53px);
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  @include mq-max("sm") {
    padding: 1rem 0.5rem 1rem 3.75rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }
  &::before {
    align-items: center;
    background: #ea5404;
    color: #fff;
    content: counter(step-list-num);
    counter-increment: step-list-num;
    display: flex;
    font-size: 1.625rem;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    left: 0;
    min-height: 3.1875rem;
    position: absolute;
    top: 0;
    width: 3.1875rem;
  }
}
.p-step-list__text-wrap {
  background-color: #fff5ed;
  border: 2px solid #ea5404;
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
  &.-flex {
    align-items: center;
    padding: rem(32px) rem(56px);
    display: flex;
    @include mq-max("sm") {
      display: block;
      padding: rem(12px) rem(12px) rem(24px);
    }
  }
}
.p-step-list__down-img {
  width: rem(133px);
}
.p-step-list__icon {
  margin-right: rem(16px);
  @include mq-max("sm") {
    margin-right: 0;
    margin-bottom: rem(16px);
    text-align: center;
  }
  img {
    height: rem(114px);
    width: auto;
  }
}
.p-step-list__has-link {
  background-color: #fff;
}
.p-step-list__text-small {
  line-height: rem(15px);
}
.p-document-list {
  border-bottom: rem(2px) solid $c-primary;
  border-right: rem(2px) solid $c-primary;
  border-radius: rem(4px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include mq-max("sm") {
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    border-left: rem(2px) solid $c-primary;
    border-top: rem(2px) solid $c-primary;
    padding: rem(24px) 0;
    &:not(:first-child) {
      border-left: rem(2px) solid $c-primary;
    }
  }
  &__item-text {
    text-align: center;
    margin-top: rem(12px);
    font-size: rem(16px);
    line-height: 1;
    font-weight: 700;
    @include mq-max("sm") {
      font-size: rem(14px);
    }
  }
  &__item-img {
    width: rem(155px);
    margin: 0 auto;
    @include mq-max("sm") {
      width: rem(130px);
    }
  }
}
