@charset "UTF-8";
@use "../../global" as *;
.p-keiyakusha-login-list {
    width: fit-content;
    margin: rem(20px) auto;
    background: $c-white;
    padding: rem(24px) rem(32px);
    .c-list-dot {
        column-gap: rem(24px);
    }
    @include mq-max("sm") {
        padding: rem(24px) rem(24px);
    }
}
.p-keiyakusya-menu {
    @include mq-min("sm") {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: rem(24px);
    }
    @include mq-max("sm") {
        display: grid;
        gap: rem(16px) rem(12px);
        grid-template-columns: 1fr 1fr;
    }
}
