@charset "UTF-8";
@use "../../global" as *;

.p-keiyakusya-kaigai-type {
    max-width: rem(812px);
    margin-left: auto;
    margin-right: auto;
}

.p-keiyakusya-kaigai-type__items {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: rem(27.53px);
    @include mq-max("md") {
        column-gap: rem(12px);
    }
}

.p-keiyakusya-kaigai-type__item {
    border-radius: rem(15px);
    border: rem(1px) solid #C9C9C9;
    min-height: rem(263px);
    @include mq-max("md") {
        min-height: rem(261px);
      }
}

.p-keiyakusya-kaigai-type__title {
    font-size: rem(19px);
    letter-spacing: rem(0.57px);
    margin-top: rem(7px);
    @include mq-max("md") {
        font-size: rem(14px);
        letter-spacing: rem(0.42px);
      }
    span {
        font-size: rem(10px);
        line-height: calc(14/10);
    }
}

.p-keiyakusya-kaigai-type__img {
    width: 100%;
    text-align: center;
    margin-top: rem(8px);
    picture,img {
        max-width: rem(200px);
        margin-right: auto;
        margin-left: auto;
        @include mq-max("md") {
            max-width: 100%;
          }
    }
}

.p-keiyakusya-kaigai-type__text {
    font-size: rem(14px);
    line-height: calc(21/14);
    font-weight: 700;
    text-align: center;
}

.p-keiyakusya-kaigai-type__link {
    margin-top: rem(15px);
    @include mq-max("md") {
        margin-top: rem(27px);
      }

      a {
        text-decoration: underline;
        position: relative;
        font-size: rem(14px);
        line-height: calc(21/14);
        &::after {
            content: '';
            background-image: url(/assets/img/icon/icon_external.webp);
            background-size:rem(14px);
            position: absolute;
            bottom:rem(3.33px);
            right: rem(-20px);
            width:rem(14px);
            height: rem(11.67px);
        }
      }
}