@charset "UTF-8";
@use "../../global" as *;

.p-kokunai-feature__cards {
    max-width: rem(1000px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap:0 rem(20px);
}

.p-kokunai-feature__card {
    max-width: rem(320px);
    width: 100%;
    min-height: rem(282px);
    border-radius: rem(5px);
    border: rem(1px) solid #BDBDBD;
}

.p-kokunai-feature__heading {
    font-size: rem(22px);
    font-weight: 700;
    line-height: calc(24/22);
    color: $c-primary;
    border-radius: rem(5px);
    background: #F3F3F3;
    margin:rem(8px) rem(10px) 0 rem(10px);
    text-align: center;
}

.p-kokunai-feature__img {
    max-width: rem(100px);
    margin-left: auto;
    margin-right: auto;
}