@charset "UTF-8";
@use "../../global" as *;

.p-kokunai-payment__icons {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: rem(35px);
    justify-items: center;
    align-items: center;
    max-width: rem(494px);
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(38px);
    @include mq-max("md") {
        grid-template-columns: repeat(3,1fr);
        column-gap: rem(40px);
        grid-template-rows: repeat(2,1fr);
        row-gap: rem(24px);
        max-width: rem(264px);
        margin-top: rem(23px);
      }
}

.p-kokunai-payment__table {
    max-width: rem(550px);
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(25px);

    table {
        max-width: rem(550px);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        tr {
            display: flex;
            @include mq-max("md") {
                justify-content: center;
            }
            &:last-child {
                td:last-child {
                    border-bottom:rem(2px) dashed #C9C9C9;
                }
            }
        }
        td {
            width:rem(246px);
            height:rem(65px);
            display: flex;
            align-items: center;
            border-top:rem(2px) dashed #C9C9C9;
            @include mq-max("md") {
                height:rem(61px);
              }
            &:first-child {
                gap:0 rem(5px);
                border-top: none;
                border-bottom: rem(2px) dashed $c-white;
                background-color: #FFF6D1;
                padding-left: rem(50px);
                  @include mq-max("md") {
                    width:rem(169px);
                    padding-left: rem(15px);
                  }
            }

            &:last-child {
                justify-content: center;
                @include mq-max("md") {
                    width:rem(124px);
                  }

                  svg {
                    @include mq-max("md") {
                        width:rem(30px);
                    }
                  }
            }

            span {
                max-width: rem(40px);
            }

            p {
                min-width:rem(109px);
            }
        }
    }
}