@charset "UTF-8";
@use "../../global" as *;

.p-koutsuujiko-accordion__inner {
    margin: auto;
    max-width: rem(813px);
    width: 100%;
}

.p-koutsuujiko-accordion-lists {
    @include mq-max("md") {
        padding:0 rem(9px);
    }
}

.p-koutsuujiko-accordion-list {
    display: grid;
    column-gap: rem(24px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: rem(36px);
    @include mq-max("md") {
        column-gap: rem(12px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,1fr);
        row-gap: rem(25px);
    }
}

.p-koutsuujiko-accordion-list__title {
    text-align: center;
    font-size: rem(14px);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: rem(0.42px);
    margin-top: rem(4px);
}