@charset "UTF-8";
@use "../../global" as *;
/*　プラン診断　*/
.-p-bycle-plan {
    &-back {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            width: 100%;
            text-align: center;
            a {
                background-image: url(/common_2024/img/arrow/arrow_sm_white.svg);
            }
        }
    }
    &-title {
        max-width: 20rem;
        width: 100%;
    }
    &-progressbar {
        display: flex;
        width: 100%;
        padding: 0 6rem;
        @include mq-max("sm") {
            padding: 0;
        }
        &-step {
            position: relative;
            width: calc(100% / 3);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: $c-white;
            height: 4.5rem;
            &:not(:first-child) {
                padding-left: 1rem;
            }
            &:not(:last-child) {
                &::before {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    bottom: 0;
                    left: 100%;
                    border: 2.2rem solid transparent;
                    border-left: 1rem solid $c-white;
                    margin: auto;
                }
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    bottom: 0;
                    left: 100%;
                    border: 2.2rem solid transparent;
                    border-left: 1rem solid $c-white;
                    margin: auto;
                }
            }
            &:not(:last-child)::before {
                margin-left: 2px;
                border-left-color: $c-base-050;
            }
            &.active {
                z-index: 1;
                background: $c-primary;
                color: $c-white;
                &:not(:last-child)::after {
                    border-left-color: $c-primary;
                }
            }
        }
    }
    &-select {
        width: 100%;
        padding: 0 15rem;
        @include mq-max("sm") {
            padding: 0 0.5rem;
        }
        &-btn {
            background: $c-white;
            position: relative;
            .tag-area {
                position: absolute;
                top: 0;
                left: 0;
                @include mq-max("sm") {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                .tag {
                    font-size: 0.625rem;
                    font-weight: 700;
                    padding: 0.25rem 0;
                    border: 0.0625rem solid #d1d1d1;
                    @include mq-max("sm") {
                        font-size: 0.5rem;
                        width: 2.8rem;
                    }
                    &.recom {
                        background-color: #fff682;
                        border: none;
                    }
                }
            }
            &.honin {
                picture {
                    max-width: 3.5rem;
                }
            }
            &.kazoku {
                .tag-area {
                    @include mq-max("sm") {
                        flex-direction: row-reverse;
                    }
                }
                picture {
                    max-width: 3.5rem;
                }
            }
            &.sinzoku {
                .tag {
                    text-align: left;
                }
                picture {
                    max-width: 4.5rem;
                }
            }
            &.bycle-best{
                picture {
                    max-width: rem(77px);
                }
            }
            &.bycle {
                picture {
                    max-width: rem(132px);
                }
            }
            label {
                padding: 0.5rem;
                padding-top: 2rem;
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                cursor: pointer;
                height: 100%;
                border: 0.0625rem solid #d1d1d1;
                picture {
                    max-width: 5rem;
                    width: 100%;
                }

                &::before {
                    content: "";
                    display: block;
                    border-radius: 50%;
                    position: absolute;
                    transform: translateY(-50%) translateX(-50%);
                    top: 1rem;
                    left: 50%;
                    border: 0.0625rem solid #d1d1d1;
                    border-radius: 50%;
                    width: 1rem;
                    height: 1rem;
                }
                &::after {
                    content: "";
                    display: block;
                    border-radius: 50%;
                    position: absolute;
                    transform: translateY(-50%) translateX(-50%);
                    top: 1rem;
                    left: 50%;
                    background-color: $c-primary;
                    border-radius: 50%;
                    opacity: 0;
                    width: 0.5rem;
                    height: 0.5rem;
                }
            }
            input:checked + label::after {
                opacity: 1;
            }
            input:checked + label {
                border: 0.0625rem dashed $c-primary;
            }
            .visually-hidden {
                position: absolute;
                white-space: nowrap;
                border: 0;
                clip: rect(0 0 0 0);
                clip-path: inset(50%);
                overflow: hidden;
                height: 1px;
                width: 1px;
                margin: -1px;
                padding: 0;
            }
        }
    }
}
.u-bycle-plan-access {
    padding-top: 4rem;
    max-width: 30rem;
    width: 100%;
    margin: 0 auto;
    @include mq-max("sm") {
        max-width: calc(100% - 1.25rem);
    }
}
/*　-------　*/
