@charset "UTF-8";
@use "../../global" as *;
.bycle_hominglink{
    max-width: 8.375rem;
    width: 100%;
    height: 6.125;
    bottom: 10rem;
    position: fixed;
    right: 2rem;
    z-index: 10000;
    img{
        width: 100%;
    }
}
/*　タブ切り替え　ベース　*/
.tab-buttons {
    display: flex;
    justify-content: space-between;
    button {
        cursor: pointer;
    }
}
.text-gray {
    color: $c-base-600;
}
.tab-content {
    .p-bycletab-inner {
        padding: 3rem;
        @include mq-max("sm") {
            padding: 2.5rem 0.5rem;
        }
    }
}
.p-bycle-tab-change {
    border: 1px solid $c-primary;
    border-radius: 1rem;
    margin-top: 10px;
    position: relative;
    padding: 4rem 0;
    @include mq-max("sm") {
        padding: 6.25rem 0;
        border-radius: 0.625rem;
    }
    .p-bycle-tab-change__tabs {
        width: 100%;
        border: 1px solid $c-primary;
        border-radius: 1rem;
        @include mq-max("sm") {
            flex-wrap: wrap;
            height: 6.6rem;
            border-radius: 0.625rem;
            align-content: flex-start;
        }
        &:first-child {
            position: absolute;
            bottom: auto;
            top: -1px;
            margin-bottom: 0.625rem;
        }
        &:last-child {
            position: absolute;
            top: auto;
            bottom: -1px;
        }
        .tab-button {
            min-width: calc(100% / 4);
            width: 100%;
            border-radius: 0rem;
            border: none;
            justify-content: flex-start;
            align-items: center;
            color: $c-primary;
            font-size: 1rem;
            line-height: 1.6;
            font-weight: bold;
            position: relative;
            padding: 0;
            @include mq-max("sm") {
                min-width: 50%;
                width: 50%;
                height: 3rem;
                font-size: 0.8125rem;
            }
            &::after {
                content: "";
                width: 1px;
                height: 4rem;
                background-color: $c-primary;
                position: absolute;
                top: 0;
                right: 0;
                @include mq-max("sm") {
                    height: 3.25rem;
                }
            }
            a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0.625rem;
            }
            span {
                font-size: 1.5rem;
                padding-right: 0.625rem;
                @include mq-max("sm") {
                    font-size: 1.25rem;
                }
            }
            &:first-child {
                border-radius: 1rem 0 0 1rem;
                @include mq-max("sm") {
                    border-radius: 0.625rem 0 0 0;
                }
            }
            &:nth-child(2) {
                @include mq-max("sm") {
                    border-radius: 0 0.625rem 0 0;
                    &::after {
                        content: none;
                    }
                }
            }
            &:nth-child(3) {
                @include mq-max("sm") {
                    border-radius: 0 0 0 0.625rem;
                    border-top: 1px solid $c-primary;
                }
            }
            &:last-child {
                border-radius: 0 1rem 1rem 0;
                @include mq-max("sm") {
                    border-radius: 0 0 0.625rem 0;
                    border-top: 1px solid $c-primary;
                }
                &::after {
                    content: none;
                }
            }
            &.active {
                background-color: $c-primary;
                color: $c-white;
                height: calc(3.75rem + 0.25rem);
                box-shadow: none;
                padding: 0.625rem;
                @include mq-max("sm") {
                    min-width: calc(100% / 2);
                    height: calc(3rem + 0.25rem);
                }
            }
            &:focus {
                transform: translateY(0rem);
                -webkit-transform: translateY(0rem);
                box-shadow: none;
            }
        }
    }
}
/*　---------------　*/
/*　タブ切り替え　5つのポイント　*/
.p-byclebest-tab-ranking {
    img {
        max-width: 31.25rem;
        width: 100%;
        margin: 0 auto;
    }
}
.p-bycle-course {
    &__title {
        p {
            font-size: 1.5rem;
            line-height: 1.6;
        }
    }
    &__img {
        max-width: 29.5rem;
        width: 100%;
        margin: 0 auto;
    }
}
.bycle-course-type {
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 2.5rem;
        p {
            font-weight: bold;
            line-height: 1.6;
        }
        h2 {
            line-height: 1.6;
            font-size: 1.25rem;
            font-weight: bold;
            border-bottom: 0.125rem dotted $c-primary;
        }
    }
    .bycle-course-text {
        max-width: 55.625rem;
        width: 100%;
        &__pic {
            display: flex;
            gap: 1rem;
            justify-content: left;
            align-items: center;
            &-icon {
                max-width: 5rem;
                width: 100%;
            }
            &-text {
                flex-grow: 1;
            }
        }
    }
    &__advice {
        text-align: center;
        color: $c-primary;
        font-size: 0.875rem;
        font-weight: bold;
        padding-top: 2rem;
    }
}
.p-bycle-loadservice {
    .p-bycle-loadservice-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            text-align: center;
            font-weight: bold;
            &.p-bycle-loadservice-level {
                padding-bottom: 0.25rem;
            }
            &.p-bycle-loadservice-service {
                font-size: 0.875rem;
                line-height: 1.6;
            }
        }
    }
    .p-bycle-loadservice-list {
        li {
            justify-content: flex-start;
            align-items: center;
        }
        &__point {
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
        }
        &__text {
            span {
                line-height: 1.6;
            }
            p {
                line-height: 1.6;
            }
        }
    }
    .p-bycle-loadservice-buttom {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .p-bycle-loadservice-buttom-size {
            padding: 2rem 0 0.25rem 0;
            max-width: 20rem;
            width: 100%;
            p {
                text-align: left;
                padding-top: 0.25rem;
                line-height: 1.6;
            }
        }
    }
}
.p-bycle-point-wrapper {
    justify-content: space-between;
    @include mq-max("sm") {
        flex-direction: column;
    }
    &__left,
    &__right {
        max-width: calc((100% - 2rem) / 2);
        width: 100%;
        @include mq-max("sm") {
            max-width: 100%;
        }
    }
    &__right {
        @include mq-max("sm") {
            padding-top: 2rem;
        }
    }
    .p-bycle-point-wrapper-box {
        @include mq-max("sm") {
            padding: 0.625rem;
        }
    }
}
.p-bycle-loadservice {
    height: 100%;
    .p-koutsuujiko-detail__card {
        height: 100%;
    }
}
.p-bycle-customer {
    padding-top: 2rem;
}
.p-bycle-gimuka-img {
    justify-content: center;
    img {
        max-width: 30rem;
    }
}
.p-bycle-case {
    .p-bycle-case-subtitle {
        p {
            line-height: 1.5;
        }
    }
    .p-bycle-case-list {
        justify-content: space-between;
        .p-bycle-hoten {
            padding-top: 1rem;
            max-width: calc((100% - 7rem) / 3);
            width: 100%;
            @include mq-max("lg") {
                max-width: calc((100% - 2.5rem) / 3);
            }
            @include mq-max("sm") {
                max-width: 100%;
            }
            .p-koutsuujiko-detail__card {
                height: 100%;
            }
        }
    }
}

.p-bycle-gimuka-note {
    justify-content: center;
    align-items: center;
    .p-bycle-gimuka-note__text {
        max-width: max-content;
    }
}
.p-bycle-compensation-box {
    justify-content: center;
    align-items: center;
    .p-bycle-compensation-box-text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include mq-max("lg") {
            flex-direction: column;
            padding-right: 1rem;
            max-width: 50%;
            p {
                text-align: center;
                padding: 0;
            }
        }
        .p-bycle-compensation__pic-icon {
            max-width: 12.5rem;
            @include mq-max("lg") {
                max-width: 100%;
            }
            img {
                width: 100%;
            }
        }
    }
    .p-bycle-compensation__pic-img {
        max-width: 24.5rem;
        @include mq-max("lg") {
            max-width: 50%;
        }
        img {
            width: 100%;
        }
    }
}

.p-tabbox {
    .p-bycle-point {
        .p-koutsuujiko-detail__heading {
            position: relative;
            @include mq-max("sm") {
                justify-content: flex-start;
                padding-left: 1rem;
            }
            span {
                @include mq-max("sm") {
                    font-size: 2.375rem;
                }
            }
            &::after {
                content: "";
                width: 6rem;
                height: 5rem;
                position: absolute;
                background-size: contain;
                bottom: 0;
                right: 4px;
                background-repeat: no-repeat;
                @include mq-max("sm") {
                    width: 7rem;
                    height: 7rem;
                    background-position: right;
                }
            }
        }
        .p-byclebest-title-course {
            &::after {
                background-image: url(/pc/bycle/assets/img/bycle_tabpoint1-01_pc.png);
            }
        }
        .p-byclebest-title-loadservice {
            &::after {
                background-image: url(/pc/bycle/assets/img/bycle_tabpoint2-01_pc.png);
            }
        }
        .p-byclebest-title-hoten {
            &::after {
                background-image: url(/pc/bycle/assets/img/bycle_tabpoint3-01_pc.png);
                width: 9rem;
                background-position: right;
                @include mq-max("sm") {
                    width: 10rem;
                }
            }
        }
        .p-byclebest-title-customer {
            &::after {
                background-image: url(/pc/bycle/assets/img/bycle_tabpoint4-01_pc.png);
            }
        }
        .p-byclebest-title-compensation {
            &::after {
                background-image: url(/pc/bycle/assets/img/bycle_tabpoint5-01_pc.png);
            }
        }
    }
}
.p-bycle-case {
    .p-bycle-point {
        @include mq-max("sm") {
            margin-right: 1rem;
        }
        @include mq-max("sm") {
            font-size: 2.375rem;
        }
        h3 {
            justify-content: flex-start;
            position: relative;
            span {
                @include mq-max("sm") {
                    font-size: 2rem;
                }
            }
            &::after {
                content: "";
                height: 6.25rem;
                width: 7.25rem;
                display: block;
                position: absolute;
                bottom: 0;
                right: 16px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        &:first-child {
            h3::after {
                background-image: url(/src/img/sub/bycle/bycle_gimu02_pc.png);
            }
        }
        &:nth-child(2) {
            h3::after {
                background-image: url(/src/img/sub/bycle/bycle_gimu03_pc.png);
            }
        }
        &:nth-child(3) {
            h3::after {
                background-image: url(/src/img/sub/bycle/bycle_gimu04_pc.png);
            }
        }
    }
}
/*　--------------------　*/
/*　タブ切り替え　補償内容　*/
.tab2.bycle-hosyou {
    .p-koutsuujiko-detail__fukidashi {
        top: rem(-22px);
    }
    .u-text-xs-tight {
        letter-spacing: -0.04em;
    }
    .p-koutsuujiko-detail__card {
        .p-koutsuujiko-detail__wrap {
            padding: 0 0.5rem;
            .p-koutsuujiko-detail__recommend {
                padding: 1.5rem;
                @include mq-max("sm") {
                    padding: 1rem;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
        .p-koutsuujiko-accordion-service {
            max-width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
            &__wrap {
                padding: 0;
            }
            .c-accordion-4 {
                &__wrapper {
                    padding: 0;
                }
                &__content {
                    border-color: $c-base-050;
                    padding: 0.5rem;
                }
                &__heading {
                    max-width: 100%;
                }
            }
        }
    }

    .js-up-accordion-body {
        padding-bottom: 0;
    }
    .p-koutsuujiko-accordion {
        padding-bottom: 0;
    }
    .point01 {
        .jidan-daikou__flex {
            max-width: 50.5rem;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            align-items: center;
            gap: 1.5rem;
            @include mq-max("sm") {
                justify-content: center;
                gap: 1rem;
            }
            &--img {
                max-width: 13.625rem;
                width: 100%;
            }
            &--text {
                @include mq-max("sm") {
                    width: 100%;
                }
            }
        }
    }
    .point02 {
        .p-koutsuujiko-detail__heading {
            position: relative;
            picture {
                display: none;
                position: absolute;
                right: 0;
                top: -1rem;
                max-width: 6rem;
                @include mq-max("md") {
                    display: block;
                }
                @include mq-max("md") {
                    top: -0.5rem;
                }
            }
        }
        .p-koutsuujiko-detail__icon {
            @include mq-max("md") {
                display: none;
            }
        }
        .p-koutsuujiko-accordion__list {
            grid-template-rows: none;
        }
        .p-koutsuujiko-detail__recommend {
            p {
                display: block;
            }
        }
    }
    .point03 {
        .p-koutsuujiko-detail__heading {
            position: relative;
            picture {
                display: none;
                position: absolute;
                right: 0;
                top: -0.5rem;
                max-width: 6rem;
                @include mq-max("md") {
                    display: block;
                }
            }
        }
    }
    .point04 {
        .p-koutsuujiko-detail__icon {
            @include mq-max("md") {
                max-width: 5rem;
                top: 1.5rem;
                right: 0.5rem;
            }
        }
        .p-koutsuujiko-detail__wrap {
            max-width: 50.5rem;
            width: 100%;
            justify-content: left;
            align-items: center;
            @include mq-max("sm") {
                padding: 0;
            }
        }
        .p-koutsuujiko-detail__text {
            max-width: 27.25rem;
            width: 100%;
            @include mq-max("md") {
                max-width: 100%;
            }
        }
    }
    .bycle__smart-service {
        padding: 2.5rem 1rem;
        &__wrap {
            max-width: 50.5rem;
            width: 100%;
            display: flex;
            justify-content: left;
            gap: 2.5rem;
            @include mq-max("sm") {
                gap: 1rem;
                align-items: center;
            }
            &--img {
                max-width: 5.375rem;
                width: 100%;
                @include mq-max("sm") {
                    max-width: 3.5rem;
                }
            }
            &--text {
                max-width: 42.5rem;
                width: 100%;
            }
        }
    }
}
.p-bycle__orange-content {
    position: relative;
    border: 0.125rem solid $c-primary;
    border-radius: 1rem;
    padding: 2.5rem 1rem;
    .fukidasi {
        position: absolute;
        width: 100%;
        max-width: 10.5rem;
        top: -2.25rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    @include mq-max("sm") {
        padding: 1.5rem 1rem;
    }
    &__flex {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        @include mq-max("sm") {
            flex-wrap: wrap;
            justify-content: center;
        }
        &--img {
            max-width: 15rem;
            width: 100%;
        }
        &--text {
            max-width: 40.125rem;
            width: 100%;
        }
    }
}
.p-bycle__btn-grid {
    max-width: 45rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem 2.5rem;
    @include mq-max("sm") {
        gap: 0.5rem;
    }
    &--btn {
        border: 0.0625rem solid #bdbdbd;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 2rem 1rem;
        border-radius: 0.5rem;
        @include mq-max("sm") {
            padding: 2rem 0.5rem;
        }
        p {
            width: 100%;
        }
        &.annot {
            small {
                bottom: -1.25rem;
                left: 0;
                position: absolute;
            }
        }
    }
}
.list-img {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    gap: 1.5rem;
    &__imgblock {
        max-width: 4rem;
        width: 100%;
        @include mq-max("sm") {
            padding-left: 0rem;
            width: 20%;
            max-width: 3rem;
        }
    }
}
.gray_block {
    width: 100%;
    padding: 0.5rem;
    background-color: $c-base-050;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    @include mq-max("sm") {
        gap: 0.5rem;
    }
    &--title {
        background-color: $c-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 3.75rem;
        width: 100%;
        height: 3.75rem;
        border-radius: 0.25rem;
        p {
            width: 100%;
            white-space: nowrap;
        }
    }
}
.c-btn.-lg {
    padding: 0 2.5rem;
    font-size: 0.875rem;
    @include mq-max("sm") {
        padding: 0 0.75rem;
    }
}
.c-btn.-md {
    width: 100%;
    max-width: 21.25rem;
}
.additional_services {
    li span {
        width: 3.75rem;
        height: 3.75rem;
    }
}
/*　----------------　*/
/*　決済方法　*/
.p-kokunai-payment__icons.bycle {
    grid-template-columns: repeat(6, 1fr);
    @include mq-max("md") {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*　------　*/
/*　タブ切り替え　保険金額と保険料　*/
.p-byclehoken-tab-money {
    .p-keiyakusya-table table {
        width: 100%;
        tr.-p-byclepic-ful {
            max-width: 100%;
            width: 100%;
            grid-template-areas: "p-bycle-hoken-title p-bycle-hoken-pic p-bycle-hoken-pic p-bycle-hoken-pic";
            .p-bycle-hoken-title {
                grid-area: p-bycle-hoken-title;
                @include mq-max("md") {
                    min-width: 7.6875rem;
                }
            }
            .p-bycle-hoken-pic {
                grid-area: p-bycle-hoken-pic;
                text-align: center;
                background-color: rgba(144, 144, 144, 0.1);
                @include mq-max("md") {
                    min-width: 100%;
                }
                strong {
                    line-height: 1.2;
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.p-byclehoken-tab-money {
    .P-byclehoken-text {
        line-height: 1.5rem;
    }
    table thead {
        tr {
            td {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    min-width: 8.75rem;
                }
            }
        }
    }
    table tbody {
        tr {
            .p-bycle-boder {
                border-bottom: 1px solid $c-black;
            }
            &.-p-byclepic-ful {
                .p-bycle-hoken-pic {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            td {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                @include mq-max("sm") {
                    line-height: 1rem;
                    min-width: 8.75rem;
                    justify-content: center;
                    align-items: center;
                }
                span {
                    @include mq-max("md") {
                        margin-top: 0;
                    }
                }
                strong {
                    @include mq-max("sm") {
                        font-size: 1rem;
                    }
                }
            }
            &:not(:last-child)::before {
                @include mq-max("md") {
                    width: 11.75rem;
                }
                @include mq-max("sm") {
                    width: 8.5rem;
                }
            }
        }
    }
    .p-bycle-table__wrappe {
        @include mq-max("md") {
            min-width: 37.9375rem;
        }
    }
}
.p-byclehoken-tab-price {
    .p-keiyakusya-type__title {
        @include mq-max("sm") {
            padding: 0 2rem;
        }
        &::before,
        &::after {
            width: 2rem;
        }
        span {
            @include mq-max("sm") {
                font-size: 1.5rem;
            }
        }
        span.u-bycle-subtext {
            font-size: 1.5rem;
            @include mq-max("md") {
                font-size: 1rem;
            }
            @include mq-max("sm") {
                font-size: 1.2rem;
            }
        }
        @include mq-max("sm") {
            width: 100%;
            font-size: 1.2rem;
        }
    }
    .p-bycle-table__wrapper {
        @include mq-max("md") {
            min-width: 42.875rem;
        }
        table {
            @include mq-max("md") {
                width: 100%;
            }
        }
        table tbody .p-byclytable-twocolumn {
            position: relative;
            border: none;
            grid-template-areas:
                "p-byclehoten-type p-byclehoten-price1 p-byclehoten-price2 p-byclehoten-price3"
                "p-byclehoten-type p-byclehoten-price4 p-byclehoten-price5 p-byclehoten-price6";
            &::before,
            &::after {
                background: #fff;
                position: absolute;
                content: "";
                width: calc(100% - 8.482188rem);
                top: 50%;
                right: 0;
                height: 1px;
                border-top: 0.125rem dashed #c9c9c9;
                @include mq-max("md") {
                    width: calc(100% - 9.0625rem);
                }
            }
            &::before {
                top: auto;
                bottom: 0;
                z-index: 1;
            }
            &:last-child {
                &::before {
                    content: none;
                }
            }
            td {
                &:first-child {
                    grid-area: p-byclehoten-type;
                    @include mq-max("md") {
                        height: 100%;
                    }
                }
                &:nth-child(2) {
                    grid-area: p-byclehoten-price1;
                }
                &:nth-child(3) {
                    grid-area: p-byclehoten-price2;
                }
                &:nth-child(4) {
                    grid-area: p-byclehoten-price3;
                }
                &:nth-child(5) {
                    grid-area: p-byclehoten-price4;
                    background-color: rgba(176, 134, 69, 0.1);
                }
                &:nth-child(6) {
                    grid-area: p-byclehoten-price5;
                    background-color: rgba(144, 144, 144, 0.1);
                }
                &:nth-child(7) {
                    grid-area: p-byclehoten-price6;
                    background-color: rgba(189, 159, 0, 0.1);
                }
                .p-byclehoten-pay-temporary {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    p {
                        height: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:first-child {
                            background-color: #fff6f2;
                        }
                    }
                }
                &.p-byclehoten-type {
                    justify-content: space-between;
                    padding: 0;
                    border: none;
                    .p-byclehoten-type__inner {
                        width: calc(100% - 5rem);
                        padding: 0.5rem;
                        @include mq-max("md") {
                            width: calc(100% - 3.5rem);
                        }
                        @include mq-max("sm") {
                            width: calc(100% - 5rem);
                        }
                        .p-byclehoten-type__inner-img {
                            padding-bottom: 0.25rem;
                        }
                        .p-byclehoten-type__inner-text {
                            width: 100%;
                            a {
                                padding-right: 1rem;
                                padding-bottom: 0.0625rem;
                                border-bottom: 0.0625rem solid $c-black;
                                span {
                                    right: 0;
                                    width: 0.875rem;
                                    margin: 0;
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                            p {
                                width: 100%;
                                line-height: 1.6;
                            }
                        }
                    }
                }
            }
        }
        table thead td {
            &:first-child {
                @include mq-max("sm") {
                    min-width: 14rem;
                }
            }
        }
        table tbody td {
            @include mq-max("md") {
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            &:first-child {
                border-bottom: none;
                @include mq-max("sm") {
                    min-width: 14rem;
                }
            }
            .p-byclehoten-pay-temporary {
                max-width: 5rem;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ffe8dc;
                @include mq-max("md") {
                    max-width: 3.5rem;
                }
                @include mq-max("sm") {
                    max-width: 5rem;
                }
                p {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
    .p-bycle-table_course {
        table tbody tr {
            @include mq-max("md") {
                height: 3.5rem;
            }
            td:first-child {
                justify-content: space-between;
                padding: 0;
                p {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
.p-byclehoken-tab-money,
.p-byclehoken-tab-price {
    @include mq-max("sm") {
        .p-keiyakusya-table {
            padding-bottom: 1rem;
            &::-webkit-scrollbar {
                width: 2rem;
                height: 2px;
            }
            &::-webkit-scrollbar-track {
                background-color: #cbcbcb;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $c-rss;
            }
        }
    }
}
/*　----------------------　*/
/*　タブ切り替え　自転車ロードサービス　*/
.tab4.bycle-roadservice {
    .bycle-roadservice__block01 {
        &__box {
            &--img {
                position: relative;
                .cover-text {
                    position: absolute;
                    background: rgb(255, 255, 255, 0.7);
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    min-height: 6.375rem;
                }
            }
        }
    }
    .bycle-roadservice__block02 {
        &__box {
            &--items {
                max-width: 36rem;
                width: 100%;
            }
        }
    }
    .bycle-roadservice__block04 {
        &__grid {
            gap: 2.5rem 5rem;
            @include mq-max("sm") {
                gap: 2.5rem;
            }
        }
    }
    .bycle-roadservice__block05 {
        .l-container {
            max-width: 51rem;
            width: 100%;
            .c-btn-important-1 {
                justify-content: center;
                height: 3.75rem;
                @include mq-max("sm") {
                    width: 100%;
                    height: auto;
                    min-height: auto;
                    background-position: right 1rem center;
                    padding: 0.5rem;
                }
            }
        }
    }
    .bycle-roadservice__block06 {
        &--img {
            margin: 0 auto;
            max-width: 21rem;
            width: 100%;
            @include mq-max("sm") {
                max-width: 16.56rem;
            }
        }
    }
    .bycle-roadservice__block07 {
        .c-download-pdf {
            margin: 0;
        }
    }
}
.bycle-flexbox01 {
    display: flex;
    justify-content: space-between;
    &__left {
        max-width: 13.43rem;
        width: 100%;
        display: flex;
        justify-content: center;
        picture {
            max-width: 10.875rem;
            width: 100%;
        }
    }
    &__right {
        max-width: calc(100% - 15.93rem);
        width: 100%;
        &--btns {
            gap: 1.5rem 1rem;
        }
    }
    @include mq-max("sm") {
        &__left {
            max-width: 5.5rem;
            picture {
                max-width: 100%;
            }
        }
        &__right {
            max-width: calc(100% - 6rem);
        }
    }
}
.bycle__c-voice {
    display: flex;
    justify-content: space-between;
    &--img {
        max-width: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        picture {
            max-width: 3.56rem;
            width: 100%;
        }
    }
    &--text {
        max-width: calc(100% - 6rem);
        width: 100%;
    }
}
.bycle__check-text {
    padding-left: 1.5625rem;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background: url(/common_2024/img/icon/check_circle.webp) no-repeat;
        background-size: contain;
        top: 0.25rem;
        left: 0;
        width: 1rem;
        height: 1rem;
    }
}
/*　-------------------------　*/
