@charset "UTF-8";
@use '../../global' as *;

/*　タブ切り替え　5つのポイント　*/
.p-byclebest-tab-ranking {
  img {
    max-width: 31.25rem;
    width: 100%;
    margin: 0 auto;
  }
}
.p-bycle-course {
  &__title {
    p {
      font-size: 1.5rem;
      line-height: 1.6;
    }
  }
  &__img {
    max-width: 29.5rem;
    width: 100%;
    margin: 0 auto;
  }
}
.bycle-course-type {
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2.5rem;
    p {
      font-weight: bold;
      line-height: 1.6;
    }
    h2 {
      line-height: 1.6;
      font-size: 1.25rem;
      font-weight: bold;
      border-bottom: 0.125rem dotted $c-primary;
    }
  }
  .bycle-course-text {
    max-width: 55.625rem;
    width: 100%;
    &__pic {
      display: flex;
      gap: 1rem;
      justify-content: left;
      align-items: center;
      &-icon {
        max-width: 5rem;
        width: 100%;
      }
      &-text {
        flex-grow: 1;
      }
    }
  }
  &__advice {
    text-align: center;
    color: $c-primary;
    font-size: 0.875rem;
    font-weight: bold;
    padding-top: 2rem;
  }
}
.p-bycle-loadservice {
  .p-bycle-loadservice-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      text-align: center;
      font-weight: bold;
      &.p-bycle-loadservice-level {
        padding-bottom: 0.25rem;
      }
      &.p-bycle-loadservice-service {
        font-size: 0.875rem;
        line-height: 1.6;
      }
    }
  }
  .p-bycle-loadservice-list {
    li {
      justify-content: flex-start;
      align-items: center;
    }
    &__point {
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
    }
    &__text {
      span {
        line-height: 1.6;
      }
      p {
        line-height: 1.6;
      }
    }
  }
  .p-bycle-loadservice-buttom {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .p-bycle-loadservice-buttom-size {
      padding: 2rem 0 0.25rem 0;
      max-width: 20rem;
      width: 100%;
      p {
        text-align: left;
        padding-top: 0.25rem;
        line-height: 1.6;
      }
    }
  }
}
.p-bycle-point-wrapper {
  justify-content: space-between;
  @include mq-max('sm') {
    flex-direction: column;
  }
  &__left,
  &__right {
    max-width: calc((100% - 2rem) / 2);
    width: 100%;
    @include mq-max('sm') {
      max-width: 100%;
    }
  }
  &__right {
    @include mq-max('sm') {
      padding-top: 2rem;
    }
  }
  .p-bycle-point-wrapper-box {
    @include mq-max('sm') {
      padding: 0.625rem;
    }
  }
}
.p-bycle-loadservice {
  height: 100%;
  .p-koutsuujiko-detail__card {
    height: 100%;
  }
}
.p-bycle-customer {
  padding-top: 2rem;
}
.p-bycle-gimuka-img {
  justify-content: center;
  img {
    max-width: 30rem;
  }
}
.p-bycle-case {
  .p-bycle-case-subtitle {
    p {
      line-height: 1.5;
    }
  }
  .splide {
    @include mq-max('sm') {
      padding: 0 1rem;
    }
  }
  .p-bycle-case-list {
    justify-content: space-between;
    .p-bycle-hoten {
      padding-top: 1rem;
      max-width: calc((100% - 7rem) / 3);
      width: 100%;
      @include mq-max('lg') {
        max-width: calc((100% - 2.5rem) / 3);
      }
      @include mq-max('sm') {
        max-width: 18rem;
        margin-right: 0.625rem;
      }
      .p-koutsuujiko-detail__card {
        height: 100%;
      }
    }
  }
}

.p-bycle-gimuka-note {
  justify-content: center;
  align-items: center;
  .p-bycle-gimuka-note__text {
    max-width: max-content;
  }
}
.p-bycle-compensation-box {
  justify-content: center;
  align-items: center;
  .p-bycle-compensation-box-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include mq-max('lg') {
      flex-direction: column;
      padding-right: 1rem;
      max-width: 50%;
      p {
        text-align: center;
        padding: 0;
      }
    }
    .p-bycle-compensation__pic-icon {
      max-width: 12.5rem;
      @include mq-max('lg') {
        max-width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }

  .p-bycle-compensation-box-right {
    position: relative;
    border-radius: rem(6.498px);
    border: rem(2.599px) dashed #ea5404;
    background: #fff682;
    padding: rem(25px) rem(16px) rem(23.37px) rem(26px);
    max-width: rem(379px);
    margin-left: rem(20px);
    @include mq-max('md') {
      max-width: rem(162px);
      margin-left: rem(16px);
      padding: rem(28px) rem(7px) rem(15px) rem(21px);
      border-radius: rem(5px);
    }
    &::before {
      content: '';
      background-image: url(/common_2024/img/icon/icon_plus.webp);
      background-size: rem(25px);
      width: rem(25px);
      height: rem(25px);
      position: absolute;
      left: rem(-12.5px);
      top: 50%;
      transform: translateY(-50%);
      @include mq-max('md') {
        background-size: rem(20px);
        width: rem(20px);
        height: rem(20px);
        left: rem(-10px);
      }
    }
    .hukidashi {
      position: absolute;
      top: rem(-11px);
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    .hukidashi__text {
      position: relative;
      width: rem(150.765px);
      height: rem(22.743px);
      line-height: rem(22.743px);
      background: #ea5404;
      text-align: center;
      color: #ffffff;
      font-size: rem(16px);
      font-weight: bold;
      border-radius: rem(6.498px);
      @include mq-max('md') {
        width: rem(116px);
        height: rem(17.49px);
        font-size: rem(12px);
        line-height: rem(17.49px);
      }
    }
    .hukidashi__text:after {
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      pointer-events: none;
      position: absolute;
      border-color: rgba(234, 84, 4, 0);
      border-top-width: rem(5px);
      border-bottom-width: rem(5px);
      border-left-width: rem(5px);
      border-right-width: rem(5px);
      margin-left: rem(-5px);
      border-top-color: #ea5404;
      top: 100%;
      left: 50%;
    }
  }

  .p-bycle-compensation-box-right__inner {
    display: flex;
    align-items: center;
    @include mq-max('md') {
      flex-wrap: wrap;
    }
  }

  .p-bycle-compensation-box-right__img {
    max-width: rem(175.65px);
  }

  .p-bycle-compensation__pic-img {
    max-width: 24.5rem;
    @include mq-max('lg') {
      max-width: 50%;
    }
    img {
      width: 100%;
    }
  }
}

.p-tabbox {
  .p-bycle-point {
    .p-koutsuujiko-detail__heading {
      position: relative;

      @include mq-max('sm') {
        justify-content: flex-start;
        padding-left: 1rem;
      }
      span {
        padding-right: 0;
        @include mq-max('sm') {
          font-size: 2.375rem;
        }
      }
      &::after {
        content: '';
        width: 6rem;
        height: 5rem;
        position: absolute;
        background-size: contain;
        bottom: 0;
        right: 4px;
        background-repeat: no-repeat;
        @include mq-max('sm') {
          width: 7rem;
          height: 7rem;
          background-position: right;
        }
      }
    }
    .p-byclebest-title-course {
      &::after {
        background-image: url(/pc/bycle/assets/img/bycle_tabpoint1-01_pc.png);
      }
    }
    .p-byclebest-title-loadservice {
      &::after {
        background-image: url(/pc/bycle/assets/img/bycle_tabpoint2-01_pc.png);
        background-position-y: 1rem;
        @include mq-max('sm') {
          background-position-y: 2.5rem;
        }
      }
    }
    .p-byclebest-title-hoten {
      &::after {
        background-image: url(/pc/bycle-s/assets/img/bycle-s_tab1-illust02.png);
        // background-image: url(/pc/bycle/assets/img/bycle_tabpoint3-01_pc.png);
        width: 9rem;
        background-position: right;
        @include mq-max('sm') {
          width: 10rem;
        }
      }
    }
    .p-byclebest-title-customer {
      &::after {
        background-image: url(/pc/bycle/assets/img/bycle_tabpoint4-01_pc.png);
      }
    }
    .p-byclebest-title-compensation {
      &::after {
        background-image: url(/pc/bycle/assets/img/bycle_tabpoint5-01_pc.png);
      }
    }
  }
}
.p-bycle-case {
  .p-bycle-point {
    @include mq-max('sm') {
      margin-right: 1rem;
    }
    @include mq-max('sm') {
      font-size: 2.375rem;
    }
    h3 {
      justify-content: flex-start;
      position: relative;
      span {
        @include mq-max('sm') {
          font-size: 2rem;
        }
      }
      &::after {
        content: '';
        height: 6.25rem;
        width: 7.25rem;
        display: block;
        position: absolute;
        bottom: 0;
        right: 16px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &:first-child {
      h3::after {
        background-image: url(/src/img/sub/bycle/bycle_gimu02_pc.png);
      }
    }
    &:nth-child(2) {
      h3::after {
        background-image: url(/src/img/sub/bycle/bycle_gimu03_pc.png);
      }
    }
    &:nth-child(3) {
      h3::after {
        background-image: url(/src/img/sub/bycle/bycle_gimu04_pc.png);
      }
    }
  }
}
/*　--------------------　*/
