@charset "UTF-8";
@use "../../global" as *;
.p-bycle-list{
    li{
        padding-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @include mq-max("sm"){
            padding-bottom: 1.5rem;
        }
        &::before{
            content: "";
            width: 0.875rem;
            height: 0.875rem;
            margin-top: 0.5rem;
            background-repeat: no-repeat;
            background-image: url(/common_2024/img/icon/check_circle.png);
            background-size: contain;
            @include mq-max("sm"){
                flex-shrink: 0;
            }
        }
        p{
            font-size: 1.25rem;
            font-weight: bold;
            padding-left: 0.5rem;
            line-height: 1.6;
        }
        &:last-child{
            padding-bottom: 0;
        }
    }
}
.p-byclebest-about{
    &__inner{
        .p-byclebest-about__inner-text{
            font-size: 1rem;
            line-height: 1.5;
            font-weight: bold;
            span{
                color: #367AD1;
                font-size: 2rem;
            }
        }
        .p-byclebest-about__inner-sabtitle{
            padding: 2rem 0 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: calc(100% - 7rem);
            margin: 0 auto;
            @include mq-max("sm"){
                flex-direction: column;
                position: relative;
                max-width: calc(100% - 5rem);
            }
            &::after,
            &::before{
                content: "";
                width: 3.5rem;
                height: 5.75rem;
                background-size: contain;
                background-repeat: no-repeat;
                @include mq-max("sm"){
                    position: absolute;
                    bottom: 2rem;
                    width: 2rem;
                    height: 3.75rem;
                }
            }
            &::after{
                background-image: url(/src/img/sub/bycle-best/byclebest_tab-about03_pc.svg);
                right: 0;
            }
            &::before{
                background-image: url(/src/img/sub/bycle-best/byclebest_tab-about02_pc.svg);
                left: 0;
            }
            p{
                color: #367AD1;
                font-size: 2rem;
                font-weight: bold;
                padding-left: 2rem;
                line-height: 1.6;
                @include mq-max("sm"){
                    padding: 0;
                    font-size: 1.5rem;
                    padding-top: 1.5rem;
                }
            }
            img{
                width: 8.125rem;
                height: 8.125rem;
                @include mq-max("sm"){
                    width: 4.6875rem;
                    height: 4.6875rem;
                }
            }
        }
    }
    &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 52.25rem;
        margin: 0 auto;
        padding-top: 4rem;
        @include mq-max("sm"){
            padding-top: 1rem;
            flex-direction: column;
        }
        .p-byclebest-about__box-img{
            width: 12.5rem;
        }
        .p-byclebest-about__box-text{
            max-width: calc(100% - 1.25rem);
            width: 100%;
            padding-left: 2rem;
            @include mq-max("sm") {
                padding-left: 0;
                padding-top: 1.25rem;
            }
            p{
                font-size: 1.125rem;
                line-height: 1.6;
            }
        }
    }
    &__picup{
        padding-bottom: 5rem;
        .p-byclebest-picup{
            max-width: 50.5rem;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mq-max("sm"){
                flex-direction: column;
            }
            &__img{
                width: 10rem;
                @include mq-max("sm") {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 2rem;
                }
                &-box{
                    @include mq-max("sm") {
                        width: calc(50% - 0.25rem);
                    }
                    &:first-child{
                        padding-bottom: 0.5rem;
                        @include mq-max("sm") {
                        padding-bottom: 0;
                        }
                    }
                }
            }
            &__list{
                max-width: calc(100% - 10rem);
                padding-left: 2.5rem;
                @include mq-max("sm") {
                    padding: 0;
                    max-width: 100%;
                }
            }
        }
    }
}
.byclebest_price.p-byclehoken-tab-price{
    .p-keiyakusya-type__title{
        span{
            color: #367AD1;
        }
        &::before{
            background-image: url(/src/img/sub/bycle-best/byclebest_tab-title01_pc.svg);
        }
        &::after{
            background-image: url(/src/img/sub/bycle-best/byclebest_tab-title02_pc.svg);
        }
    }
}

.p-byclebest-about-difference__title {
    text-align: center;
    padding:rem(14px) rem(15px);
    span {
        border: rem(1px) solid #367AD1;
        border-radius: rem(100px);
        padding:rem(14px) rem(15px);
        font-weight: 700;
        font-size: rem(18px);
        @include mq-max("sm") {
            font-size: rem(16px);
        }
    }
}

.p-byclebest-about-difference__container {
    position: relative;
}

.p-byclebest-about-difference__arrows {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index:10;
    @include mq-max("sm") {
        display: flex;
        justify-content: right;
        gap:0 rem(7px);
        bottom:initial;
        top: rem(-76px);
        left:initial;
        right: 0;
    }
}

.p-byclebest-about-difference__arrow {
    &:first-child {
        max-width: rem(529px);
        @include mq-max("sm") {
            max-width: rem(110px);
        }
    }
    &:last-child {
        max-width:rem(994px);
        margin-top: rem(-50px);
        @include mq-max("sm") {
            max-width: rem(110px);
            margin-top: initial;
        }
    }
}

.p-byclebest-about-difference__inner {
    max-width: rem(812px);
    margin-top: rem(40px);
    margin-left: auto;
}

.p-byclebest-about-difference__items {
    display: flex;
    justify-content: right;
    gap:0 rem(10px);
    @include mq-max("sm") {
        margin-top: rem(93px);
        flex-wrap: wrap;
        justify-content: left;
    }
}

.p-byclebest-about-difference__item {
    border-radius: rem(8px);
    border-width: rem(3px);
    border-style: solid;

    &:first-child {
        border-color: $c-primary;
        padding:rem(38px) rem(32px) rem(187px) rem(32px);
        @include mq-max("sm") {
            max-width: rem(288px);
            padding:rem(5px) rem(98px) rem(23px) rem(14px);
        }

        .p-byclebest-about-difference__item-img {
            max-width: rem(276px);
            @include mq-max("sm") {
                max-width: rem(158px);
                margin-left: rem(9px);
            }
        }

        .p-byclebest-about-difference__item-text {
            margin-top: rem(24px);
            @include mq-max("sm") {
               margin-top: rem(10px);
            }
        }
    }

    &:last-child {
        border-color:#367AD1;
        padding:rem(15px) rem(14px) rem(170px) rem(19px);
        background-color: #DBECFB;
        position: relative;
        @include mq-max("sm") {
            margin-top: rem(43px);
            padding:rem(11px) rem(110px) rem(11px) rem(9px);
        }

        .p-byclebest-about-difference__item-img {
            max-width: rem(387px);
            @include mq-max("sm") {
                max-width: rem(206px);
            }
        }

        .p-byclebest-about-difference__item-text {
            padding-left:rem(54px);
            @include mq-max("sm") {
                padding-left:initial;
            }
        }

        .hukidashi {
            position: absolute;
            top:rem(-35px);
            right: rem(21px);
            z-index:10;
            @include mq-max("sm") {
                left: 0;
                top:rem(-40px);
            }
        }

        .hukidashi__text{
            position:relative;
            width:rem(209px);
            height:rem(51px);
            background:#FFF682;
            text-align:center;
            color:#000000;
            font-size:rem(18px);
            font-weight:bold;
            border-radius:rem(8.372px);
            line-height: rem(51px);
            @include mq-max("sm") {
                font-size: rem(16px);
                width:rem(181px);
                height: rem(33px);
                line-height: rem(33px);
            }
        }
        .hukidashi__text:after{
            border: solid transparent;
            content:'';
            height:0;
            width:0;
            pointer-events:none;
            position:absolute;
            border-color: rgba(255, 246, 130, 0);
            border-top-width:10px;
            border-bottom-width:10px;
            border-left-width:10px;
            border-right-width:10px;
            margin-left: -10px;
            border-top-color:#FFF682;
            top:100%;
            left:50%;
        }
        
    }
}

.p-byclebest-about-difference__item-text {
    font-size: rem(20px);
    font-weight: 700;
    line-height:1.3;
    text-align: center;
    @include mq-max("sm") {
        font-size: rem(15px);
        line-height: 1.1;
    }
}

.p-byclebest-about-difference__item-content {
    background-color: $c-white;
    padding:rem(39px) rem(41px) rem(17px) 0;
    position: relative;
    @include mq-max("sm") {
        max-width: rem(221px);
        padding:0 rem(7px) rem(8px) rem(7px);
    }
    &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-right: rem(21px) solid transparent;
        border-left: rem(21px) solid transparent;
        border-top: rem(42px) solid #ffffff;
        border-bottom: 0;
        position: absolute;
        bottom: rem(-22px);
        left: 50%;
        transform: translateX(-50%);
        @include mq-max("sm") {
            display: none;
        }
    }
}