@charset "UTF-8";
@use "../../global" as *;
.p-bycle-list{
    li{
        padding-bottom: 2rem;
        display: flex;
        justify-content: start;
        align-items: start;
        @include mq-max("sm"){
            padding-bottom: 1.5rem;
        }
        &::before{
            content: "";
            width: 0.875rem;
            height: 0.875rem;
            margin-top: 0.5rem;
            background-repeat: no-repeat;
            background-image: url(/common_2024/img/icon/check_circle.png);
            background-size: contain;
            @include mq-max("sm"){
                flex-shrink: 0;
            }
        }
        p{
            font-size: 1.25rem;
            font-weight: bold;
            padding-left: 0.5rem;
            line-height: 1.6;
        }
        &:last-child{
            padding-bottom: 0;
        }
    }
}
.p-byclebest-about{
    &__inner{
        .p-byclebest-about__inner-text{
            font-size: 1rem;
            line-height: 1.5;
            font-weight: bold;
            span{
                color: #367AD1;
                font-size: 2rem;
            }
        }
        .p-byclebest-about__inner-sabtitle{
            padding: 2rem 0 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: calc(100% - 7rem);
            margin: 0 auto;
            @include mq-max("sm"){
                flex-direction: column;
                position: relative;
                max-width: calc(100% - 5rem);
            }
            &::after,
            &::before{
                content: "";
                width: 3.5rem;
                height: 5.75rem;
                background-size: contain;
                background-repeat: no-repeat;
                @include mq-max("sm"){
                    position: absolute;
                    bottom: 2rem;
                    width: 2rem;
                    height: 3.75rem;
                }
            }
            &::after{
                background-image: url(/src/img/sub/bycle-best/byclebest_tab-about03_pc.svg);
                right: 0;
            }
            &::before{
                background-image: url(/src/img/sub/bycle-best/byclebest_tab-about02_pc.svg);
                left: 0;
            }
            p{
                color: #367AD1;
                font-size: 2rem;
                font-weight: bold;
                padding-left: 2rem;
                line-height: 1.6;
                @include mq-max("sm"){
                    padding: 0;
                    font-size: 1.5rem;
                    padding-top: 1.5rem;
                }
            }
            img{
                width: 8.125rem;
                height: 8.125rem;
                @include mq-max("sm"){
                    width: 4.6875rem;
                    height: 4.6875rem;
                }
            }
        }
    }
    &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 52.25rem;
        margin: 0 auto;
        padding-top: 4rem;
        @include mq-max("sm"){
            padding-top: 1rem;
            flex-direction: column;
        }
        .p-byclebest-about__box-img{
            width: 12.5rem;
        }
        .p-byclebest-about__box-text{
            max-width: calc(100% - 1.25rem);
            width: 100%;
            padding-left: 2rem;
            @include mq-max("sm") {
                padding-left: 0;
                padding-top: 1.25rem;
            }
            p{
                font-size: 1.125rem;
                line-height: 1.6;
            }
        }
    }
    &__picup{
        padding-bottom: 5rem;
        .p-byclebest-picup{
            max-width: 50.5rem;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mq-max("sm"){
                flex-direction: column;
            }
            &__img{
                width: 10rem;
                @include mq-max("sm") {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 2rem;
                }
                &-box{
                    @include mq-max("sm") {
                        width: calc(50% - 0.25rem);
                    }
                    &:first-child{
                        padding-bottom: 0.5rem;
                        @include mq-max("sm") {
                        padding-bottom: 0;
                        }
                    }
                }
            }
            &__list{
                max-width: calc(100% - 10rem);
                padding-left: 2.5rem;
                @include mq-max("sm") {
                    padding: 0;
                    max-width: 100%;
                }
            }
        }
    }
}
.byclebest_price.p-byclehoken-tab-price{
    .p-keiyakusya-type__title{
        span{
            color: #367AD1;
        }
        &::before{
            background-image: url(/src/img/sub/bycle-best/byclebest_tab-title01_pc.svg);
        }
        &::after{
            background-image: url(/src/img/sub/bycle-best/byclebest_tab-title02_pc.svg);
        }
    }
}
