@charset "UTF-8";
@use "../../global" as *;
// TOPメッセージ

.p-corporate-btn {

    &-icon {
        width: 2.0rem;
        margin-right: 1rem;

        @include mq-max("sm") {
            width: 2rem;
            margin-bottom: 0.5rem;
        }
    }
}