@charset "UTF-8";
@use '../../global' as *;

.p-pet-application {
  background-color: #fffcd1;
  padding-top: rem(14px);
  padding-bottom: rem(18px);
  @include mq-max('sm') {
    padding: rem(14px) rem(20px) rem(18px);
    margin-left: -0.625rem;
    margin-right: -0.625rem;
  }

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
      font-weight: bold;
      font-size: rem(20px);
      letter-spacing: 0.01em;
      text-align: center;
      position: relative;
      @include mq-max('sm') {
        font-size: rem(16px);
      }
      strong {
        font-size: rem(25px);
        @include mq-max('sm') {
          font-size: rem(25px);
          letter-spacing: 0.1em;
        }
      }
    }
    ::after {
      background-image: url(/pc/pet/assets/img/pet_pad_icon.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: rem(47px);
      height: rem(47px);
      position: absolute;
      content: '';
      top: 50%;
      right: rem(-48px);
      transform: translateY(-50%);
      @include mq-max('sm') {
        top: 68%;
        right: rem(-32px);
        transform: translateY(-50%);
      }
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    gap: rem(24px);
    @include mq-max('sm') {
      gap: rem(10px);
    }

    &-btn {
      &--yes {
        color: #fff;
        background-color: $c-primary;
        border: 3px solid $c-primary;
        box-shadow: 0 rem(5px) 0 #ab3b00;
        font-weight: bold;
        font-size: rem(12px);
        padding-top: rem(16px);
        padding-bottom: rem(16px);
        position: relative;
        display: inline-block;
        width: rem(360px);
        border-radius: rem(5px);
        text-align: center;
        transition: all 0.2s ease;
        @include mq-max('sm') {
          width: rem(165px);
          text-align: left;
          line-height: 1.5;
          letter-spacing: 0.03em;
          padding: rem(6px) rem(10px);
        }
        strong {
          font-size: rem(20px);
          letter-spacing: 0.03em;
        }
        ::after {
          position: absolute;
          content: '';
          background-image: url(/pc/pet/assets/img/pet_arrow_bold_white.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          top: 50%;
          right: rem(20px);
          transform: translateY(-50%);
          width: rem(16px);
          height: rem(11px);
          @include mq-max('sm') {
            right: rem(8px);
            width: rem(23px);
            height: rem(17px);
          }
        }
        @include hover {
          box-shadow: none;
          transform: translateY(rem(4px));
        }
      }
      &--no {
        color: #000;
        background-color: #fff682;
        border: 3px solid #ffef28;
        box-shadow: 0 rem(5px) 0 #d9dd00;
        font-weight: bold;
        font-size: rem(12px);
        padding-top: rem(16px);
        padding-bottom: rem(16px);
        position: relative;
        display: inline-block;
        width: rem(354px);
        border-radius: rem(5px);
        text-align: center;
        transition: all 0.2s ease;
        @include mq-max('sm') {
          width: rem(165px);
          text-align: left;
          line-height: 1.5;
          letter-spacing: 0.03em;
          padding: rem(6px) rem(10px);
        }
        strong {
          font-size: rem(20px);
          letter-spacing: 0.03em;
        }
        ::after {
          position: absolute;
          content: '';
          background-image: url(/pc/pet/assets/img/pet_arrow_bold_black.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          top: 50%;
          right: rem(20px);
          transform: translateY(-50%);
          width: rem(16px);
          height: rem(11px);
          @include mq-max('sm') {
            right: rem(8px);
            width: rem(23px);
            height: rem(17px);
          }
        }
        @include hover {
          box-shadow: none;
          transform: translateY(rem(4px));
        }
      }
    }
  }
  &__text {
    font-weight: bold;
    font-size: rem(20px);
    text-align: center;
    @include mq-max('sm') {
      font-size: rem(16px);
    }
  }
}
