@charset "UTF-8";
@use "../../global" as *;

.p-pet-icon-btn {
    font-weight: 700;
    border-radius: rem(8px);
    border: 1px solid $c-base-200;
    background: $c-white no-repeat;
    box-shadow: 0px rem(4px) 0px 0px $c-base-200;
    display: inline-flex;
    align-items: center;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease,
      border-color 0.2s ease 0.1s;
    @include hover {
      box-shadow: none;
      transform: translateY(rem(4px));
      border-color: $c-primary;
    }
    @include mq-max("sm") {
      width: 100%;
    }
    &.-bg-yellow {
      background-color: $c-primary-100;
    }
    &.-lg {
      font-size: rem(20px);
      letter-spacing: 0.1;
      width: rem(300px);
      height: rem(60px);
      background-image: url(../img/arrow/arrow_lg_primary.svg);
      background-size: rem(7px);
      background-position: right rem(13px) center;
      padding: rem(8px);
  
      &.-s {
        font-size: rem(14px);
      }
    }
    &.-md {
      font-size: rem(16px);
      width: rem(340px);
      height: rem(48px);
      background-image: url(../img/arrow/arrow_md_primary.svg);
      background-position: right rem(8px) center;
      background-size: rem(6px);
    }


    &__img{
        aspect-ratio: 44 / 44;
        overflow: hidden;
        max-width: rem(44px);
        height: rem(44px);
        margin-right: rem(12px);
        
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #F8F5F2;
            border-radius: 50%;

        }
    }

    & p{
        text-align: center;
        font-size: rem(17px);
        font-weight: 700;
        letter-spacing: rem(1.7px);
    }


  }