@charset "UTF-8";
@use "../../global" as *;

.p-pet-customer {
  &__inner {
    padding: 0 rem(15px);
    margin-right: auto;
    margin-left: auto;
    max-width: rem(812px);
    width: 100%;
    height: inherit;
    @include mq-max("sm") {
      padding: 0 rem(5px);
    }
  }
  &__head {
    text-align: center;
    background-color: #dcdcdc;
    border-radius: rem(15px) rem(15px) 0 0;
    position: relative;
    padding: rem(18px) rem(15px);
    cursor: pointer;
    &.is-active {
      ::after {
        background-image: url(/common_2024/img/icon/icon_toggle_minus.svg);
      }
    }
    ::after {
      background: url(/common_2024/img/icon/icon_toggle_plus.svg) center center/cover no-repeat;
      position: absolute;
      content: "";
      top: 50%;
      right: 1.5rem;
      transform: translateY(-50%);
      height: 1.25rem;
      width: 1.25rem;
      @include mq-max("sm") {
        right: 1rem;
      }
    }
    &-title {
      font-weight: bold;
      font-size: rem(20px);
      letter-spacing: 0.1em;
    }
    &-sub {
      font-weight: bold;
      font-size: rem(10px);
    }
  }
  &__body {
    background-color: #f3f3f3;
    border-radius: 0 0 rem(15px) rem(15px);
    @include mq-max("sm") {
      text-align: center;
    }
    &-wrapper {
      display: flex;
      padding: rem(40px) 0;
      @include mq-max("sm") {
        display: inline-block;
        text-align: center;
      }
      &-left {
        width: 50%;
        text-align: center;
        padding: 0 rem(50px);
        &-login {
          width: 100%;
          max-width: rem(308px);
          background: $c-white url(/common_2024/img/arrow/arrow_bold_login.svg) right rem(22px) center no-repeat;
          background-size: rem(18px);
          box-shadow: 0 rem(4px) 0 $c-base-200;
          height: rem(58px);
          text-align: center;
          font-size: rem(20px);
          font-weight: 700;
          line-height: 1;
          display: inline-flex;
          align-items: center;
          border-radius: rem(10px);
          overflow: hidden;
          padding-right: rem(24px);
          transition:
            transform 0.2s ease,
            box-shadow 0.2s ease;
          &-icon {
            width: 3.625rem;
            height: 100%;
            background: url(/common_2024/img/icon/icon_user.svg) center center/1.25rem #404ac7 no-repeat;
          }
          &-text {
            flex: 1;
            text-align: center;
            @include mq-max("sm") {
              font-size: rem(16px);
            }
          }
          &:focus {
            box-shadow: 0 0.0625rem 0 #d1d1d1;
            transform: translateY(0.1875rem);
          }
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              box-shadow: 0 0.0625rem 0 #d1d1d1;
              transform: translateY(0.1875rem);
            }
          }
        }
        &-procedure {
          font-weight: bold;
          font-size: rem(14px);
          @include mq-max("sm") {
            font-size: rem(13px);
          }
        }
        @include mq-max("sm") {
          width: 100%;
          display: inline-block;
          padding: 0;
          text-align: center;
        }
      }
      &-right {
        width: 50%;
        padding: 0 rem(50px);
        border-left: 2px solid #fff;
        @include mq-max("sm") {
          width: auto;
          padding: 0;
          border-left: none;
        }
        &-container {
          display: flex;
          gap: rem(12px);
          &-btn {
            background-color: #fff;
            background: url(/common_2024/img/arrow/arrow_bold_primary.svg) right rem(16px) center no-repeat;
            background-size: rem(18px);
            border: 1px solid $c-base-200;
            border-radius: rem(20px);
            height: rem(110px);
            box-shadow: 0 rem(4px) 0 $c-base-200;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-position: center bottom rem(12px);
            min-height: rem(160px);
            width: rem(148px);
            flex-direction: column;
            padding: rem(16px) 0 rem(30px);
            background-position: center bottom rem(12px);
            min-height: rem(160px);
            width: rem(148px);
            transition: all 0.2s ease;
            &-icon {
              aspect-ratio: 1/1;
              width: rem(56px);
              height: rem(56px);
              margin: 0;
              @include mq-max("sm") {
                width: rem(45px);
                height: rem(45px);
              }
              & img {
                width: 100%;
                height: auto;
              }
            }
            &-text {
              font-size: rem(14px);
              font-weight: 700;
              line-height: 1.25;
              letter-spacing: 0.05em;
              text-align: center;
              display: flex;
              align-items: center;
              @include mq-max("sm") {
                line-height: calc(20 / 14);
              }
            }
            @include hover {
              border-color: $c-primary;
              box-shadow: none;
              transform: translateY(rem(4px));
            }
          }
        }
        &-info {
          & a {
            background-color: #fff;
            font-size: rem(14px);
            line-height: 1.4;
            letter-spacing: 0.01em;
            font-weight: 700;
            border-radius: 0.5rem;
            border: 1px solid #d1d1d1;
            width: 18.75rem;
            height: 3.75rem;
            background-image: url(/common_2024/img/arrow/arrow_md_primary.svg);
            background-size: 0.4375rem;
            background-position: right 0.8125rem center;
            background-repeat: no-repeat;
            box-shadow: 0px 0.25rem 0px 0px #d1d1d1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition:
              transform 0.2s ease,
              box-shadow 0.2s ease,
              border-color 0.2s ease 0.1s;
            @include mq-max("sm") {
              line-height: 1.2;
            }
            &:focus {
              box-shadow: none;
              transform: translateY(0.25rem);
              border-color: #ea5404;
            }
            @media (hover: hover) and (pointer: fine) {
              &:hover {
                box-shadow: none;
                transform: translateY(0.25rem);
                border-color: #ea5404;
              }
            }
            @media (max-width: 519px) {
              a {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
