@charset "UTF-8";
@use "../../global" as *;

.p-worried {
  margin: 0 auto;

  &__inner {
    padding-left: rem(20px);
    padding-right: rem(20px);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include mq-max("md") {
      max-width: rem(700px);
      font-size: rem(10px);
    }
  }

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: rem(586px);
    box-sizing: border-box;
    gap: 10%;
    font-size: rem(20px);
    font-weight: bold;
    @include mq-max("md") {
      max-width: rem(700px);
      gap: 2%;
    }
  }

  &__img {
    width: 30%;
    object-fit: cover;
    aspect-ratio: 175/170;
    margin-top: rem(10px);
    @include mq-max("md") {
      aspect-ratio: 104/101;
    }
    & img {
      width: 100%;
      height: auto;
    }
  }

  &__container {
    width: 60%;
    display: flex;
    align-items: center;
    @include mq-max("md") {
      width: 68%;
      align-items: flex-start;
    }
  }
}

.p-worried__container {
  &__box {
    flex-direction: column;
  }
}

.p-worried__container
.p-worried__box {
  & .p-worried__head {
    font-size: rem(20px);
    font-weight: bold;
    @include mq-max("md") {
    }
  }
  & .p-worried__text {
    font-size: rem(14px);
    font-weight: bold;
    margin-top: rem(4px);
    @include mq-max("md") {
    margin-top: rem(2px);
    }
  }
  & .p-worried__primary {
    font-size: rem(14px);
    font-weight: bold;
    margin-top: rem(4px);
    @include mq-max("md") {
      font-size: rem(18px);
      margin-top: rem(2px);
    }
    @include mq-max("sm") {
      font-size: rem(14px);
    }
  }
  & .p-worried__annotation {
    font-size: rem(11px);
    font-weight: medium;
    margin-top: rem(8px);
    @include mq-max("md") {
      font-size: rem(10px);
      margin-top: rem(2px);
    }
  }
}