@charset "utf-8";

h2 img { opacity: 1 !important; }
.column h3, .column p { opacity: 1 !important; }
dl.balloon > * { opacity: 1 !important; }
#area .remember dl > * { opacity: 1 !important; }
#point dl.balloon_hw > * { opacity: 1 !important; }
#recommend .blackboard h4 { opacity: 1 !important; }
#recommend .blackboard dl > * { opacity: 1 !important; }
.application ul li { opacity: 1 !important; }
