@charset "UTF-8";

body,
h1,h2,h3,h4,h5,h6,
ul,dl,dt,dd,li
{
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ol, ul { list-style: none; }

img {
  max-width: 100%;
  height: auto;
  outline: none;
  vertical-align: bottom;
  border: 0;
}

/* ==========================================================
 【layout】

 1. common
 2. header
 3. gnav
 3-2. megamenu
 4. main
 5. footer
 6. bread_crumb

 ========================================================== */

/*/////////////////////////////
 1. common
 /////////////////////////////*/

body{
	position:relative;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", arial,helvetica,clean, sans-serif;
}

/*コンテンツ PCヘッダー用マージン*/
#contents_wrapper{
  margin-top:120px;
}

.container_new {
  max-width: 980px;
  margin: 0 auto;
}

.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

/* Hides from IE Mac */
* html .clearfix{
  height: 1%;
}
.clearfix{
  display:block;
}

a:hover img.hoverImg {
	filter:alpha(opacity=70);
	opacity:0.7;
    -moz-opacity: 0.7;
}

.ios a:hover img.hoverImg {
	opacity:1;
    -moz-opacity:1;
}


/*/////////////////////////////
 2. header
 /////////////////////////////*/
/* header_new
 * ------------------------- */
#header_new {
	width:100%;
background:#FFFFFF!important;

}

.header_new {
	max-width:980px;
	margin: 0px auto!important;
	padding: 0;
	position: relative;
	/*height:107px!important;*/
	z-index:10000;
	background:#FFFFFF!important;
}
.header_new > div{
    /*display:inline-block;*/
}
.sp_header_new.sp_display {
    display: none;
}
.head_middle{
	/*position:relative;*/
	width:100%;
    text-align:right;
	float:left;
}
.head_middle li{
   /* display:inline-block;*/
   float:left;
}

.head_middle li > a{
    text-decoration: none;
}
.head_middle li > a:hover{
    text-decoration: underline;
}


.header_new .inner{
	/*position:relative;*/
	width:85%;
	top:10px;
	/*padding-top:5px;*/
	float:left;
}



.header_new .inner ul#gnavi{
	/*position:relative;*/
	width:87%;
	box-sizing:border-box;
    clear:both;
    float:left;
    margin-left:6%;
    margin-top:1%;
}

/* head_logo */
.header_new .head_logo {
width:15%;
float:left;
text-align:left;
padding:0;
box-sizing:border-box;
}
.header_new .head_logo img{
max-width: 139px;
margin:0;
}

.header_new .head_logo a{
padding:0!important;
margin:0;
}


/* head_utility */
.header_new .head_utility {
    /*margin-left: 175px;*/
}
/* head_top */
.header_new .head_top {
	width:85%;
	/*padding-top:2%;*/
}
.header_new .head_top ul,
.header_new .head_top dl {
    text-align: right;
    vertical-align: middle;
    display: inline-block;
}
.header_new .head_top ul {
    margin-right: 5px;
}
.header_new .head_top li {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: middle;
    margin-right: 10px;
    text-align: right;
	float:right;
	border:none!important;
}
.header_new .head_top li a {
    color: #000;
    font-size: 12px;
    font-weight: normal;
    line-height: 2.5;
    text-decoration: none;
    background-position: left center;
    padding-left: 0px;
}
.header_new .head_top ul a:hover {
    text-decoration: underline;
}
.header_new .head_top dl dt,
.header_new .head_top dl dd {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: middle;
}
.header_new .head_top dl {
    width: 375px;
    padding: 5px 0;
    background: #f4f4f4;
    border-right: #c8c8c8 1px solid;
    border-bottom: #c8c8c8 1px solid;
    border-left: #c8c8c8 1px solid;
    border-radius: 0px 0px 9px 9px;
    -moz-border-radius: 0px 0px 9px 9px;
    -webkit-border-radius: 0px 0px 9px 9px;
}
.header_new .head_top dl dt {
    width: 78px;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border-right: #c8c8c8 1px solid;
}
.header_new .head_top dl dd {
    font-size: 12px;
    padding-left: 16px;
    line-height: 1.25;
}
.header_new .head_top dl dd em {
    display: block;
    color: #273f80;
    letter-spacing: -0.03em;
    background: url('../../common/img_20150623/pc/common/icon_header_free.png') no-repeat;
    background-position: left top;
    padding-left: 50px;
}
.header_new .head_top dl dd strong {
    font-size: 21px;
    line-height: 1;
    vertical-align: middle;
}
.header_new .head_top dl dd span {
    display: inline-block;
    color: #fff;
    font-size: 11px;
    letter-spacing: normal;
    vertical-align: middle;
    background: #273f80;
    padding: 4px 6px 2px;
    margin-left: 9px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.header_new .head_top dl dd small {
    font-size: 11px;
}
/* head_lower */
.header_new .head_lower {
    overflow: hidden;
}
/* head_btn_login */
/*.header_new .head_btn_login {
    max-width: 170px;
    position: relative;
    float: right;


}*/

/*
.header_new .head_btn_login a {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: #00B128;
    margin:5px;
    padding: 6px 0 4px;
    border-radius:2px;
}*/
.header_new .head_btn_login a:hover {
    background: #97C731;
}
.orange_triangle{
	width:7px;
	height:9px;
	margin: -2px 0 0 5px;
	vertical-align: middle;
}
.header_btn1,.header_btn2,.header_btn3,.header_btn4{

display:inline-block;

}
.header_btn1{
	width:18%;
}
.header_btn2{
	width:14.5%;
}
.header_btn3{
	width:24%;
}
.header_btn4{
	width:18%;
}
.header_btn5{
	width:14.5%;
}
.login_green_btn{
	width:129px;
	width:100%;
}
.login_green_btn img{
	width:100%;
}
.au_logo{
	max-width:139px;
	height:27px;
	padding-top:34px;
	float:left;
}
/*/////////////////////////////
 3. gnav
 /////////////////////////////*/

/* head_gnav
 * ------------------------- */
 #header_new_wrap{
	 left:0px;
	 top:0px;
	 width:100%;
	 background-color:#FFF!important;
	 z-index:1000;
	 padding-top:0;

 }
/* .header_new{
	 max-width:980px;
	 margin:0 auto;
 }*/

.header_new .head_gnav {
    width:100%;
    float: left;
   /* margin-top:12px;*/
   margin-top:5px;
}
.header_new .head_gnav li {
    letter-spacing: normal;
    display: inline-block;
    border-left: #c8c8c8 1px solid;
}
.header_new .head_gnav li:first-child {
   border-left: none;
   }

.header_new .head_gnav li:first-child .init-bottom {
	border:none;
}

.header_new .head_gnav a {
    color: #464646;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    padding: 1px 10px;
    display: block;
}
.header_new .head_gnav a:hover {
    text-decoration: underline;
}


.header_low_fixed{
	/*display:block;*/
	position:fixed;
	top:0px;
	left:0px;
	z-index:1002;
}
#header_low{
	display:none;
	width:100%;
	background-color:#FFFFFF;
	padding-top:10px;
}
#header_s{
	max-width:980px;
	margin:0 auto;
	/*padding-left:5px;
	padding-right:5px;*/
	clear:both;
	background-color:#FFFFFF;
	padding-bottom:10px;
	font-size:10px;

}
#header_s a{
	color:#000000;
	text-decoration:none;
padding:0!important;
padding:0!important;

}
#header_s .logo{
	float:left;
	max-width:13%;
	margin-right:2%;
}
#header_s .header_outline{
	float:left;
	width:68%!important;
	margin-top:5px;
}
#header_s .header_outline .header_gnav{
		padding:0!important;
		border-right:solid 1px #000;
        text-align:center;
        list-style-type: none;
        display: table-cell;
}
#header_s ul:first-child {
    display: table;
    width: 100%;
}
#header_s .header_outline li img{
	width:100%;
}
#header_s .header_inline {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#header_s .login_btn{
	float:right;
	width:13.5%;
	margin-top:-5px;
}
#header_s .login_btn img{
	width:100%;
}

/* floatingNavi_pc
 * ------------------------- */
#disableDoublePost-overlay-pc {
	background: none repeat scroll 0 0 #f2f2f2;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#floatingNavi_pc {
  display: none;
  max-width:400px;
  width: 77%;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow:rgba(87, 76, 75, 0.3) -4px 4px 2px -1px;
  -webkit-box-shadow:rgba(87, 76, 75, 0.3) -4px 4px 2px -1px;
  -moz-box-shadow:rgba(87, 76, 75, 0.3) -4px 4px 2px -1px;
  z-index: 99999;
}
.pc_nav_menu ul li {
  border-top: #757575 1px solid;
}
.pc_nav_menu > ul > li:first-child {
  border-top: none;
  height:45px;
}
.pc_nav_menu li a {
  color: #464646;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  display: block;
  /*padding: 12px;*/
}
.pc_nav_menu .btn_close a {
  display: inline-block;
  width: 20px;
  font-size: 12px;
  text-align: center;
  background: #fff;
  padding: 8px 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.pc_nav_menu .btn_close a:before {
  content: "";
  display: inline-block;
  width: 9.5px;
  height: 9.5px;
  background: url('../../common/img_20150623/sp/common/btn_menu_close.png') no-repeat;
  background-position: left top;
  background-size: contain;
  margin-right: 6px;
}
.close_position{
	background-color:#464646;
	width:90px;
	position: absolute;
	top:0;
	right: 0px;
	height:51px;
}
.pc_nav_menu .list_toggle > a {
  position: relative;
}
.pc_nav_menu .list_toggle > a span {
  position: absolute;
  top: 50%;
  right: 6%;
  margin-top: -21px;
  font-size: 2em;
}
.pc_nav_menu .sp_menu_list {
  display: none;
}
.pc_nav_menu .sp_menu_list a {
  padding-left: 18.5%
}
.pc_nav_menu .btn_close a.hideNavi{
	padding-left:6px;
	margin: 10px 10px 10px 32px;
}
.nav_menu_icon1,.nav_menu_icon2{
	display:inline-block;
}
.nav_menu_icon1{
	margin: 10px 10px 5px 12px;
	width:100px;
	height:19px;
}
.nav_menu_icon2{
	background-color: #F00;
	width: 120px;
	height: 30px;
	margin-top: 4.5px;
	vertical-align: top;
}
.triangle_r_header{
	display:inline-block;
	float:right;
}
.pc_nav_menu li a.text_white{
	color:#fff;
}
.back_black{
	background-color:#464646;
}
.white_sankaku_r,.black_sankaku_r{
	width:4px;
	height:10px;
	margin-top:5px;
}

/* block_lower_gnav
 * ------------------------- */
.block_lower_gnav {
  display: none;
}
/* lower_gnav
 * ------------------------- */
.block_lower_gnav {
  margin-top:10px;
}
.lower_gnav li {
  width: 140px;
  float: left;
  position: relative;
  background: url('../../common/img_20150623/pc/common/nav_line.png') no-repeat;
  background-position: left center;
}
.lower_gnav li:first-child {
  background: none;
}
.lower_gnav a {
  display: block;
  height: 0;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  border-bottom: #f4f4f4 5px solid;
}
.lower_gnav .nav_bycle a {
  background-image: url('../../common/img_20150623/pc/common/nav_bycle_sprite.png');
}
.lower_gnav .nav_traffic a {
  background-image: url('../../common/img_20150623/pc/common/nav_traffic_sprite.png');
}
.lower_gnav .nav_daily a {
  background-image: url('../../common/img_20150623/pc/common/nav_daily_sprite.png');
}
.lower_gnav .nav_pet a {
  background-image: url('../../common/img_20150623/pc/common/nav_pet_sprite.png');
}
.lower_gnav .nav_oversea a {
  background-image: url('../../common/img_20150623/pc/common/nav_oversea_sprite.png');
}
.lower_gnav .nav_golf a {
  background-image: url('../../common/img_20150623/pc/common/nav_golf_sprite.png');
}
.lower_gnav .nav_domestic a {
  background-image: url('../../common/img_20150623/pc/common/nav_domestic_sprite.png');
}
.lower_gnav .nav_bycle.current a,
.lower_gnav .nav_bycle a:hover {
  background-position: center bottom;
  border-color: #2a4287;
}
.lower_gnav .nav_bycle.current:after,
.lower_gnav .nav_bycle:hover:after {
  content: "";
  display: block;
  width: 13px;
  height: 8px;
  background: url('../../common/img_20150623/pc/common/icon_nav_arrow.png') no-repeat;
  background-position: left top;
  position: absolute;
  left: 50%;
  bottom: -8px;
  margin-left: -6.5px;
}
.lower_gnav .current a,
.lower_gnav a:hover {
  background-position: center bottom;
  border-color: #d36ca1;
}
.lower_gnav .current:after,
.lower_gnav li:hover:after {
  content: "";
  display: block;
  width: 14px;
  height: 8px;
  background: url('../../common/img_20150623/pc/common/icon_nav_arrow_pink.png') no-repeat;
  background-position: left top;
  position: absolute;
  left: 50%;
  bottom: -8px;
  margin-left: -7px;
}



/*/////////////////////////////
3-2.megamenu
 /////////////////////////////*/

html{

	overflow: auto;

	}


body{
	position: relative;
	overflow-x: hidden
	}

.menu {
position: relative;
max-width:980px;
 margin: 0 auto;
}

.menu > li {
    float: left;

}

.menu > li a {
    display: block;
    color: #fff;
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
  display: none;
/*    visibility: hidden;
    opacity: 0;*/
    z-index: 100;
	width:100%;

}

.menu > li:hover {
    -webkit-transition: all .5s;
    transition: all .5s;
}


.menu__third-level li {
    border-top: 1px solid #111;
}

.menu__second-level li a:hover {
    background: #111;
}

.menu__third-level li a:hover {
    background: #2a1f1f;
}

.menu__fourth-level li a:hover {
    background: #1d0f0f;
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
   *zoom: 1;
}

.menu__mega ul.menu__second-level {
  position: absolute;
  top: 71px!important;
  left: 0px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index:120;
  padding-top:30px;
  margin: 0 -200%;
  padding-left: 200%;
  padding-right: 200%;
  background:url(/pc/common/img/share/megamenu_bg.png) 0 27px repeat-x #fff;
  display: block;
  visibility: hidden;
	}
  .menu__mega_s ul.menu__second-level {
    position: absolute;
    top: 21px!important;
    left: 0px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index:120;
    padding-top:0px!important;
    margin: 0 -200%;
    padding-left: 200%;
    padding-right: 200%;
    background:url(/pc/common/img/share/megamenu_bg.png) 0 27px repeat-x;
    display: block;
    visibility: hidden;
  	}
.menu__mega ul.menu__second-level li.box{
width:100%;

	}

.menu__mega ul.menu__second-level .sankaku{
float:left;
display:block;
margin-top:-3%;
margin-left:25%;
}
  .menu__mega_s ul.menu__second-level .sankaku{
  float:left;
  display:block;
  margin-top:-1em!important;
  margin-left:18%;
  }

.menu__mega ul.menu__second-level #mega_contents{
max-width:100%;
background: #ec5500;
padding:2.5% 0 3% 0;
/*margin:0 auto!important;*/

}
  .menu__mega_s ul.menu__second-level #mega_contents{
  max-width:980px;
  padding:2.5% 0 3% 0;
  margin:0 auto!important;
  background:transparent!important;
  }
.menu__mega:hover ul.menu__second-level {
    top: 77px;
    /*display: block;*/
    /*visibility: visible;*/
}
.menu__mega ul.menu__second-level #mega_contents ul{
max-width:980px;
padding-top:2.5%;
clear:both;
}
.menu__mega ul.menu__second-level #mega_contents li.large{
width:49.55%;
float:left;
padding-right:0%;
margin-right:7px;
}
.menu__mega ul.menu__second-level #mega_contents li.large img{
	max-width:100%!important;
	width:100%!important;
}

.menu__mega ul.menu__second-level #mega_contents li{
width:16.3%;
border-left:none;
float:left;
padding-top:0%;
}

.menu__mega ul.menu__second-level #mega_contents li a{
padding:0;
display:block;
border:0;
margin-bottom:4px;
}
.menu__mega ul.menu__second-level #mega_contents li a img{
	background-color:#FFF;
	display:block;
	max-width:160px;
	width:160px!important;
}

@media (max-width: 960px) {
	
.menu__mega ul.menu__second-level #mega_contents li a img{
	max-width:100%;
	width:100%!important;
}
	
}


#header_tab_wrapper{
	top:80px;
	transition: all .4s;
	width:100%;
	padding:5px 0;
	background-color:#585757!important;
	margin-top:10px;
}
#header_tab_wrapper li{
	float:left;
	color:#FFFFFF;
	margin-right:1em;
	font-size:14px;
}
#header_tab_wrapper li span{
	color:#E7551C;
}
#header_tab_wrapper li a{
	color:#FFFFFF;
	text-decoration:none;
}
#header_tab{
	max-width:980px;
	position:relative;
	margin:0 auto;
	padding-left:10px;
	padding-right:10px;
}
#header_tab table{
	width:auto;
}
#header_tab table td{

	text-align:left;

}
#header_tab .left{
	width:20%;
	padding-right:2%;
	float:left;
	margin-top:5px;
}
#header_tab table img{
	max-width:100%;
}
#header_tab table{
	/*width:60%;*/
	float:left;
	margin-top:5px;
}
#header_tab #apply_btn{
	vertical-align:middle;
	width:12%;
	float:right;
}

#header_tab_wrapper{
	width:100%;
clear:both;
display:none;
}

#header_tab_wrapper .bycle_sub,
#header_tab_wrapper .byclebest_sub,
#header_tab_wrapper .bycles_sub,
#header_tab_wrapper .pet_sub,
#header_tab_wrapper .kaigai_sub,
#header_tab_wrapper .kokunai_sub,
#header_tab_wrapper .golf_sub,
#header_tab_wrapper .sports_sub,
#header_tab_wrapper .koutsuujiko_sub{
display:none;
}

.itemBicycle #header_tab_wrapper,.itemBicycle #header_tab_wrapper .bycle_sub{
display:block;

}

.itemBicyclebest #header_tab_wrapper,.itemBicyclebest #header_tab_wrapper .byclebest_sub{
display:block;

}
.itemBicycle-s #header_tab_wrapper,.itemBicycle-s #header_tab_wrapper .bycles_sub{
display:block!important;

}
.itemPet #header_tab_wrapper,.itemPet #header_tab_wrapper .pet_sub{
display:none;
}

.itemKaigai #header_tab_wrapper,.itemKaigai #header_tab_wrapper .kaigai_sub{
display:block;
}


.itemKokunai #header_tab_wrapper,.itemKokunai #header_tab_wrapper .kokunai_sub{
display:block;
}


.itemSports #header_tab_wrapper,.itemSports #header_tab_wrapper .sports_sub{
display:block;
}


.itemGolf #header_tab_wrapper,.itemGolf #header_tab_wrapper .golf_sub{
display:block;
}


.itemKoutsuujiko #header_tab_wrapper,.itemKoutsuujiko #header_tab_wrapper .koutsuujiko_sub{
display:block;
}



/*/////////////////////////////
 4. main
 /////////////////////////////*/

/* main
 * ------------------------- */


/*/////////////////////////////
 5. footer
 /////////////////////////////*/

/* footer
 * -----------------------------*/
 div#footer {
    background: #f5f5f5;
    padding-bottom: 0;
 }
.footer_new_wide {
    width: 100%;
    border-bottom:none;
}
.footer_new {
    width: 980px;
    margin: 0 auto;
    padding-top: 30px;
    overflow: hidden;
}
/* foot_nav */
.footer_new .foot_nav {
    overflow:visible;
}
.footer_new .foot_nav dl {
    width: 184px;
    float: left;
    margin-right:4px;
}

.footer_new .foot_nav dl.wide {
    width: 220px;
    float: left;
    margin-right:4px;
}

.footer_new .foot_nav dt {
    color: #2d2d2d;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 3px;
    border-bottom: #b3b3b3 2px solid;
    margin-bottom: 10px;
    display: inline-block;
}
.footer_new .foot_nav dd {
    line-height: 1.7;
}
.footer_new .foot_nav dd a {
    color: #2d2d2d;
    font-size: 12px;
    text-decoration: none;
}
.footer_new .foot_nav dd .icon_file:after {
    content: "";
    width: 10px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    background: url('/pc/common/img/share/icon_footer_file.png') no-repeat;
    background-position: left top;
    margin-left:3px;
}
.footer_new .foot_nav dd a:hover {
    text-decoration: underline;
}

.footer_new .foot_nav .double_nav{
    display: block;
    float: left;
    width: 184px;
    padding: 0 4px;
    box-sizing: border-box;
}
.footer_new .foot_nav .double_nav dl{
    float: left;
    box-sizing: inherit;
    width: 100%;
    margin-bottom: 30px;
}
@media (max-width:768px) {
	.footer_new .foot_nav .double_nav{
        width: 100%;
        float: none;
        clear: both;
        padding: 0;
	}
    .footer_new .foot_nav .double_nav dl{
        margin-bottom: 0;
        float: none;
        clear: both;
    }
}




/* foot_lower */
.foot_lower_wrap{
	background-color:#F5F5F5;
	margin-top:30px;
	border-top:3px solid #6f6f6f;
	/*padding-bottom:50px;*/
	height:130px;
}
.foot_lower {
	width: 980px;
	margin:0 auto;
	padding-bottom: 10px;
	padding-top: 20px;
}
/* foot_btns */
.foot_lower .foot_btns {
    width: ;
    float: left;
    letter-spacing: -0.4em;
    margin-top: 5px;
}
.foot_lower .foot_btns li {
    letter-spacing: normal;
    display: inline-block;
    margin-right: 15px;
	float:left;
}
.foot_lower .foot_logo_box {
    width: 354px;
    float: right;
}
.foot_lower .foot_logo {
	float:right;
	text-align:right;
}
.foot_lower .copy {
    font-size: 10px;
	margin-top:13px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	clear:both!important;
}
/* btn_totop */
.btn_totop {
	display:none;
	width:164px;
}
.btn_totop img{
	display:none;
}
 .scroll {
  position: fixed;
             bottom: 0px;
			 right:20px;
             /**right:50px;**/
			 z-index:9998;
			 display:block;
  }
 .fixed {
             position: absolute;
             bottom: 131px;
			 right:20px;
             /**right:50px;**/
			 /*z-index:9998;*/
			  display:block;
  }





/* square */
.small_square{
	font-size:10px;
	display:inline-block;
	vertical-align:top;
	margin: 2px 5px 0 0;
	color:#b3b3b3;
}
.foot_lower_sp{
	display:none;
}
/*bycle byclebest title */
.bycle_nidan{
	line-height:1.2em;
}
.bycle_dan{
	display:block;
}
.triangle_r{
	display:none;
}
.logo_box_l{
	display:inline-block;
}





/*/////////////////////////////
 6. bread_crumb
 /////////////////////////////*/

/* bread_crumb
 * -----------------------------*/
.block_bread_crumb {
  padding: 25px 0;
}
.block_bread_crumb.whith_btn {
  position: relative;
}
.bread_crumb {
  font-size: 12px;
  letter-spacing: -0.4em;
}
.bread_crumb li {
  color: #605f5d;
  letter-spacing: normal;
  display: inline-block;
  margin-right: 8px;
}
.bread_crumb li a {
  color: #605f5d;
  text-decoration: none;
}
.bread_crumb li:before {
  content: "";
  width: 4px;
  height: 7px;
  display: inline-block;
  background: url('../../common/img_20150623/pc/common/arrow_pankuzu.png') no-repeat;
  background-position: left top;
  margin-right: 5px;
}
.bread_crumb li:first-child:before {
  display: none;
}
.bread_crumb li a:hover {
  text-decoration: underline;
}



/*------------------------------*
 * premium table
 *------------------------------*/
.premium_table {
	border-collapse: separate;
	border-spacing: 2px;
	width: 100%;
}
.premium_table th {
	color: #FFF;
	height: 2.5em;
	text-align: center;
}
.premium_table td {
	font-size: 14px;
	font-weight: bold;
	height: 2em;
	text-align: center;
	vertical-align: middle;
	color: #595757;
}
.premium_table a{
	color: #595757;
	text-decoration: none;
}

.premium_table .col1 {
	width:25%;
}
.premium_table .col2 {
	width:25%;
}
.premium_table .col3 {
	width:1em;
}
.premium_table .col4 {
}
.premium_table .col5 {
	width:25%;
}
.premium_table .col6 {
	width:50%;
}
.premium_table th.caption, .premium_table caption {
	background-color: #4570AD;
	color: #FFF;
	font-weight: normal;
	height: 2.5em;
	text-align: center;
	vertical-align: middle;
}
.premium_table th.pay_type {
	background-color: #FFF;
	border: 2px solid #aaa;
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
.premium_table th.insurance_target {
	background-color: #585858;
	border: 2px solid #585858;
	color: #fff;
}
.premium_table th.insurance_target div{
	border: 1px solid #fff;
	padding:5px 0;
}
.premium_table td.pay_type {
	text-shadow: 1px 0px 0px #FFF;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background-color: #fafafa;
}

.premium_table td.coverage {
	background-color: #FFF;
	border-bottom: 1px solid #6783D0;
	border-right: 1px solid #6783D0;
	border-left: 1px solid #6783D0;

	font-weight: normal;
}
.premium_table.pointer_table td.coverage {
	cursor: pointer;
}
.premium_table th.coverage {
	background-color: #6783D0;
	border: 2px solid #6783D0;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.premium_table th.coverage div {
	padding:5px 0;
}
.premium_table th.bronz {
	background-color: #FFF;
	border: 2px solid #EE9163;
	color: #CE3123;
	font-weight: bold;
	text-decoration: none;
}
.premium_table td.bronz {
	text-shadow: 1px 0px 0px #FFF;
	border-right: 1px solid #FEC190;
	border-bottom: 1px solid #FEC190;
	background-color: #FFFAFA;
}

.premium_table th.silver {
	border: 2px solid #CCC;
	color: #000;
	font-weight: bold;
	background-color: #FEFEFE;
}
.premium_table .silver {
	text-shadow: 1px 0px 0px #FFF;
	border-right: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	background-color: #FEFEFE;
}

.premium_table th.gold {
	border: 2px solid #DECA73;
	color: #9E6A13;
	background-color: #FFF;
	font-weight: bold;
	text-decoration: none;
}
.premium_table .gold {
	border-right: 1px solid #EEE9AA;
	border-bottom: 1px solid #EEE9AA;
	background-color: #FFFFF0;
	text-shadow: 1px 0px 0px #FFF;
}
.premium_table .link_more {
	float:right;
	font-weight: normal;
	padding: 2px;
	text-align: right;
}
.premium_table .link_more img {
	width: 45px;
}
.premium_table div.bycle_order {
	color:#2A4287;
	margin:5px 0;
}
.premium_table .premium_small div.bycle_order{
	font-weight:normal;
	font-size:80%;
}
.premium_table.payment_table td{
	text-align:center;
	vertical-align:middle;
}
.premium_table .metro_btn{
	padding:10px 0;
}
.changed_display_line{
	display:none;
}
.paytable_title_betsu{
	display:none;
}
.course_betsu,
.target_title,
#mitsumori_family{
	display:none;
}
.bycle_byclebest_td{
	cursor:pointer;
	border:1px solid #ccc;
	border-left:none;
	padding:50px 0;
	color: #464646;
	font-size: 16px;
	font-weight: bold;
}
.bycle_byclebest_td img{
	width:140px;
	height:47px;
}
.bycle_byclebest_td:hover{
	background-color:#eee;
}



.header_new{
	background-color:#FFFFFF;
}
.header_new .login_btn{
	width:15%;
	float:right;
text-align:center;
padding:0!important;
margin-top:-8%;
position:relative;
z-index:9996;
}

.header_new .login_btn a{
padding:0!important;
}

/*.header_new .btn_login a {
  color: #464646;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  display: block;
  border: 2px solid #aaa;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 2px 6px 2px 2px;
  background-color:#fafafa;
}*/

/*.header_new .btn_login a img{
	display:inline-block;
	width:15px;
	vertical-align:top;
	padding:5px 10px;
}
.header_new .btn_login a div{
	display:inline-block;
}*/

.apply_btn{
	width:75%;
	background:#a3a3a4;
	padding-top:12px;
	padding-bottom:8px;
	height:35px;
}
.bycle .apply_btn,
.byclebest .apply_btn{
	padding-top: 0;
	padding-bottom: 0;
	height: 55px;
	background-color:#1AB408;
}
.bycle .apply_btn a,
.byclebest .apply_btn a{
	font-size:15px;
	font-weight:bold;
	color:#fff;
}
.bycle .apply_btn a:link,
.byclebest .apply_btn a:link,
.bycle .apply_btn a:visited,
.byclebest .apply_btn a:visited{
	color:#fff;
}
.bycle .apply_btn a > div,
.byclebest .apply_btn a > div{
	height:31px;
	margin:0;
	padding-bottom: 0;
	padding-top:16px;
	padding-left:0;
}

#header_tab .bycle_sub .mtset,
#header_tab .byclebest_sub .mtset{
	margin-top:21px;
}
