<h3 class="c-contact-box__heading -icon-tel">
  お電話でのご連絡<img src="/assets/img/icon/icon_free_call.svg" alt="通話料無料" class="c-contact-box__call-free" />
  <span class="c-contact-box__heading-sub">事故受付デスク</span>
</h3>
<div class="c-contact-box__content">
  <p class="c-contact-box__time">受付時間<span>24</span>時間<span>365</span>日</p>
  <p class="c-contact-box__tel"><a href="tel:0077780365"> 0077<span>-</span>78<span>-</span>0365 </a></p>
  <p class="c-contact-box__note">※携帯電話からもご利用いただけます。ただし一部のIP電話など、ご利用いただけない場合があります。</p>
  <p class="c-contact-box__note">※通話はサービス向上のため録音させていただきます。</p>
</div>
