<header class="l-header l-container lg:-full sm:-screen js-header">
  <div class="l-header__inner">
    <h1 class="l-header__logo">
      <a href="#">
        <picture>
          <source srcset="/assets/img/common/header_logo.webp" type="image/webp" />
          <img src="/assets/img/common/header_logo.png" alt="au損保" loading="eager" />
        </picture>
      </a>
    </h1>
    <div class="l-header-sub">
      <ul class="l-header-sub__list">
        <li class="l-header-sub__item"><a href="#">総合お問い合わせ</a></li>
        <li class="l-header-sub__item"><a href="#">よくあるご質問</a></li>
        <li class="l-header-sub__btn -login"><a href="#">ログイン</a></li>
        <li class="l-header-sub__btn -user"><a href="#">ご契約者さま</a></li>
      </ul>
    </div>
  </div>
  <!-- /.l-header__inner -->
  <nav class="l-header-nav">
    <ul class="l-header-nav__list">
      <li class="l-header-nav__item -current">
        <a href="#">
          自転車向け保険<br />
          ご契約者の方
        </a>
      </li>
      <li class="l-header-nav__item">
        <a href="#">事故の連絡をしたい</a>
      </li>
      <li class="l-header-nav__item">
        <a href="#">
          自転車ロードサービス<br />
          を呼びたい
        </a>
      </li>
      <li class="l-header-nav__item">
        <a href="#">保険金請求をしたい</a>
      </li>
      <li class="l-header-nav__item -small">
        <a href="#">
          重要事項説明書・<br />
          ご契約のしおり（約款）を<br />
          確認したい
        </a>
      </li>
      <li class="l-header-nav__item">
        <a href="#">
          電話やメールで<br />
          問合せをしたい
        </a>
      </li>
      <li class="l-header-nav__item">
        <a href="#">
          自転車の日アプリを<br />
          ダウンロードしたい
        </a>
      </li>
    </ul>
  </nav>
  <div class="l-header-menu">
    <div class="l-header-menu__btn js-header-menu">
      <div class="l-header-menu__inner">
        <span class="l-header-menu__bar"></span>
        <span class="l-header-menu__bar"></span>
        <span class="l-header-menu__bar"></span>
      </div>
      <div class="l-header-menu__text js-header-menu-text">メニュー</div>
    </div>
  </div>
  <div class="l-drawer js-drawer">
    <div class="l-drawer__search">
      <form>
        <input type="search" class="l-drawer__search-input" placeholder="お探しのキーワードをご入力ください" />
        <input type="submit" class="l-drawer__search-submit" value="" />
      </form>
    </div>
    <div class="l-drawer__wrapper">
      <div class="l-drawer__main">
        <h3 class="l-drawer__heading">商品ラインナップ</h3>
        <ul class="l-drawer__grid-1">
          <li class="l-drawer-toggle">
            <h4 class="l-drawer-toggle__heading -icon-bicycle js-drawer-toggle-btn">
              <span class="l-drawer-toggle__heading-sub">お客さまのライフスタイルに合わせて選べる</span>
              自転車向け保険
            </h4>
            <div class="js-drawer-toggle-content">
              <div class="l-drawer-toggle__row">
                <div class="l-drawer-toggle__col">
                  <ul class="l-drawer-toggle__list">
                    <li class="l-drawer-toggle__item">
                      <a href="#">Bycle<span class="l-drawer-toggle__sub">(バイクル)</span></a>
                      <ul class="l-drawer-toggle__list">
                        <li class="l-drawer-toggle__item"><a href="#">補償内容・サービス</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">保険金額と保険料</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">自転車ロードサービス</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="l-drawer-toggle__col">
                  <ul class="l-drawer-toggle__list">
                    <li class="l-drawer-toggle__item">
                      <a href="#">Bycle Best<span class="l-drawer-toggle__sub">(バイクルベスト)</span></a>
                      <ul class="l-drawer-toggle__list">
                        <li class="l-drawer-toggle__item"><a href="#">補償内容・サービス</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">保険金額と保険料</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">自転車ロードサービス</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="l-drawer-toggle__col">
                  <ul class="l-drawer-toggle__list">
                    <li class="l-drawer-toggle__item">
                      <a href="#">Bycle S<span class="l-drawer-toggle__sub">(バイクルエス)</span></a>
                      <ul class="l-drawer-toggle__list">
                        <li class="l-drawer-toggle__item"><a href="#">補償内容・サービス</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">保険金額と保険料</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">自転車ロードサービス</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="l-drawer-toggle__col">
                  <ul class="l-drawer-toggle__list">
                    <li class="l-drawer-toggle__item"><a href="#">自転車保険プラン診断</a></li>
                    <li class="l-drawer-toggle__item"><a href="#">お申込みについて</a></li>
                    <li class="l-drawer-toggle__item"><a href="#">よくあるご質問</a></li>
                    <li class="l-drawer-toggle__item"><a href="#">自転車保険の加入義務化について</a></li>
                    <li class="l-drawer-toggle__item"><a href="#">自転車に関するお役立ちコラム</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="l-drawer-toggle">
            <h4 class="l-drawer-toggle__heading -icon-pet js-drawer-toggle-btn">
              <span class="l-drawer-toggle__heading-sub">ワンちゃんネコちゃんのための医療保険</span>
              ペットの保険
            </h4>
            <div class="js-drawer-toggle-content">
              <div class="l-drawer-toggle__row">
                <div class="l-drawer-toggle__col">
                  <ul class="l-drawer-toggle__list">
                    <li class="l-drawer-toggle__item">
                      <a href="#">犬の保険</a>
                      <ul class="l-drawer-toggle__list">
                        <li class="l-drawer-toggle__item"><a href="#">犬の保険の特長</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">補償内容・保険料一覧</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">犬との暮らしに役立つコラム</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">治療事例</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">お申込みについて</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">よくあるご質問</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="l-drawer-toggle__col">
                  <ul class="l-drawer-toggle__list">
                    <li class="l-drawer-toggle__item">
                      <a href="#">猫の保険</a>
                      <ul class="l-drawer-toggle__list">
                        <li class="l-drawer-toggle__item"><a href="#">猫の保険の特長</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">補償内容・保険料一覧</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">猫との暮らしに役立つコラム</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">治療事例</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">お申込みについて</a></li>
                        <li class="l-drawer-toggle__item"><a href="#">よくあるご質問</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="l-drawer-toggle__col">
                  <ul class="l-drawer-toggle__list">
                    <li class="l-drawer-toggle__item"><a href="#">保険料シミュレーション</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="l-drawer-btn -icon-earth">
              <span class="l-drawer-btn__sub">海外旅行での病気・ケガに備える</span>
              海外旅行の保険
            </a>
          </li>
          <li>
            <a href="#" class="l-drawer-btn -icon-first-aid-kit">
              <span class="l-drawer-btn__sub">スポーツ・レジャー中のアクシデントに備える</span>
              ケガの保険 日常の事故
            </a>
          </li>
          <li>
            <a href="#" class="l-drawer-btn -icon-japan">
              <span class="l-drawer-btn__sub">国内旅行での病気・ケガに備える</span>
              国内旅行の保険
            </a>
          </li>
          <li>
            <a href="#" class="l-drawer-btn -icon-hurt">
              <span class="l-drawer-btn__sub">自転車事故を含む交通事故に備える</span>
              ケガの保険 交通事故
            </a>
          </li>
          <li>
            <a href="#" class="l-drawer-btn -icon-golf">
              <span class="l-drawer-btn__sub">ゴルフ中のアクシデントに備える</span>
              ゴルフの保険
            </a>
          </li>
        </ul>
      </div>
      <div class="l-drawer__sub">
        <h3 class="l-drawer__heading">ご契約者さまメニュー</h3>
        <p class="l-drawer__text">事故のご連絡・保険金のご請求・お問合せ・付帯サービスや専用アプリについては、ご契約者さまページをご覧ください。</p>
        <ul class="l-drawer__grid-2">
          <li>
            <a href="#" class="l-drawer-btn">継続のお手続き</a>
          </li>
          <li>
            <a href="#" class="l-drawer-btn">ご契約者さまへ</a>
          </li>
        </ul>
        <div class="l-drawer__grid-3">
          <div>
            <h3 class="l-drawer__heading">会社情報</h3>
            <ul class="l-drawer__list">
              <li class="l-drawer__item"><a href="#">会社情報</a></li>
              <li class="l-drawer__item"><a href="#">お知らせ</a></li>
              <li class="l-drawer__item"><a href="#">採用情報</a></li>
            </ul>
          </div>
          <div class="u-mt-8 sm:u-mt-0">
            <h3 class="l-drawer__heading">その他メニュー</h3>
            <ul class="l-drawer__list">
              <li class="l-drawer__item"><a href="#">お申込みについて</a></li>
              <li class="l-drawer__item"><a href="#">よくあるご質問</a></li>
              <li class="l-drawer__item"><a href="#">総合お問い合わせ</a></li>
              <li class="l-drawer__item"><a href="#">au損保のスマホアプリ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/assets/img/common/header_nav_scroll.svg" class="l-header-nav__scroll" alt="スクロールアイコン" loading="eager" />
</header>
